flows.json
[
    {
        "id": "8d441b1e1f9e38da",
        "type": "tab",
        "label": "MES POLIMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3816a5498bd282cb",
        "type": "tab",
        "label": "MES Dispatching",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7d6e607a0e416a67",
        "type": "MySQLdatabase",
        "name": "test",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "960cf71e5790e620",
        "type": "MySQLdatabase",
        "name": "",
        "host": "  db",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8fe1b8c2b9d8069a",
        "type": "MySQLdatabase",
        "name": "MES",
        "host": "db",
        "port": "3306",
        "db": "MES_POLIMI",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "264f4d45e89c5368",
        "type": "ui_tab",
        "name": "Form",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5cacd462fa2224f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d5982fc91e21a2a",
        "type": "ui_group",
        "name": "Order Setup",
        "tab": "264f4d45e89c5368",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0374e6d057e88ee9",
        "type": "mqtt-broker",
        "name": "MES Server",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de14ef11e7dc4d56",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Order Input",
        "func": "let type = flow.get('product_type');\nlet quantite = flow.get('nb_product');\n\nif (!type || !quantite) {\n    node.warn(\"Incomplete input\");\n    return null; \n}\n\nmsg.topic = \"INSERT INTO Orders (nb_product, product_type, status) VALUES (?, ?, 'WAITING');\";\nmsg.payload = [quantite, type];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 280,
        "wires": [
            [
                "dcc222f6d322e31f"
            ]
        ]
    },
    {
        "id": "dcc222f6d322e31f",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Order Insert",
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c3d7e3ebfa46c58",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders and Productions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "321ef8b9ec4432a6"
            ]
        ]
    },
    {
        "id": "24b0fb91cf54c062",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Productions",
        "func": "msg.topic = \"DELETE FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "8b3ece46f344d351"
            ]
        ]
    },
    {
        "id": "8b3ece46f344d351",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Delete Productions",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "cec95615ef423c17"
            ]
        ]
    },
    {
        "id": "cec95615ef423c17",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders and Productions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c1723890b99af02",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Begin Produce",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "a23c4fb65811150e"
            ]
        ]
    },
    {
        "id": "2859e31c5d17413b",
        "type": "switch",
        "z": "8d441b1e1f9e38da",
        "name": "Order Pending?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 640,
        "wires": [
            [
                "61f936dc33c0d0e9"
            ]
        ]
    },
    {
        "id": "e3a57c9eb541a5b7",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Orders",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "2859e31c5d17413b"
            ]
        ]
    },
    {
        "id": "1556ae4b033cfb81",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert Production",
        "x": 550,
        "y": 820,
        "wires": [
            [
                "c8a9bb372268af14"
            ]
        ]
    },
    {
        "id": "64738984acc84a83",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Pending Order",
        "func": "msg.topic = `\n    SELECT o.order_id, o.product_type, p.* FROM Orders o \n    JOIN Products p ON o.product_type = p.product_type \n    WHERE o.status = 'WAITING' \n    LIMIT 1;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "e3a57c9eb541a5b7"
            ]
        ]
    },
    {
        "id": "947dd5e1ce858a94",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Add Production",
        "func": "let order_id = msg.order_id;\n\nlet sn = order_id + \"_\" + Date.now();\n\nmsg.numSerie = sn;\n\nmsg.topic = \"INSERT INTO Production (productSN, order_id, cart_id, current_station, status) VALUES (?, ?, 1, 'Station1', 'IN_PROGRESS');\";\n\nmsg.payload = [sn, order_id];\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 820,
        "wires": [
            [
                "1556ae4b033cfb81"
            ]
        ]
    },
    {
        "id": "61f936dc33c0d0e9",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Change Order Status",
        "func": "let data = msg.payload[0]; \n\nmsg.order_id = data.order_id;\nmsg.productData = data;\nmsg.topic = \"UPDATE Orders SET status = 'IN_PROGRESS' WHERE order_id = ?;\";\n\nmsg.payload = [data.order_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            [
                "b8cdd283d08a4233"
            ]
        ]
    },
    {
        "id": "b8cdd283d08a4233",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order",
        "x": 580,
        "y": 720,
        "wires": [
            [
                "947dd5e1ce858a94"
            ]
        ]
    },
    {
        "id": "c8a9bb372268af14",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Assign Cart",
        "func": "let fleet = global.get('factory_fleet');\nlet priorityType = global.get('production_priority');\nlet order = msg.payload;\n\nlet data = msg.productData;\n\nlet sn = msg.numSerie; \n\nlet freeCart = fleet.find(c => c.sn === null);\n\nif (freeCart) {\n    freeCart.sn = msg.numSerie; \n    freeCart.state = 'EVALUATION';\n    freeCart.currentStation = 1;\n    freeCart.productData = msg.productData;\n    freeCart.isBypassed = false;\n    freeCart.order_id = data.order_id,\n    global.set('factory_fleet', fleet);\n\n    msg.payload = { action: 'DECISION', sn: freeCart.sn };\n    return msg;\n} else {\n    node.warn(\"No free carts available\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 920,
        "wires": [
            [
                "b43f5c1e5b80e7df"
            ]
        ]
    },
    {
        "id": "321ef8b9ec4432a6",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders",
        "func": "msg.topic = \"DELETE FROM Production;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "b0e67ffc26d4cb76"
            ]
        ]
    },
    {
        "id": "b0e67ffc26d4cb76",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Delete Orders",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "24b0fb91cf54c062"
            ]
        ]
    },
    {
        "id": "b43f5c1e5b80e7df",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Take Decision",
        "func": "let sn = msg.payload.sn;\n\nlet fleet = global.get('factory_fleet');\nlet stations = global.get('factory_stations');\n\nlet cart = fleet.find(c => c.sn === sn);\n\nif (!cart) return null;\nif (cart.state !== 'EVALUATION') return null;\n\nlet numStation = cart.currentStation;\n\nif (numStation > 6) {\n    msg.topic = \"UPDATE Production SET status = 'FINISHED' WHERE productSN = ?;\";\n    msg.payload = [sn];\n    msg.order_id = cart.order_id;\n    msg.productSN = sn;\n    msg.next_product = true;\n\n    stations[6] = null;\n\n    let cartId = cart.cart_id; \n    cart.sn = null;\n    cart.order_id = null;\n    cart.productData = null;\n    cart.currentStation = 0;\n    cart.state = 'IDLE';\n    cart.isBypassed = false;\n\n    global.set('factory_fleet', fleet);\n    global.set('factory_stations', stations);\n\n    return [msg, { payload: `[Product ${sn}] Production finished ! Cart ${cartId} is now FREE.` }];\n}\n\nstations[numStation] = cart.sn;\nif (numStation > 1) {\n    stations[numStation - 1] = null;\n}\n\nlet dbUpdateMsg = {\n    topic: \"UPDATE Production SET current_station = ? WHERE productSN = ?;\",\n    payload: [\"Station\" + numStation, sn]\n};\n\nlet commandMsg = { payload: {} };\nlet stopCol = \"Station\" + numStation + \"Stop\";\nlet opCol = \"Station\" + numStation + \"Op\";\n\ncart.state = 'ACK_WAIT';\n\nif (cart.productData[stopCol] === 1 || cart.productData[stopCol] === true) {\n    cart.isBypassed = false;\n    commandMsg.payload = `[Cart ${cart.cart_id} | Product ${sn} -> Station ${numStation}] INSTRUCTION : ${cart.productData[opCol]}`;\n} else {\n    cart.isBypassed = true;\n    commandMsg.payload = `[Cart ${cart.cart_id} | Product ${sn} -> Station ${numStation}] CHECK-IN ONLY (Bypass)`;\n}\n\nglobal.set('factory_fleet', fleet);\nglobal.set('factory_stations', stations);\n\nreturn [dbUpdateMsg, commandMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "310a8d7d2754bad1"
            ],
            [
                "7be39002b5515f1e"
            ]
        ]
    },
    {
        "id": "310a8d7d2754bad1",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert Finished Product",
        "x": 610,
        "y": 900,
        "wires": [
            [
                "decc9303957efc79",
                "7f793375b40450fb"
            ]
        ]
    },
    {
        "id": "ebc4145927af70fe",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "AcknowledgePhysicalAnswer",
        "func": "let machineAnswer = msg.payload; \nlet sn = machineAnswer.sn;\n\nlet fleet = global.get('factory_fleet');\nlet stations = global.get('factory_stations'); \n\nif (!fleet || !stations) return null; \n\nlet cart = fleet.find(c => c.sn === sn);\n\nif (!cart || cart.state === 'IDLE') return null;\n\nlet nextStation = cart.currentStation + 1;\n\nif (machineAnswer.response === \"ACK\" && cart.state === 'ACK_WAIT') {\n    \n    if (cart.isBypassed === true) {\n        if (stations[nextStation] === null || nextStation > 6) {\n            cart.state = 'EVALUATION';\n            cart.currentStation++;\n            \n            global.set('factory_fleet', fleet);\n            \n            return [\n                { payload: `[Cart ${cart.cart_id}] ACK received. BYPASSING... MOVE CART !` }, \n                { payload: { action: 'DECISION', sn: sn } } \n            ];\n        } else {\n            cart.state = 'BLOCKED';\n            global.set('factory_fleet', fleet);\n            return { payload: `[Cart ${cart.cart_id}] BYPASSED but PATH BLOCKED at Station ${nextStation}. Waiting...` };\n        }\n    } else {\n        cart.state = 'DONE_WAIT';\n        global.set('factory_fleet', fleet);\n        return { payload: `[Cart ${cart.cart_id}] ACK received. Operation in progress...` };\n    }\n}\n\nif (machineAnswer.response === \"DONE\" && cart.state === 'DONE_WAIT') {\n    \n    if (stations[nextStation] === null || nextStation > 6) {\n        cart.state = 'EVALUATION';\n        cart.currentStation++;\n        \n        global.set('factory_fleet', fleet);\n        \n        return [\n            { payload: `[Cart ${cart.cart_id}] DONE received. MOVE CART !` }, \n            { payload: { action: 'DECISION', sn: sn } } \n        ];\n\n    } else {\n        cart.state = 'BLOCKED';\n        global.set('factory_fleet', fleet);\n        return { payload: `[Cart ${cart.cart_id}] DONE received but PATH BLOCKED at Station ${nextStation}. Waiting...` };\n    }\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 980,
        "wires": [
            [
                "085afebbe848cfdd"
            ],
            [
                "b43f5c1e5b80e7df",
                "cfcda398729ca08e"
            ]
        ]
    },
    {
        "id": "643b35af03a1d06f",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Station Done",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": \"15_1775832547181\",     \"response\": \"DONE\" }",
        "payloadType": "json",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "932d1207d203e972"
            ]
        ]
    },
    {
        "id": "998a0880cbc23823",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Cart Arrives",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": \"15_1775832547181\" ,     \"response\": \"ACK\" }",
        "payloadType": "json",
        "x": 90,
        "y": 1080,
        "wires": [
            [
                "932d1207d203e972"
            ]
        ]
    },
    {
        "id": "085afebbe848cfdd",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "PhysicalStation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "decc9303957efc79",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputProductFinished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "7be39002b5515f1e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputDecision",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "cfcda398729ca08e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputAction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "48d0a54e54817425",
        "type": "ui_dropdown",
        "z": "8d441b1e1f9e38da",
        "name": "Select Type Of Product",
        "label": "Type Of Product",
        "tooltip": "",
        "place": "Select option",
        "group": "5d5982fc91e21a2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "b64d50c7e2d97fb6"
            ]
        ]
    },
    {
        "id": "611bf8d5bdf9debe",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Request Type Of Product",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2134d8a2a817cc33"
            ]
        ]
    },
    {
        "id": "2134d8a2a817cc33",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Request Type Of Product",
        "func": "msg.topic = \"SELECT product_type FROM Products;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "c99229d43f862c66"
            ]
        ]
    },
    {
        "id": "c99229d43f862c66",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Request Type Of Product",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "d29457d843a1b481"
            ]
        ]
    },
    {
        "id": "d29457d843a1b481",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Insert Into DropDown",
        "func": "if (!Array.isArray(msg.payload)) {\n    return null;\n}\n\nmsg.options = msg.payload.map(row => row.product_type);\n\nmsg.payload = \"\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "48d0a54e54817425"
            ]
        ]
    },
    {
        "id": "9ff79a563ba72fdc",
        "type": "ui_numeric",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Product Input",
        "label": "Number of Product",
        "tooltip": "",
        "group": "5d5982fc91e21a2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "13b16cbfaae17ea4"
            ]
        ]
    },
    {
        "id": "dd14154524c0955d",
        "type": "ui_button",
        "z": "8d441b1e1f9e38da",
        "name": "Submit Order",
        "group": "5d5982fc91e21a2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sumbit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "de14ef11e7dc4d56"
            ]
        ]
    },
    {
        "id": "13b16cbfaae17ea4",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Product Input",
        "rules": [
            {
                "t": "set",
                "p": "nb_product",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b64d50c7e2d97fb6",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Select Type Of Product",
        "rules": [
            {
                "t": "set",
                "p": "product_type",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4615304a7c339a8b",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "GetProduction",
        "x": 1080,
        "y": 900,
        "wires": [
            [
                "8d085d44ed72ad0c",
                "f80366565a9fda4f"
            ]
        ]
    },
    {
        "id": "7f793375b40450fb",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Get Order Info",
        "func": "if (!msg.next_product) {\n    return null;\n}\n\nmsg.payload = [msg.order_id];\n\nmsg.topic = `\n    SELECT\n        p.productSN, p.order_id, p.cart_id, p.status,\n        o.nb_product,\n        pr.*\n    FROM Production p\n    JOIN Orders o ON p.order_id = o.order_id\n    JOIN Products pr ON pr.product_type = o.product_type\n    WHERE p.status = 'FINISHED' AND p.order_id = ?;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 900,
        "wires": [
            [
                "4615304a7c339a8b"
            ]
        ]
    },
    {
        "id": "8d085d44ed72ad0c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Is Order Finished?",
        "func": "let totalProducts = msg.payload[0].nb_product;\nlet finishedProducts = msg.payload.length;\n\nlet remainingProducts = totalProducts - finishedProducts;\nmsg.remainingProducts = remainingProducts;\n\nif (remainingProducts > 0) {\n    msg.productData = msg.payload[0];\n    msg.order_id = msg.payload[0].order_id;\n    msg.production_status = \"PENDING\";\n    return [msg, null]; \n} else {\n    msg.production_status = \"FINISHED\";\n    return [null, msg]; \n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 740,
        "wires": [
            [
                "e64e58cc6b222b8f",
                "947dd5e1ce858a94"
            ],
            [
                "34d9317ec08052a2",
                "577822512f86621c"
            ]
        ]
    },
    {
        "id": "e64e58cc6b222b8f",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputRemainingProducts-Remaining",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "f80366565a9fda4f",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "debugGetProduction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 960,
        "wires": []
    },
    {
        "id": "34d9317ec08052a2",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputRemainingProducts-Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 780,
        "wires": []
    },
    {
        "id": "d0174d1415712577",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "257abc6cc0bf5605"
            ]
        ]
    },
    {
        "id": "a216d8f65d9994d0",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Test DB Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT 1 AS test_connexion;",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "d0174d1415712577"
            ]
        ]
    },
    {
        "id": "257abc6cc0bf5605",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Connection OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "0ee4da4c80425284",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Order",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea74bcdf73234576",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "0ee4da4c80425284"
            ]
        ]
    },
    {
        "id": "ae420591212b9497",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "ea74bcdf73234576"
            ]
        ]
    },
    {
        "id": "9a44244dea3cb636",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "ae420591212b9497"
            ]
        ]
    },
    {
        "id": "f79a37f9c5995765",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Production;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 90,
        "y": 340,
        "wires": [
            [
                "9a44244dea3cb636"
            ]
        ]
    },
    {
        "id": "577822512f86621c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Complete Order",
        "func": "let order_id = msg.order_id;\n\nmsg.order_id = order_id;\nmsg.topic = \"UPDATE Orders SET status = 'FINISHED' WHERE order_id = ?;\";\n\nmsg.payload = [order_id];\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "5b8099f0491d684d"
            ]
        ]
    },
    {
        "id": "5b8099f0491d684d",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Finish Order",
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "64738984acc84a83"
            ]
        ]
    },
    {
        "id": "e83349443db1a938",
        "type": "comment",
        "z": "8d441b1e1f9e38da",
        "name": "DELETE THIS LINK WHEN MULTIPLE PALET",
        "info": "",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "a23c4fb65811150e",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Initialize Line",
        "func": "let carts = [];\nfor (let i = 1; i <= 7; i++) {\n    carts.push({\n        cart_id: i,\n        order_id: null,\n        sn: null, \n        productData: null,          \n        currentStation: 0, \n        state: 'IDLE'\n    });\n}\n\nlet stations = {\n    1: null, 2: null, 3: null, 4: null, 5: null, 6: null\n};\n\nglobal.set('factory_fleet', carts);\nglobal.set('factory_stations', stations);\nglobal.set('production_priority', \"A\"); \n\nreturn { payload: \"Factory Initialized\" };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 640,
        "wires": [
            [
                "64738984acc84a83"
            ]
        ]
    },
    {
        "id": "932d1207d203e972",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Station 1 Priority Filter",
        "func": "let machineAnswer = msg.payload; \nlet sn = machineAnswer.sn;\n\nlet fleet = global.get('factory_fleet');\nlet priorityType = global.get('production_priority');\n\nif (!fleet || !priorityType) return [msg, null, null]; \n\nlet cart = fleet.find(c => c.sn === sn);\nif (!cart || cart.state === 'IDLE') return [msg, null, null];\n\n\nif (cart.currentStation === 1 && machineAnswer.response === \"ACK\") {\n    \n    let currentType = cart.productData.product_type; \n    let order_id = cart.order_id;\n\n    if (currentType !== priorityType) {\n        let dbUpdateMsg = {\n            topic: \"UPDATE Orders SET product_type = ? WHERE order_id = ?;\",\n            payload: [priorityType, order_id],\n            order_id: order_id,\n            sn: sn,\n            newType: priorityType\n        };\n\n        let newAction = \"NEW PRIORITY\";\n        let commandMsg = {\n            payload: `[Cart ${cart.cart_id}] OVERRIDE PRIORITY ! Abort previous action. NEW TYPE: ${priorityType} | NEW ACTION: ${newAction}`\n        };\n\n        cart.productData.product_type = priorityType;\n        global.set('factory_fleet', fleet);\n\n        return [null, dbUpdateMsg, commandMsg];\n    }\n}\n\nreturn [msg, null, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "ebc4145927af70fe"
            ],
            [
                "dbb2a792c9dedb70"
            ],
            [
                "27cf20efa57da21e"
            ]
        ]
    },
    {
        "id": "27cf20efa57da21e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Send New action to Station",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1160,
        "wires": []
    },
    {
        "id": "dbb2a792c9dedb70",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order Type",
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "8cbaf8e5a30c6ec0"
            ]
        ]
    },
    {
        "id": "5db297f4edeb65fb",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Actualize product data",
        "func": "let sn = msg.sn;\nlet productData = msg.payload[0];\n\nif (!sn || !productData) return null;\n\nlet fleet = global.get('factory_fleet');\nif (!fleet) return null;\n\nlet cart = fleet.find(c => c.sn === sn);\nif (!cart) return null;\n\nproductData.order_id = cart.order_id;\ncart.productData = productData;\n\nglobal.set('factory_fleet', fleet);\n\nglobal.set('factory_fleet', fleet);\n\nreturn { payload: `[Cart ${cart.cart_id}] Cart Update for product : ${productData.product_type} !` };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1100,
        "wires": [
            [
                "8c0249c268cd4caf"
            ]
        ]
    },
    {
        "id": "8cbaf8e5a30c6ec0",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ Product Data",
        "func": "\nlet newType = msg.newType;\nlet sn = msg.sn;\nlet order_id = msg.order_id;\n\nlet dbUpdateMsg = {\n            topic: \"SELECT o.order_id, o.product_type, p.* FROM Orders o JOIN Products p ON o.product_type = p.product_type JOIN Production pr ON o.order_id = ?;\",\n            payload: [order_id],\n            sn: sn,\n            newType: newType\n        };\n\nreturn dbUpdateMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "4253fdfca6e1343c"
            ]
        ]
    },
    {
        "id": "4253fdfca6e1343c",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order Type",
        "x": 1030,
        "y": 1100,
        "wires": [
            [
                "5db297f4edeb65fb"
            ]
        ]
    },
    {
        "id": "8c0249c268cd4caf",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputActualizeProduct",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "64300a9a705f2b0d",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Test DB Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT 1 AS test_connexion;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "1dfe85b2170f9f0c"
            ]
        ]
    },
    {
        "id": "cbef2752aff279ba",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Connection OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "1dfe85b2170f9f0c",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "cbef2752aff279ba"
            ]
        ]
    },
    {
        "id": "2bf07a92f434c46d",
        "type": "ui_form",
        "z": "3816a5498bd282cb",
        "d": true,
        "name": "Form",
        "label": "Form",
        "group": "5d5982fc91e21a2a",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Number of Products",
                "value": "nb_product",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Type of Product",
                "value": "product_type",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "nb_product": "",
            "product_type": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 730,
        "y": 40,
        "wires": [
            [
                "286a33ad59c541f6"
            ]
        ]
    },
    {
        "id": "286a33ad59c541f6",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Order Input",
        "func": "let formData = msg.payload;\n\nmsg.topic = \"INSERT INTO Orders (order_id, nb_product, product_type, status) VALUES (1,?, ?, 'WAITING');\";\n\nmsg.payload = [formData.nb_product, formData.product_type];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 40,
        "wires": [
            [
                "735e7f14f0b365ac"
            ]
        ]
    },
    {
        "id": "735e7f14f0b365ac",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Order Input",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "2f533f35eb3570f6"
            ]
        ]
    },
    {
        "id": "de5534568d34570d",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fd30e5b3ab519e04"
            ]
        ]
    },
    {
        "id": "fd30e5b3ab519e04",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "func": "msg.topic = \"SELECT order_id,product_type, nb_product  FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "131cb7ebe9b49c92"
            ]
        ]
    },
    {
        "id": "238961963b35b4e1",
        "type": "switch",
        "z": "3816a5498bd282cb",
        "name": "Order Pending?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "7f2c037d333e53bc"
            ]
        ]
    },
    {
        "id": "7f2c037d333e53bc",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "131cb7ebe9b49c92",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Order Pending",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "238961963b35b4e1"
            ]
        ]
    },
    {
        "id": "9f922816ba69f08b",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "3f53af9628b3399f"
            ]
        ]
    },
    {
        "id": "90fdb18dd2c720a3",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 200,
        "wires": [
            [
                "37222e351fad54cd"
            ]
        ]
    },
    {
        "id": "37222e351fad54cd",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "88b06910207165ac"
            ]
        ]
    },
    {
        "id": "88b06910207165ac",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Delete Order",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "e15364d8b3c88af6",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Begin Produce",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "96d8136c2fa388d8"
            ]
        ]
    },
    {
        "id": "a078a11bf8cce4e2",
        "type": "switch",
        "z": "3816a5498bd282cb",
        "name": "Order Pending?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "b28753ef0dfec75a",
                "eff7b1d55caa7d1e"
            ]
        ]
    },
    {
        "id": "57d0edad24f8466e",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Orders",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "a078a11bf8cce4e2"
            ]
        ]
    },
    {
        "id": "161cacd32b0f8c9d",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "InsertProduction",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "378b7f19deb29b1b"
            ]
        ]
    },
    {
        "id": "96d8136c2fa388d8",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Pending Order",
        "func": "msg.topic = `\n    SELECT o.order_id, o.product_type, p.* FROM Orders o \n    JOIN Products p ON o.product_type = p.product_type \n    WHERE o.status = 'WAITING' \n    LIMIT 1;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "57d0edad24f8466e"
            ]
        ]
    },
    {
        "id": "d4d9a394e7518970",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "AddProduction",
        "func": "let data = msg.productData;\n\nlet sn = data.order_id; \n\nmsg.numSerie = sn;\n\nmsg.topic = \"INSERT INTO Production (productSN, order_id, cart_id, current_station, status) VALUES (?, ?, 1, 'Station1', 'IN_PROGRESS');\";\n\nmsg.payload = [sn, data.order_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "161cacd32b0f8c9d"
            ]
        ]
    },
    {
        "id": "b28753ef0dfec75a",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "ChangeStatusOrder",
        "func": "let data = msg.payload[0]; \n\nmsg.productData = data;\nmsg.topic = \"UPDATE Orders SET status = 'IN_PROGRESS' WHERE order_id = ?;\";\n\nmsg.payload = [data.order_id]; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "bdd9748dab0380a2"
            ]
        ]
    },
    {
        "id": "bdd9748dab0380a2",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "UpdateOrder",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "d4d9a394e7518970"
            ]
        ]
    },
    {
        "id": "378b7f19deb29b1b",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "InitializeCart",
        "func": "let data = msg.productData;\n\nlet sn = msg.numSerie; \n\nlet stateCart = {\n    sn: sn,\n    order_id: data.order_id,\n    productData: data,\n    currentStation: 1,\n    state: 'EVALUATION',\n    isBypassed: false\n};\n\nflow.set('cart_' + sn, stateCart);\n\nmsg.payload = { action: 'DECISION', sn: sn };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "51daf7c5fcfce0d9"
            ]
        ]
    },
    {
        "id": "3f53af9628b3399f",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Production;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8ed6427d56020b5b"
            ]
        ]
    },
    {
        "id": "8ed6427d56020b5b",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "90fdb18dd2c720a3"
            ]
        ]
    },
    {
        "id": "51daf7c5fcfce0d9",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "TakeDecision",
        "func": "let sn = msg.payload.sn;\nlet cart = flow.get('cart_' + sn);\n\nif (!cart) return null; \nif (cart.state !== 'EVALUATION') return null;\n\nlet numStation = cart.currentStation;\n\nif (numStation > 6) {\n    msg.topic = `UPDATE Production SET status = 'FINISHED' WHERE productSN = ${sn};`;\n    flow.set('cart_' + sn, undefined);\n    return [msg, { payload: `[Product ${sn}] Production finished !` }];\n}\n\nlet dbUpdateMsg = {\n    topic: `UPDATE Production SET current_station = 'Station${numStation}' WHERE productSN = ${sn};`\n};\n\nlet commandMsg = { payload: {} };\nlet stopCol = \"Station\" + numStation + \"Stop\";\nlet opCol = \"Station\" + numStation + \"Op\";\n\ncart.state = 'ACK_WAIT';\n\nif (cart.productData[stopCol] === 1 || cart.productData[stopCol] === true) {\n    cart.isBypassed = false;\n    commandMsg.payload = `[Product ${sn} -> Station ${numStation}] INSTRUCTION : ${cart.productData[opCol]}`;\n} else {\n    cart.isBypassed = true;\n    commandMsg.payload = `[Product ${sn} -> Station ${numStation}] CHECK-IN ONLY (Bypass)`;\n}\n\nflow.set('cart_' + sn, cart);\n\nreturn [dbUpdateMsg, commandMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "534e15bf3784a8cd"
            ],
            [
                "4d692678ce5ad47c"
            ]
        ]
    },
    {
        "id": "534e15bf3784a8cd",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "InsertFinishedProduct",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "0333bc02a1590c00"
            ]
        ]
    },
    {
        "id": "e97d6bf971e81cfe",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "AcknowledgePhysicalAnswer",
        "func": "let machineAnswer = msg.payload; \nlet sn = machineAnswer.sn;\nlet cart = flow.get('cart_' + sn);\n\nif (!cart) return null;\n\nif (machineAnswer.response === \"ACK\" && cart.state === 'ACK_WAIT') {\n    \n    if (cart.isBypassed === true) {\n        cart.state = 'EVALUATION';\n        cart.currentStation++;\n        flow.set('cart_' + sn, cart);\n        \n        return [\n            { payload: `[Product ${sn} -> Station ${cart.currentStation - 1}] ACK received. BYPASSING... MOVE CART !` }, \n            { payload: { action: 'DECISION', sn: sn } } \n        ];\n    } else {\n        cart.state = 'DONE_WAIT';\n        flow.set('cart_' + sn, cart);\n        \n        return { payload: `[Product ${sn} -> Station ${cart.currentStation}] ACK received. Operation in progress...` };\n    }\n}\n\nif (machineAnswer.response === \"DONE\" && cart.state === 'DONE_WAIT') {\n    cart.state = 'EVALUATION';\n    cart.currentStation++;\n    flow.set('cart_' + sn, cart);\n    \n    return [\n        { payload: `[Product ${sn} -> Station ${cart.currentStation - 1}] DONE received. MOVE CART !` }, \n        { payload: { action: 'DECISION', sn: sn } }     ];\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "c5699fcf360059c6"
            ],
            [
                "51daf7c5fcfce0d9",
                "09886031219b6049"
            ]
        ]
    },
    {
        "id": "f94544de1f984fc0",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Station Done",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": 1,     \"response\": \"DONE\" }",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "e97d6bf971e81cfe"
            ]
        ]
    },
    {
        "id": "17574d453fb50ddf",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Cart Arrives",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": 1,     \"response\": \"ACK\" }",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "e97d6bf971e81cfe"
            ]
        ]
    },
    {
        "id": "c5699fcf360059c6",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Physical Station",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "0333bc02a1590c00",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Product Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d692678ce5ad47c",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Decision",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "09886031219b6049",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Output Action",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "2f533f35eb3570f6",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Ordem Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 40,
        "wires": []
    },
    {
        "id": "eff7b1d55caa7d1e",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Produce",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 340,
        "wires": []
    },
    {
        "id": "81d8078b0139bbaf",
        "type": "mqtt in",
        "z": "3816a5498bd282cb",
        "name": "MES Input",
        "topic": "",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0374e6d057e88ee9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 100,
        "y": 780,
        "wires": [
            []
        ]
    }
]