Node-RED Software/Back-up/Program/2024-12-04 - V6.0.1.json
[
    {
        "id": "06feb91a03b50935",
        "type": "tab",
        "label": "OPC UA AAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45ef8be93f5d3bc4",
        "type": "tab",
        "label": "Distribution [80] - AAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdc48601.ebf958",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:53881/UA/SimpleNodeRedServer",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "2b61e0d36e46f648",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "200.145.26.35",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "50",
        "timeout": "1500",
        "name": "CLP_Mestre",
        "vartable": [
            {
                "addr": "I20.0",
                "name": "O_20_On"
            },
            {
                "addr": "I20.1",
                "name": "O_20_Off"
            },
            {
                "addr": "I20.6",
                "name": "O_20_Controler_On"
            },
            {
                "addr": "I22.0",
                "name": "F_22_Led_On"
            },
            {
                "addr": "I22.1",
                "name": "F_22_Led_Off"
            },
            {
                "addr": "I22.7",
                "name": "F_22_Conveyor"
            },
            {
                "addr": "I34.0",
                "name": "O_34_Cart_Stat"
            },
            {
                "addr": "I34.1",
                "name": "O_34_Cart_Next"
            },
            {
                "addr": "I34.2",
                "name": "O_34_Optic"
            },
            {
                "addr": "I34.3",
                "name": "O_34_Count"
            },
            {
                "addr": "I34.4",
                "name": "O_34_Pist_Bck"
            },
            {
                "addr": "I34.5",
                "name": "F_34_Release_FB"
            },
            {
                "addr": "I35.0",
                "name": "O_35_Cart_Stat"
            },
            {
                "addr": "I35.1",
                "name": "O_35_Cart_Next"
            },
            {
                "addr": "I35.2",
                "name": "O_35_Optic"
            },
            {
                "addr": "I35.3",
                "name": "O_35_Count"
            },
            {
                "addr": "I35.4",
                "name": "O_35_Pist_Bck"
            },
            {
                "addr": "I35.5",
                "name": "F_35_Release_FB"
            },
            {
                "addr": "I36.0",
                "name": "O_36_Cart_Stat"
            },
            {
                "addr": "I36.1",
                "name": "O_36_Cart_Next"
            },
            {
                "addr": "I36.2",
                "name": "O_36_Optic"
            },
            {
                "addr": "I36.3",
                "name": "O_36_Count"
            },
            {
                "addr": "I36.4",
                "name": "O_36_Pist_Bck"
            },
            {
                "addr": "I36.5",
                "name": "F_36_Release_FB"
            },
            {
                "addr": "I37.0",
                "name": "O_37_Cart_Stat"
            },
            {
                "addr": "I37.1",
                "name": "O_37_Cart_Next"
            },
            {
                "addr": "I37.2",
                "name": "O_37_Optic"
            },
            {
                "addr": "I37.3",
                "name": "O_37_Count"
            },
            {
                "addr": "I37.4",
                "name": "O_37_Pist_Bck"
            },
            {
                "addr": "I37.5",
                "name": "F_37_Release_FB"
            },
            {
                "addr": "I38.0",
                "name": "O_38_Cart_Stat"
            },
            {
                "addr": "I38.1",
                "name": "O_38_Cart_Next"
            },
            {
                "addr": "I38.2",
                "name": "O_38_Optic"
            },
            {
                "addr": "I38.3",
                "name": "O_38_Count"
            },
            {
                "addr": "I38.4",
                "name": "O_38_Pist_Bck"
            },
            {
                "addr": "I38.5",
                "name": "F_38_Release_FB"
            },
            {
                "addr": "I39.0",
                "name": "O_39_Cart_Stat"
            },
            {
                "addr": "I39.1",
                "name": "O_39_Cart_Next"
            },
            {
                "addr": "I39.2",
                "name": "O_39_Optic"
            },
            {
                "addr": "I39.3",
                "name": "O_39_Count"
            },
            {
                "addr": "I39.4",
                "name": "O_39_Pist_Bck"
            },
            {
                "addr": "I39.5",
                "name": "F_39_Release_FB"
            },
            {
                "addr": "I50.0",
                "name": "O_50_Part_Reserve"
            },
            {
                "addr": "I50.1",
                "name": "O_50_Claw_Cart"
            },
            {
                "addr": "I50.2",
                "name": "O_50_Claw_Del"
            },
            {
                "addr": "I50.3",
                "name": "O_50_Claw_Reserve"
            },
            {
                "addr": "I50.4",
                "name": "O_50_Claw_Low"
            },
            {
                "addr": "I50.5",
                "name": "O_50_Claw_High"
            },
            {
                "addr": "I50.6",
                "name": "O_50_Part_in_Claw"
            },
            {
                "addr": "I51.0",
                "name": "O_51_Start"
            },
            {
                "addr": "I51.1",
                "name": "O_51_Stop"
            },
            {
                "addr": "I51.2",
                "name": "O_51_Key_Pos"
            },
            {
                "addr": "I51.3",
                "name": "O_51_Reset"
            },
            {
                "addr": "I51.4",
                "name": "O_51_Panel_I4"
            },
            {
                "addr": "I51.5",
                "name": "O_51_Panel_I5"
            },
            {
                "addr": "I51.6",
                "name": "O_51_Panel_I6"
            },
            {
                "addr": "I51.7",
                "name": "O_51_Panel_I7"
            },
            {
                "addr": "I52.0",
                "name": "F_52_Claw_2_Del"
            },
            {
                "addr": "I52.1",
                "name": "F_52_Claw_2_Cart"
            },
            {
                "addr": "I52.2",
                "name": "F_52_Claw_Down"
            },
            {
                "addr": "I52.3",
                "name": "F_52_Close_Claw"
            },
            {
                "addr": "I53.0",
                "name": "F_53_Led_Start"
            },
            {
                "addr": "I53.1",
                "name": "F_53_Led_Reset"
            },
            {
                "addr": "I53.2",
                "name": "F_53_Led_Extra1"
            },
            {
                "addr": "I53.3",
                "name": "F_53_Led_Extra2"
            },
            {
                "addr": "I53.4",
                "name": "F_53_Panel_O4"
            },
            {
                "addr": "I53.5",
                "name": "F_53_Panel_O5"
            },
            {
                "addr": "I53.6",
                "name": "F_53_Panel_O6"
            },
            {
                "addr": "I53.7",
                "name": "F_53_Panel_O7"
            },
            {
                "addr": "I60.0",
                "name": "O_60_SPart"
            },
            {
                "addr": "I60.1",
                "name": "O_60_SInd"
            },
            {
                "addr": "I60.2",
                "name": "O_60_SPhoto"
            },
            {
                "addr": "I60.3",
                "name": "O_60_Part_Pass"
            },
            {
                "addr": "I60.4",
                "name": "O_60_SL1_Bck"
            },
            {
                "addr": "I60.5",
                "name": "O_60_SL1_Fwd"
            },
            {
                "addr": "I60.6",
                "name": "O_60_SL2_Bck"
            },
            {
                "addr": "I60.7",
                "name": "O_60_SL2_Fwd"
            },
            {
                "addr": "I61.0",
                "name": "O_61_Start"
            },
            {
                "addr": "I61.1",
                "name": "O_61_Stop"
            },
            {
                "addr": "I61.2",
                "name": "O_61_Key_Pos"
            },
            {
                "addr": "I61.3",
                "name": "O_61_Reset"
            },
            {
                "addr": "I61.4",
                "name": "O_61_Panel_I4"
            },
            {
                "addr": "I61.5",
                "name": "O_61_Panel_I5"
            },
            {
                "addr": "I61.6",
                "name": "O_61_Panel_I6"
            },
            {
                "addr": "I61.7",
                "name": "O_61_Panel_I7"
            },
            {
                "addr": "I62.0",
                "name": "F_62_Conveyor"
            },
            {
                "addr": "I62.1",
                "name": "F_62_P1"
            },
            {
                "addr": "I62.2",
                "name": "F_62_P2"
            },
            {
                "addr": "I62.3",
                "name": "F_62_Identify"
            },
            {
                "addr": "I63.0",
                "name": "F_63_Led_Start"
            },
            {
                "addr": "I63.1",
                "name": "F_63_Led_Reset"
            },
            {
                "addr": "I63.2",
                "name": "F_63_Led_Extra1"
            },
            {
                "addr": "I63.3",
                "name": "F_63_Led_Extra2"
            },
            {
                "addr": "I63.4",
                "name": "F_63_Panel_O4"
            },
            {
                "addr": "I63.5",
                "name": "F_63_Panel_O5"
            },
            {
                "addr": "I63.6",
                "name": "F_63_Panel_O6"
            },
            {
                "addr": "I63.7",
                "name": "F_63_Panel_O7"
            },
            {
                "addr": "I65.0",
                "name": "O_65_ID_1"
            },
            {
                "addr": "I65.1",
                "name": "O_65_ID_2"
            },
            {
                "addr": "I70.0",
                "name": "O_70_SInductive"
            },
            {
                "addr": "I70.1",
                "name": "O_70_SPart"
            },
            {
                "addr": "I70.2",
                "name": "O_70_SStation"
            },
            {
                "addr": "I70.3",
                "name": "O_70_SPart_Height"
            },
            {
                "addr": "I70.4",
                "name": "O_70_Elev_High"
            },
            {
                "addr": "I70.5",
                "name": "O_70_Elev_Low"
            },
            {
                "addr": "I70.6",
                "name": "O_70_Pist_Back"
            },
            {
                "addr": "I71.0",
                "name": "O_71_Start"
            },
            {
                "addr": "I71.1",
                "name": "O_71_Stop"
            },
            {
                "addr": "I71.2",
                "name": "O_71_Key_Pos"
            },
            {
                "addr": "I71.3",
                "name": "O_71_Reset"
            },
            {
                "addr": "I71.4",
                "name": "O_71_Panel_I4"
            },
            {
                "addr": "I71.5",
                "name": "O_71_Panel_I5"
            },
            {
                "addr": "I71.6",
                "name": "O_71_Panel_I6"
            },
            {
                "addr": "I71.7",
                "name": "O_71_Panel_I7"
            },
            {
                "addr": "I72.0",
                "name": "F_72_Elev_Down"
            },
            {
                "addr": "I72.1",
                "name": "F_72_Elev_Up"
            },
            {
                "addr": "I72.2",
                "name": "F_72_Eject_Part"
            },
            {
                "addr": "I72.3",
                "name": "F_72_Air_On"
            },
            {
                "addr": "I73.0",
                "name": "F_73_Led_Start"
            },
            {
                "addr": "I73.1",
                "name": "F_73_Led_Reset"
            },
            {
                "addr": "I73.2",
                "name": "F_73_Led_Extra1"
            },
            {
                "addr": "I73.3",
                "name": "F_73_Led_Extra2"
            },
            {
                "addr": "I73.4",
                "name": "F_73_Panel_O4"
            },
            {
                "addr": "I73.5",
                "name": "F_73_Panel_O5"
            },
            {
                "addr": "I73.6",
                "name": "F_73_Panel_O6"
            },
            {
                "addr": "I73.7",
                "name": "F_73_Panel_O7"
            },
            {
                "addr": "I74.0",
                "name": "C_74_Request"
            },
            {
                "addr": "I74.1",
                "name": "C_74_No_Cart"
            },
            {
                "addr": "I74.2",
                "name": "C_74_Cart_Full"
            },
            {
                "addr": "I75.0",
                "name": "O_75_ID_Delivery1"
            },
            {
                "addr": "I75.1",
                "name": "O_75_ID_Delivery2"
            },
            {
                "addr": "I75.2",
                "name": "O_75_Part_Del"
            },
            {
                "addr": "I75.3",
                "name": "O_75_RQ_Part_Del"
            },
            {
                "addr": "I75.4",
                "name": "O_75_RQ_Wrong"
            },
            {
                "addr": "I80.0",
                "name": "O_80_Mag_Full"
            },
            {
                "addr": "I80.1",
                "name": "O_80_Pist_Back"
            },
            {
                "addr": "I80.2",
                "name": "O_80_Pist_Fwd"
            },
            {
                "addr": "I80.3",
                "name": "O_80_Part_Stuck"
            },
            {
                "addr": "I80.4",
                "name": "O_80_Arm_Mag"
            },
            {
                "addr": "I80.5",
                "name": "O_80_Arm_Del"
            },
            {
                "addr": "I80.6",
                "name": "O_80_Mag_Empty"
            },
            {
                "addr": "I81.0",
                "name": "O_81_Start"
            },
            {
                "addr": "I81.1",
                "name": "O_81_Stop"
            },
            {
                "addr": "I81.2",
                "name": "O_81_Key_Pos"
            },
            {
                "addr": "I81.3",
                "name": "O_81_Reset"
            },
            {
                "addr": "I81.4",
                "name": "O_81_Panel_I4"
            },
            {
                "addr": "I81.5",
                "name": "O_81_Panel_I5"
            },
            {
                "addr": "I81.6",
                "name": "O_81_Panel_I6"
            },
            {
                "addr": "I81.7",
                "name": "O_81_Panel_I7"
            },
            {
                "addr": "I82.0",
                "name": "F_82_Pist_Adv"
            },
            {
                "addr": "I82.1",
                "name": "F_82_Suction_On"
            },
            {
                "addr": "I82.2",
                "name": "F_82_Suction_Off"
            },
            {
                "addr": "I82.3",
                "name": "F_82_Arm_2_Del"
            },
            {
                "addr": "I82.4",
                "name": "F_82_Arm_2_Mag"
            },
            {
                "addr": "I83.0",
                "name": "F_83_Led_Start"
            },
            {
                "addr": "I83.1",
                "name": "F_83_Led_Reset"
            },
            {
                "addr": "I83.2",
                "name": "F_83_Led_Extra1"
            },
            {
                "addr": "I83.3",
                "name": "F_83_Led_Extra2"
            },
            {
                "addr": "I83.4",
                "name": "F_83_Panel_O4"
            },
            {
                "addr": "I83.5",
                "name": "F_83_Panel_O5"
            },
            {
                "addr": "I83.6",
                "name": "F_83_Panel_O6"
            },
            {
                "addr": "I83.7",
                "name": "F_83_Panel_O7"
            },
            {
                "addr": "I85.0",
                "name": "C_85_Initialization"
            },
            {
                "addr": "I90.0",
                "name": "O_90_Part_Reserve"
            },
            {
                "addr": "I90.1",
                "name": "O_90_Claw_Del"
            },
            {
                "addr": "I90.2",
                "name": "O_90_Claw_Cart"
            },
            {
                "addr": "I90.3",
                "name": "O_90_Claw_Reserve"
            },
            {
                "addr": "I90.4",
                "name": "O_90_Claw_Low"
            },
            {
                "addr": "I90.5",
                "name": "O_90_Claw_High"
            },
            {
                "addr": "I90.6",
                "name": "O_90_Part_in_Claw"
            },
            {
                "addr": "I91.0",
                "name": "O_91_Start"
            },
            {
                "addr": "I91.1",
                "name": "O_91_Stop"
            },
            {
                "addr": "I91.2",
                "name": "O_91_Key_Pos"
            },
            {
                "addr": "I91.3",
                "name": "O_91_Reset"
            },
            {
                "addr": "I91.4",
                "name": "O_91_Panel_I4"
            },
            {
                "addr": "I91.5",
                "name": "O_91_Panel_I5"
            },
            {
                "addr": "I91.6",
                "name": "O_91_Panel_I6"
            },
            {
                "addr": "I91.7",
                "name": "O_91_Panel_I7"
            },
            {
                "addr": "I92.0",
                "name": "F_92_Claw_2_Cart"
            },
            {
                "addr": "I92.1",
                "name": "F_92_Claw_2_Del"
            },
            {
                "addr": "I92.2",
                "name": "F_92_Claw_Down"
            },
            {
                "addr": "I92.3",
                "name": "F_92_Close_Claw"
            },
            {
                "addr": "I93.0",
                "name": "F_93_Led_Start"
            },
            {
                "addr": "I93.1",
                "name": "F_93_Led_Reset"
            },
            {
                "addr": "I93.2",
                "name": "F_93_Led_Extra1"
            },
            {
                "addr": "I93.3",
                "name": "F_93_Led_Extra2"
            },
            {
                "addr": "I93.4",
                "name": "F_93_Panel_O4"
            },
            {
                "addr": "I93.5",
                "name": "F_93_Panel_O5"
            },
            {
                "addr": "I93.6",
                "name": "F_93_Panel_O6"
            },
            {
                "addr": "I93.7",
                "name": "F_93_Panel_O7"
            },
            {
                "addr": "I100.0",
                "name": "O_100_PInit_Pos"
            },
            {
                "addr": "I100.1",
                "name": "O_100_PDrill_Pos"
            },
            {
                "addr": "I100.2",
                "name": "O_100_PTest_Pos"
            },
            {
                "addr": "I100.3",
                "name": "O_100_SDrill_High"
            },
            {
                "addr": "I100.4",
                "name": "O_100_SDrill_Low"
            },
            {
                "addr": "I100.5",
                "name": "O_100_RT_Sensor"
            },
            {
                "addr": "I100.6",
                "name": "O_100_PTest_Ok"
            },
            {
                "addr": "I101.0",
                "name": "O_101_Start"
            },
            {
                "addr": "I101.1",
                "name": "O_101_Stop"
            },
            {
                "addr": "I101.2",
                "name": "O_101_Key_Pos"
            },
            {
                "addr": "I101.3",
                "name": "O_101_Reset"
            },
            {
                "addr": "I101.4",
                "name": "O_101_Panel_I4"
            },
            {
                "addr": "I101.5",
                "name": "O_101_Panel_I5"
            },
            {
                "addr": "I101.6",
                "name": "O_101_Panel_I6"
            },
            {
                "addr": "I101.7",
                "name": "O_101_Panel_I7"
            },
            {
                "addr": "I102.0",
                "name": "F_102_Drill_On"
            },
            {
                "addr": "I102.1",
                "name": "F_102_RT_On"
            },
            {
                "addr": "I102.2",
                "name": "F_102_Drill_Down"
            },
            {
                "addr": "I102.3",
                "name": "F_102_Drill_Up"
            },
            {
                "addr": "I102.4",
                "name": "F_102_Drill_Pin"
            },
            {
                "addr": "I102.5",
                "name": "F_102_Test_Pin"
            },
            {
                "addr": "I103.0",
                "name": "F_103_Led_Start"
            },
            {
                "addr": "I103.1",
                "name": "F_103_Led_Reset"
            },
            {
                "addr": "I103.2",
                "name": "F_103_Led_Extra1"
            },
            {
                "addr": "I103.3",
                "name": "F_103_Led_Extra2"
            },
            {
                "addr": "I103.4",
                "name": "F_103_Panel_O4"
            },
            {
                "addr": "I103.5",
                "name": "F_103_Panel_O5"
            },
            {
                "addr": "I103.6",
                "name": "F_103_Panel_O6"
            },
            {
                "addr": "I103.7",
                "name": "F_103_Panel_O7"
            },
            {
                "addr": "Q20.0",
                "name": "I_20_Led_On"
            },
            {
                "addr": "Q20.1",
                "name": "I_20_Led_Off"
            },
            {
                "addr": "Q20.7",
                "name": "I_20_Conveyor"
            },
            {
                "addr": "Q25.0",
                "name": "C_25_Production"
            },
            {
                "addr": "Q34.0",
                "name": "I_34_Cart_Test"
            },
            {
                "addr": "Q34.1",
                "name": "C_34_Request"
            },
            {
                "addr": "Q35.0",
                "name": "I_35_Cart_Proc"
            },
            {
                "addr": "Q35.1",
                "name": "C_35_Request"
            },
            {
                "addr": "Q36.0",
                "name": "I_36_Cart_Vision"
            },
            {
                "addr": "Q36.1",
                "name": "C_36_Request"
            },
            {
                "addr": "Q37.0",
                "name": "I_37_Cart_Robot"
            },
            {
                "addr": "Q37.1",
                "name": "C_37_Request"
            },
            {
                "addr": "Q38.0",
                "name": "I_38_Cart_Storage"
            },
            {
                "addr": "Q38.1",
                "name": "C_38_Request"
            },
            {
                "addr": "Q39.0",
                "name": "I_39_Cart_Sort"
            },
            {
                "addr": "Q39.1",
                "name": "C_39_Request"
            },
            {
                "addr": "Q50.0",
                "name": "I_50_Claw_2_Del"
            },
            {
                "addr": "Q50.1",
                "name": "I_50_Claw_2_Cart"
            },
            {
                "addr": "Q50.2",
                "name": "I_50_Claw_Down"
            },
            {
                "addr": "Q50.3",
                "name": "I_50_Close_Claw"
            },
            {
                "addr": "Q51.0",
                "name": "I_51_Led_Start"
            },
            {
                "addr": "Q51.1",
                "name": "I_51_Led_Reset"
            },
            {
                "addr": "Q51.2",
                "name": "I_51_Led_Extra1"
            },
            {
                "addr": "Q51.3",
                "name": "I_51_Led_Extra2"
            },
            {
                "addr": "Q51.4",
                "name": "I_51_Panel_O4"
            },
            {
                "addr": "Q51.5",
                "name": "I_51_Panel_O5"
            },
            {
                "addr": "Q51.6",
                "name": "I_51_Panel_O6"
            },
            {
                "addr": "Q51.7",
                "name": "I_51_Panel_O7"
            },
            {
                "addr": "Q55.0",
                "name": "C_55_Cart2Del"
            },
            {
                "addr": "Q55.1",
                "name": "C_55_Del2Cart"
            },
            {
                "addr": "Q55.2",
                "name": "C_55_MoveArm"
            },
            {
                "addr": "Q60.0",
                "name": "I_60_Conveyor"
            },
            {
                "addr": "Q60.1",
                "name": "I_60_P1"
            },
            {
                "addr": "Q60.2",
                "name": "I_60_P2"
            },
            {
                "addr": "Q60.3",
                "name": "I_60_Identify"
            },
            {
                "addr": "Q61.0",
                "name": "I_61_Led_Start"
            },
            {
                "addr": "Q61.1",
                "name": "I_61_Led_Reset"
            },
            {
                "addr": "Q61.2",
                "name": "I_61_Led_Extra1"
            },
            {
                "addr": "Q61.3",
                "name": "I_61_Led_Extra2"
            },
            {
                "addr": "Q61.4",
                "name": "I_61_Panel_O4"
            },
            {
                "addr": "Q61.5",
                "name": "I_61_Panel_O5"
            },
            {
                "addr": "Q61.6",
                "name": "I_61_Panel_O6"
            },
            {
                "addr": "Q61.7",
                "name": "I_61_Panel_O7"
            },
            {
                "addr": "Q65.0",
                "name": "C_65_RBS_Output"
            },
            {
                "addr": "Q65.1",
                "name": "C_65_RSB_Output"
            },
            {
                "addr": "Q65.2",
                "name": "C_65_BRS_Output"
            },
            {
                "addr": "Q65.3",
                "name": "C_65_BSR_Output"
            },
            {
                "addr": "Q65.4",
                "name": "C_65_SRB_Output"
            },
            {
                "addr": "Q65.5",
                "name": "C_65_SBR_Output"
            },
            {
                "addr": "Q70.0",
                "name": "I_70_Elev_Down"
            },
            {
                "addr": "Q70.1",
                "name": "I_70_Elev_Up"
            },
            {
                "addr": "Q70.2",
                "name": "I_70_Eject_Part"
            },
            {
                "addr": "Q70.3",
                "name": "I_70_Air_On"
            },
            {
                "addr": "Q71.0",
                "name": "I_71_Led_Start"
            },
            {
                "addr": "Q71.1",
                "name": "I_71_Led_Reset"
            },
            {
                "addr": "Q71.2",
                "name": "I_71_Led_Extra1"
            },
            {
                "addr": "Q71.3",
                "name": "I_71_Led_Extra2"
            },
            {
                "addr": "Q71.4",
                "name": "I_71_Panel_O4"
            },
            {
                "addr": "Q71.5",
                "name": "I_71_Panel_O5"
            },
            {
                "addr": "Q71.6",
                "name": "I_71_Panel_O6"
            },
            {
                "addr": "Q71.7",
                "name": "I_71_Panel_O7"
            },
            {
                "addr": "Q75.0",
                "name": "I_75_RQ_Delivery1"
            },
            {
                "addr": "Q75.1",
                "name": "I_75_RQ_Delivery2"
            },
            {
                "addr": "Q75.2",
                "name": "C_75_Identified"
            },
            {
                "addr": "Q75.3",
                "name": "C_75_Requested"
            },
            {
                "addr": "Q80.0",
                "name": "I_80_Pist_Adv"
            },
            {
                "addr": "Q80.1",
                "name": "I_80_Suction_On"
            },
            {
                "addr": "Q80.2",
                "name": "I_80_Suction_Off"
            },
            {
                "addr": "Q80.3",
                "name": "I_80_Arm_2_Del"
            },
            {
                "addr": "Q80.4",
                "name": "I_80_Arm_2_Mag"
            },
            {
                "addr": "Q81.0",
                "name": "I_81_Led_Start"
            },
            {
                "addr": "Q81.1",
                "name": "I_81_Led_Reset"
            },
            {
                "addr": "Q81.2",
                "name": "I_81_Led_Extra1"
            },
            {
                "addr": "Q81.3",
                "name": "I_81_Led_Extra2"
            },
            {
                "addr": "Q81.4",
                "name": "I_81_Panel_O4"
            },
            {
                "addr": "Q81.5",
                "name": "I_81_Panel_O5"
            },
            {
                "addr": "Q81.6",
                "name": "I_81_Panel_O6"
            },
            {
                "addr": "Q81.7",
                "name": "I_81_Panel_O7"
            },
            {
                "addr": "QB83",
                "name": "C_83_RQ_Parts"
            },
            {
                "addr": "Q85.0",
                "name": "C_85_Start"
            },
            {
                "addr": "Q85.1",
                "name": "C_85_Single"
            },
            {
                "addr": "Q85.2",
                "name": "C_85_Continuous"
            },
            {
                "addr": "Q85.3",
                "name": "C_85_Counted"
            },
            {
                "addr": "Q90.0",
                "name": "I_90_Claw_2_Cart"
            },
            {
                "addr": "Q90.1",
                "name": "I_90_Claw_2_Del"
            },
            {
                "addr": "Q90.2",
                "name": "I_90_Claw_Down"
            },
            {
                "addr": "Q90.3",
                "name": "I_90_Close_Claw"
            },
            {
                "addr": "Q91.0",
                "name": "I_91_Led_Start"
            },
            {
                "addr": "Q91.1",
                "name": "I_91_Led_Reset"
            },
            {
                "addr": "Q91.2",
                "name": "I_91_Led_Extra1"
            },
            {
                "addr": "Q91.3",
                "name": "I_91_Led_Extra2"
            },
            {
                "addr": "Q91.4",
                "name": "I_91_Panel_O4"
            },
            {
                "addr": "Q91.5",
                "name": "I_91_Panel_O5"
            },
            {
                "addr": "Q91.6",
                "name": "I_91_Panel_O6"
            },
            {
                "addr": "Q91.7",
                "name": "I_91_Panel_O7"
            },
            {
                "addr": "Q95.0",
                "name": "C_95_Cart2Del"
            },
            {
                "addr": "Q95.1",
                "name": "C_95_Del2Cart"
            },
            {
                "addr": "Q95.2",
                "name": "C_95_MoveArm"
            },
            {
                "addr": "Q100.0",
                "name": "I_100_Drill_On"
            },
            {
                "addr": "Q100.1",
                "name": "I_100_RT_On"
            },
            {
                "addr": "Q100.2",
                "name": "I_100_Drill_Down"
            },
            {
                "addr": "Q100.3",
                "name": "I_100_Drill_Up"
            },
            {
                "addr": "Q100.4",
                "name": "I_100_Drill_Pin"
            },
            {
                "addr": "Q100.5",
                "name": "I_100_Test_Pin"
            },
            {
                "addr": "Q101.0",
                "name": "I_101_Led_Start"
            },
            {
                "addr": "Q101.1",
                "name": "I_101_Led_Reset"
            },
            {
                "addr": "Q101.2",
                "name": "I_101_Led_Extra1"
            },
            {
                "addr": "Q101.3",
                "name": "I_101_Led_Extra2"
            },
            {
                "addr": "Q101.4",
                "name": "I_101_Panel_O4"
            },
            {
                "addr": "Q101.5",
                "name": "I_101_Panel_O5"
            },
            {
                "addr": "Q101.6",
                "name": "I_101_Panel_O6"
            },
            {
                "addr": "Q101.7",
                "name": "I_101_Panel_O7"
            },
            {
                "addr": "Q105.0",
                "name": "C_105_Test"
            },
            {
                "addr": "Q105.1",
                "name": "C_105_TestDrill"
            },
            {
                "addr": "Q105.2",
                "name": "C_105_Rotation"
            }
        ]
    },
    {
        "id": "17ce36e45321145a",
        "type": "ui_tab",
        "name": "Distribution [80]",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d479105048f29ab",
        "type": "ui_group",
        "name": "Physical Sensors",
        "tab": "17ce36e45321145a",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "81e16a306762f98c",
        "type": "ui_group",
        "name": "Auxiliary Sensors",
        "tab": "17ce36e45321145a",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f249821fbf52ea2d",
        "type": "ui_group",
        "name": "Physical Feedback",
        "tab": "17ce36e45321145a",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18055fc8f150b4c8",
        "type": "ui_group",
        "name": "Auxiliary Feedback",
        "tab": "17ce36e45321145a",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "876b0c4a3944842f",
        "type": "ui_group",
        "name": "Physical Actuators",
        "tab": "17ce36e45321145a",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5402f0e209eabd7c",
        "type": "ui_group",
        "name": "Auxiliary Acutators",
        "tab": "17ce36e45321145a",
        "order": 6,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e461993fb78eebad",
        "type": "ui_tab",
        "name": "Controls and Information",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a43875c58a650d04",
        "type": "ui_group",
        "name": "Distribution [80]",
        "tab": "e461993fb78eebad",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bf576cdebe73fee",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0033ff",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#0033ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0033ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4d70ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0033ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Digital Twin AAS Model",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 41,
                "sy": 48,
                "gx": 4,
                "gy": 4,
                "cx": 5,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "65be6eb4c0807e21",
        "type": "OpcUa-Server",
        "z": "06feb91a03b50935",
        "port": "53881",
        "name": "OPC AAS Server",
        "endpoint": "UA/nodeset",
        "users": "",
        "nodesetDir": "C:\\ProjetoGemeo",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": false,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": true,
        "endpointSignEncrypt": true,
        "endpointBasic128Rsa15": true,
        "endpointBasic256": true,
        "endpointBasic256Sha256": true,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": 0,
        "maxNodesPerWrite": 0,
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "maxConnectionsPerEndpoint": 20,
        "maxMessageSize": 4096,
        "maxBufferSize": 4096,
        "maxSessions": 20,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "5397ec01755dff30"
            ]
        ]
    },
    {
        "id": "8347318c279fca4a",
        "type": "inject",
        "z": "06feb91a03b50935",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "7acc8807db31dca9"
            ]
        ]
    },
    {
        "id": "7acc8807db31dca9",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Header",
        "func": "let csvHeader = \"Variable;Namespace;Identifier\\n\";  // Define o cabeçalho do CSV\nmsg.payload = csvHeader;  // Coloca o cabeçalho como a carga útil\nmsg.append = false;  // Sobrescreve o arquivo\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 220,
        "wires": [
            [
                "df5336a5169ad3c2"
            ]
        ]
    },
    {
        "id": "df5336a5169ad3c2",
        "type": "file",
        "z": "06feb91a03b50935",
        "name": "CSV File",
        "filename": "C:\\ProjetoGemeo\\variable.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 380,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "756e176f6fbd37a8",
        "type": "file in",
        "z": "06feb91a03b50935",
        "name": "CSV File",
        "filename": "C:\\ProjetoGemeo\\variable.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "83de14d1d268d901"
            ]
        ]
    },
    {
        "id": "83de14d1d268d901",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Variable => ns;i",
        "func": "const csv = msg.payload;  // O conteúdo do CSV como string\nconst variable = msg.variable;  // A variável para buscar\n\nmsg.payload = {};\n\nconst lines = csv.trim().split('\\n');  // Divide o conteúdo em linhas e remove espaços extras\nconst header = lines.shift().split(';');  // Remove e divide o cabeçalho pelo delimitador ';'\n\nconst data = lines.map(line => {\n    const [Variable, Namespace, Identifier] = line.split(';').map(value => value.trim());\n    return { Variable, Namespace, Identifier };\n});\n\n// Debug: log the data and variable to check correctness\n// node.warn(`Data: ${JSON.stringify(data)}`);\n// node.warn(`Variable: ${variable}`);\n\nfunction getNamespaceIdentifier(variable) {\n    const row = data.find(r => r.Variable === variable);\n    if (row) {\n        return `${row.Namespace};${row.Identifier}`;\n    }\n    return null;\n}\n\nmsg.id = getNamespaceIdentifier(variable);\n\n// Debug: log the result\n// node.warn(`Identifier: ${msg.identifier}`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 300,
        "wires": [
            [
                "1ca0e1977d33b7ca"
            ]
        ]
    },
    {
        "id": "5362168452329780",
        "type": "file in",
        "z": "06feb91a03b50935",
        "name": "CSV File",
        "filename": "C:\\ProjetoGemeo\\variable.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 340,
        "y": 940,
        "wires": [
            [
                "a0312f323a70fdc7"
            ]
        ]
    },
    {
        "id": "a0312f323a70fdc7",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "ns;i => Variable",
        "func": "const csv = msg.payload;  // O conteúdo do CSV como string\nconst namespaceIdentifier = msg.identifier;  // O Namespace;Identifier para buscar\n\nconst lines = csv.trim().split('\\n');  // Divide o conteúdo em linhas e remove espaços extras\nconst header = lines.shift().split(';');  // Remove e divide o cabeçalho pelo delimitador ';'\n\nconst data = lines.map(line => {\n    const [Variable, Namespace, Identifier] = line.split(';').map(value => value.trim());\n    return { Variable, Namespace, Identifier };\n});\n\n// Debug: log the data and namespaceIdentifier to check correctness\n// node.warn(`Data: ${JSON.stringify(data)}`);\n// node.warn(`NamespaceIdentifier: ${namespaceIdentifier}`);\n\nfunction getVariable(namespaceIdentifier) {\n    const [namespace, identifier] = namespaceIdentifier.split(';').map(value => value.trim());\n    const row = data.find(r => r.Namespace === namespace && r.Identifier === identifier);\n    if (row) {\n        return row.Variable;\n    }\n    return null;\n}\n\nmsg.topic = getVariable(namespaceIdentifier);\nmsg.payload = msg.value;\n\n// Debug: log the result\n// node.warn(`Variable: ${msg.variable}`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 940,
        "wires": [
            [
                "35bc6595a3349b6a"
            ]
        ]
    },
    {
        "id": "153c44f4adc9c493",
        "type": "s7 in",
        "z": "06feb91a03b50935",
        "endpoint": "2b61e0d36e46f648",
        "mode": "all-split",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ec2453ba7eca3305",
                "b6f9ce7db2e93df4"
            ]
        ]
    },
    {
        "id": "ec2453ba7eca3305",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Filter for Distribution [80] ",
        "func": "// Obter o payload original\nlet payload = msg.payload;\nlet topic = msg.topic;\n\nif (topic.match(/_8[0-9]_/)) return msg;\nelse return null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "9218269b623a50fe"
            ]
        ]
    },
    {
        "id": "1ca0e1977d33b7ca",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Change Variable Value",
        "func": "// Create a new payload object\nmsg.payload = msg.value;\nmsg.topic = msg.id;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "8946ef3bb20e0cc4",
                "d2b8e184201fe89a"
            ]
        ]
    },
    {
        "id": "8946ef3bb20e0cc4",
        "type": "OpcUa-Client",
        "z": "06feb91a03b50935",
        "endpoint": "bdc48601.ebf958",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 1260,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9218269b623a50fe",
        "type": "link out",
        "z": "06feb91a03b50935",
        "name": "Dist_AAS_Read",
        "mode": "link",
        "links": [
            "10aec8b2e7f3d69b",
            "1d8eb5749b88715f",
            "a3b08b6377075956"
        ],
        "x": 1085,
        "y": 100,
        "wires": []
    },
    {
        "id": "b6f9ce7db2e93df4",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Msg Adjustment",
        "func": "let variable = msg.topic;\nlet value = msg.payload;\n\nmsg = {};\n\nmsg = {variable: variable, value: value, datatype: \"Boolean\"};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "756e176f6fbd37a8"
            ]
        ]
    },
    {
        "id": "b7cdab2c7670eefc",
        "type": "link in",
        "z": "06feb91a03b50935",
        "name": "AAS_Write",
        "links": [
            "40a12d295c31edcd",
            "12d3901afae31934"
        ],
        "x": 765,
        "y": 220,
        "wires": [
            [
                "b6f9ce7db2e93df4"
            ]
        ]
    },
    {
        "id": "4ca7e85350f074fc",
        "type": "function",
        "z": "06feb91a03b50935",
        "name": "Translate 1",
        "func": "msg.identifier = msg.payload.variableName;\nmsg.value = msg.payload.variableValue;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 940,
        "wires": [
            [
                "5362168452329780"
            ]
        ]
    },
    {
        "id": "5397ec01755dff30",
        "type": "link out",
        "z": "06feb91a03b50935",
        "name": "Server-Out",
        "mode": "link",
        "links": [
            "64fdba9593307d24"
        ],
        "x": 335,
        "y": 100,
        "wires": []
    },
    {
        "id": "64fdba9593307d24",
        "type": "link in",
        "z": "06feb91a03b50935",
        "name": "AAS_Translation_In",
        "links": [
            "5397ec01755dff30"
        ],
        "x": 85,
        "y": 940,
        "wires": [
            [
                "4ca7e85350f074fc"
            ]
        ]
    },
    {
        "id": "35bc6595a3349b6a",
        "type": "link out",
        "z": "06feb91a03b50935",
        "name": "AAS_Translate_Out",
        "mode": "link",
        "links": [],
        "x": 615,
        "y": 940,
        "wires": []
    },
    {
        "id": "df47ef6bda5fdf8f",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "Creates Translation Table for Distribution [80]",
        "info": "",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "0583372079e4e33c",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "Reading PLC Variables",
        "info": "",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "19383e9feaae10fa",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "Writing on PLC variables",
        "info": "",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "e3568102fcb8ec43",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "OPC-UA Variables Translation",
        "info": "",
        "x": 400,
        "y": 900,
        "wires": []
    },
    {
        "id": "a4fca18642bd5684",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "OPC-UA Server",
        "info": "",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2b8e184201fe89a",
        "type": "debug",
        "z": "06feb91a03b50935",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "33bdecae9f0842c0",
        "type": "comment",
        "z": "06feb91a03b50935",
        "name": "Current Version: 6.0.1",
        "info": "",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "07c8e271a57d6c8e",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 1,
        "group": "5d479105048f29ab",
        "width": "4",
        "height": "1",
        "label": "Magazine Full",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Mag_Full",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "8022b834929d1689",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 2,
        "group": "5d479105048f29ab",
        "width": "4",
        "height": "1",
        "label": "Piston Back",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Pist_Back",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "e152ee3841a7df8a",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 4,
        "group": "5d479105048f29ab",
        "width": 0,
        "height": 0,
        "label": "Part Stuck",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Part_Stuck",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "bfdf637cfaea5b50",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 5,
        "group": "5d479105048f29ab",
        "width": 0,
        "height": 0,
        "label": "Arm Magazine",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Arm_Mag",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "cc3532b28e123552",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 6,
        "group": "5d479105048f29ab",
        "width": 0,
        "height": 0,
        "label": "Arm Delivery",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Arm_Del",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "64c14e6097d31c37",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 7,
        "group": "5d479105048f29ab",
        "width": 0,
        "height": 0,
        "label": "Magazine Empty",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Mag_Empty",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "d6b412cd3547e1a4",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 1,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Start",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Start",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "15af77a6df5cbfdc",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 2,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Stop",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d0fa976fc77d6bc",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 3,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Key Position",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Key_Pos",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "def274d19dd894d2",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 4,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Reset",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Reset",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "ffd238a4f27cd4eb",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 5,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Panel I4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Panel_I4",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "a4a3efa9c9e2db10",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 6,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Panel I5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Panel_I5",
        "x": 360,
        "y": 560,
        "wires": []
    },
    {
        "id": "445020ed9948d8c0",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 7,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Panel I6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Panel_I6",
        "x": 360,
        "y": 600,
        "wires": []
    },
    {
        "id": "123ea5276e40525a",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 8,
        "group": "81e16a306762f98c",
        "width": 0,
        "height": 0,
        "label": "Panel I7",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_81_Panel_I7",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "b7e4b248a254637f",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 3,
        "group": "5d479105048f29ab",
        "width": 0,
        "height": 0,
        "label": "Piston Fwd",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "O_80_Pist_Fwd",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "5d7dda02f891dadc",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Sensor Signals",
        "info": "",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "e1b98645802a59ba",
        "type": "switch",
        "z": "45ef8be93f5d3bc4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "O_80_Mag_Full",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Pist_Back",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Pist_Fwd",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Part_Stuck",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Arm_Mag",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Arm_Del",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_80_Mag_Empty",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Key_Pos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Reset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Panel_I4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Panel_I5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Panel_I6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O_81_Panel_I7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 15,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "07c8e271a57d6c8e"
            ],
            [
                "8022b834929d1689"
            ],
            [
                "b7e4b248a254637f"
            ],
            [
                "e152ee3841a7df8a"
            ],
            [
                "bfdf637cfaea5b50"
            ],
            [
                "cc3532b28e123552"
            ],
            [
                "64c14e6097d31c37"
            ],
            [
                "d6b412cd3547e1a4"
            ],
            [
                "15af77a6df5cbfdc"
            ],
            [
                "1d0fa976fc77d6bc"
            ],
            [
                "def274d19dd894d2"
            ],
            [
                "ffd238a4f27cd4eb"
            ],
            [
                "a4a3efa9c9e2db10"
            ],
            [
                "445020ed9948d8c0"
            ],
            [
                "123ea5276e40525a"
            ]
        ]
    },
    {
        "id": "a3b08b6377075956",
        "type": "link in",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_LED",
        "links": [
            "9218269b623a50fe"
        ],
        "x": 35,
        "y": 360,
        "wires": [
            [
                "e1b98645802a59ba"
            ]
        ]
    },
    {
        "id": "31f51dcee5f0da41",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Feedback Signals",
        "info": "",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "e8c4341fc6fd5fe2",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 1,
        "group": "f249821fbf52ea2d",
        "width": 0,
        "height": 0,
        "label": "Piston Adv",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_82_Pist_Adv",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "392450a3213c7ccc",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 3,
        "group": "f249821fbf52ea2d",
        "width": 0,
        "height": 0,
        "label": "Suction On",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_82_Suction_On",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "192afc67c3471e48",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 4,
        "group": "f249821fbf52ea2d",
        "width": 0,
        "height": 0,
        "label": "Suction Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_82_Suction_Off",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "9819ee230e885297",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 5,
        "group": "f249821fbf52ea2d",
        "width": 0,
        "height": 0,
        "label": "Arm to Delivery",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_82_Arm_2_Del",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "0393f15d672b39dc",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 6,
        "group": "f249821fbf52ea2d",
        "width": 0,
        "height": 0,
        "label": "Arm to Magazine",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_82_Arm_2_Mag",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "33f5773ec1d90428",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 1,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Led Start",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Led_Start",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "6c04013532616e0b",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 2,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Led Reset",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Led_Reset",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "9838f629a19ce4d7",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 3,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Led Extra 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Led_Extra1",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "5e2f5f016a9c3d80",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 4,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Led Extra 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Led_Extra2",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "5a465842899ff89c",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 6,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Panel O5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Panel_O5",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "1b90a179f3477b5c",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 7,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Panel O6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Panel_O6",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "cb8995632b5c7390",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 8,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Panel O7",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Panel_O7",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "22d95004fc609c07",
        "type": "switch",
        "z": "45ef8be93f5d3bc4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "F_82_Pist_Adv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_82_Suction_On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_82_Suction_Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_82_Arm_2_Del",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_82_Arm_2_Mag",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Led_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Led_Reset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Led_Extra1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Led_Extra2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Panel_O4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Panel_O5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Panel_O6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F_83_Panel_O7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 13,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "e8c4341fc6fd5fe2"
            ],
            [
                "392450a3213c7ccc"
            ],
            [
                "192afc67c3471e48"
            ],
            [
                "9819ee230e885297"
            ],
            [
                "0393f15d672b39dc"
            ],
            [
                "33f5773ec1d90428"
            ],
            [
                "6c04013532616e0b"
            ],
            [
                "9838f629a19ce4d7"
            ],
            [
                "5e2f5f016a9c3d80"
            ],
            [
                "b4f1aef56d17d3a0"
            ],
            [
                "5a465842899ff89c"
            ],
            [
                "1b90a179f3477b5c"
            ],
            [
                "cb8995632b5c7390"
            ]
        ]
    },
    {
        "id": "10aec8b2e7f3d69b",
        "type": "link in",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_Read",
        "links": [
            "9218269b623a50fe"
        ],
        "x": 535,
        "y": 320,
        "wires": [
            [
                "22d95004fc609c07"
            ]
        ]
    },
    {
        "id": "870fad3e80e8c5e7",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Actuators HMI Commands",
        "info": "",
        "x": 150,
        "y": 700,
        "wires": []
    },
    {
        "id": "1d17c98a5cfd4970",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_80_Pist_Adv",
        "label": "Piston Adv",
        "tooltip": "",
        "group": "876b0c4a3944842f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_80_Pist_Adv",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "fc91bc209431e1b8",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_80_Suction_On",
        "label": "Suction On",
        "tooltip": "",
        "group": "876b0c4a3944842f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_80_Suction_On",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "2542414cd5668d88",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_80_Suction_Off",
        "label": "Suction Off",
        "tooltip": "",
        "group": "876b0c4a3944842f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_80_Suction_Off",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "1df58f64c04cc03b",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_80_Arm_2_Del",
        "label": "Arm to Delivery",
        "tooltip": "",
        "group": "876b0c4a3944842f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_80_Arm_2_Del",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "0c95e0b3e08525bf",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_80_Arm_2_Mag",
        "label": "Arm to Magazine",
        "tooltip": "",
        "group": "876b0c4a3944842f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_80_Arm_2_Mag",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "e22b8ebc259cbeaf",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Led_Start",
        "label": "Led Start",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Led_Start",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "6a008126a2772dd2",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Led_Reset",
        "label": "Led Reset",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Led_Reset",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "cac31bebce02b2ca",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Led_Extra1",
        "label": "Led Extra1",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Led_Extra1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "531d4c30dc536cae",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Led_Extra2",
        "label": "Led Extra2",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Led_Extra2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "79b18e554b78c1a6",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Panel_O4",
        "label": "Panel O4",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Panel_O4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "19b4d3f7993c4c13",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Panel_O5",
        "label": "Panel O5",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Panel_O5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "d41ae0e4c4aabb74",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Panel_O6",
        "label": "Panel O6",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Panel_O6",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "26fbb7fbbf82329f",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "I_81_Panel_O7",
        "label": "Panel O7",
        "tooltip": "",
        "group": "5402f0e209eabd7c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "I_81_Panel_O7",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "12d3901afae31934"
            ]
        ]
    },
    {
        "id": "12d3901afae31934",
        "type": "link out",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_Actuators",
        "mode": "link",
        "links": [
            "178f4faca7bd7aac",
            "b7cdab2c7670eefc"
        ],
        "x": 345,
        "y": 980,
        "wires": []
    },
    {
        "id": "93ca3f3f4b8631f5",
        "type": "ui_dropdown",
        "z": "45ef8be93f5d3bc4",
        "name": "Operating Mode",
        "label": "Mode",
        "tooltip": "Choose Operating Mode",
        "place": "Mode",
        "group": "a43875c58a650d04",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Single Mode",
                "value": "C_85_Single",
                "type": "str"
            },
            {
                "label": "Continuous Mode",
                "value": "C_85_Continuous",
                "type": "str"
            },
            {
                "label": "Counted Mode",
                "value": "C_85_Counted",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 1420,
        "wires": [
            [
                "a00c274792e1b0db",
                "91f29f6236ca9fce",
                "59ed63ef01fae1a7"
            ]
        ]
    },
    {
        "id": "a00c274792e1b0db",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Função C_85_Single",
        "func": "if (msg.payload === \"C_85_Single\") return { payload: true, topic: \"C_85_Single\"};\nelse return { payload: false, topic: \"C_85_Single\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "40a12d295c31edcd"
            ]
        ]
    },
    {
        "id": "91f29f6236ca9fce",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Função C_85_Continuous",
        "func": "if (msg.payload === \"C_85_Continuous\") return { payload: true, topic: \"C_85_Continuous\"};\nelse return { payload: false, topic: \"C_85_Continuous\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "40a12d295c31edcd"
            ]
        ]
    },
    {
        "id": "9b17859cf0926158",
        "type": "inject",
        "z": "45ef8be93f5d3bc4",
        "name": "IC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "C_85_Single",
        "payloadType": "str",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "93ca3f3f4b8631f5"
            ]
        ]
    },
    {
        "id": "537d9db5293c3023",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Control Variables",
        "info": "",
        "x": 400,
        "y": 1300,
        "wires": []
    },
    {
        "id": "12139a626862b5d7",
        "type": "ui_switch",
        "z": "45ef8be93f5d3bc4",
        "name": "C_85_Start",
        "label": "Start",
        "tooltip": "Start Production",
        "group": "a43875c58a650d04",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "C_85_Start",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "40a12d295c31edcd"
            ]
        ]
    },
    {
        "id": "40a12d295c31edcd",
        "type": "link out",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_Control",
        "mode": "link",
        "links": [
            "b7cdab2c7670eefc",
            "1d8eb5749b88715f"
        ],
        "x": 595,
        "y": 1380,
        "wires": []
    },
    {
        "id": "178f4faca7bd7aac",
        "type": "link in",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_PLC",
        "links": [
            "12d3901afae31934"
        ],
        "x": 435,
        "y": 980,
        "wires": [
            [
                "3b7b713e25570ee1"
            ]
        ]
    },
    {
        "id": "3b7b713e25570ee1",
        "type": "switch",
        "z": "45ef8be93f5d3bc4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "I_80_Pist_Adv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_80_Suction_On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_80_Suction_Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_80_Arm_2_Del",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_80_Arm_2_Mag",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Led_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Led_Reset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Led_Extra1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Led_Extra2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Panel_O4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Panel_O5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Panel_O6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I_81_Panel_O7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 13,
        "x": 560,
        "y": 980,
        "wires": [
            [
                "5cd39c0cca1f5eee"
            ],
            [
                "afe0392459df0f62"
            ],
            [
                "9e69613a9bf280f1"
            ],
            [
                "188b3eb26031f5b3"
            ],
            [
                "108c3ef8f7505803"
            ],
            [
                "b1194b0a3326ff95"
            ],
            [
                "a784aaf35f642c55"
            ],
            [
                "bb7fd5b530599ce6"
            ],
            [
                "ce98551303662097"
            ],
            [
                "6d8d6123a5de1904"
            ],
            [
                "6238b74a387f6a61"
            ],
            [
                "0dea6d601a7d4a4d"
            ],
            [
                "14f5aa168893a6b9"
            ]
        ]
    },
    {
        "id": "6f7b4d652fa58dad",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Actuators 2 PLC",
        "info": "",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "5cd39c0cca1f5eee",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_80_Pist_Adv",
        "name": "I_80_Pist_Adv",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "afe0392459df0f62",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_80_Suction_On",
        "name": "I_80_Suction_On",
        "x": 790,
        "y": 780,
        "wires": []
    },
    {
        "id": "9e69613a9bf280f1",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_80_Suction_Off",
        "name": "I_80_Suction_Off",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "188b3eb26031f5b3",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_80_Arm_2_Del",
        "name": "I_80_Arm_2_Del",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "108c3ef8f7505803",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_80_Arm_2_Mag",
        "name": "I_80_Arm_2_Mag",
        "x": 790,
        "y": 900,
        "wires": []
    },
    {
        "id": "b1194b0a3326ff95",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Led_Start",
        "name": "I_81_Led_Start",
        "x": 780,
        "y": 940,
        "wires": []
    },
    {
        "id": "a784aaf35f642c55",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Led_Reset",
        "name": "I_81_Led_Reset",
        "x": 780,
        "y": 980,
        "wires": []
    },
    {
        "id": "bb7fd5b530599ce6",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Led_Extra1",
        "name": "I_81_Led_Extra1",
        "x": 790,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ce98551303662097",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Led_Extra2",
        "name": "I_81_Led_Extra2",
        "x": 790,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6d8d6123a5de1904",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Panel_O4",
        "name": "I_81_Panel_O4",
        "x": 780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6238b74a387f6a61",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Panel_O5",
        "name": "I_81_Panel_O5",
        "x": 780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0dea6d601a7d4a4d",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Panel_O6",
        "name": "I_81_Panel_O6",
        "x": 780,
        "y": 1180,
        "wires": []
    },
    {
        "id": "14f5aa168893a6b9",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "I_81_Panel_O7",
        "name": "I_81_Panel_O7",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a4401eb7a3baf0d5",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "C_85_Single",
        "name": "C_85_Single",
        "x": 990,
        "y": 1380,
        "wires": []
    },
    {
        "id": "47c03b46afdbbe83",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "C_85_Continuous",
        "name": "C_85_Continuous",
        "x": 1010,
        "y": 1420,
        "wires": []
    },
    {
        "id": "03745b9443ebaa84",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "C_85_Start",
        "name": "C_85_Start",
        "x": 990,
        "y": 1340,
        "wires": []
    },
    {
        "id": "065b38b1fcb9f6e0",
        "type": "switch",
        "z": "45ef8be93f5d3bc4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "C_85_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_85_Single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_85_Continuous",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_85_Counted",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_85_Initialization",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 790,
        "y": 1420,
        "wires": [
            [
                "03745b9443ebaa84"
            ],
            [
                "a4401eb7a3baf0d5"
            ],
            [
                "47c03b46afdbbe83"
            ],
            [
                "400858d047a10596"
            ],
            [
                "e5efdb1710f4cc23"
            ]
        ]
    },
    {
        "id": "1d8eb5749b88715f",
        "type": "link in",
        "z": "45ef8be93f5d3bc4",
        "name": "Dist_AAS_Read",
        "links": [
            "40a12d295c31edcd",
            "9218269b623a50fe"
        ],
        "x": 675,
        "y": 1420,
        "wires": [
            [
                "065b38b1fcb9f6e0"
            ]
        ]
    },
    {
        "id": "b4f1aef56d17d3a0",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 5,
        "group": "18055fc8f150b4c8",
        "width": 0,
        "height": 0,
        "label": "Panel O4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "F_83_Panel_O4",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d7e2dd687a84cb6",
        "type": "s7 in",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "mode": "all",
        "variable": "",
        "diff": false,
        "name": "",
        "x": 110,
        "y": 1640,
        "wires": [
            [
                "7c250ea5c143d1f4"
            ]
        ]
    },
    {
        "id": "b49208834cafdd12",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Finds Variable",
        "func": "var station = msg.station;\nvar variableClass = msg.variableClass;\nvar variable = msg.variable;\nvar topic = \"br=/Objects/AASROOT/\"+ station + \"/OperationalData/\" + variableClass + \"/\" + variable + \"/Value\";\nmsg = {\n    variable: msg.variable,\n    datatype: \"Boolean\",\n    topic: topic\n}\nreturn msg;\n\n// topic: \"br=/Objects/AASROOT/myStation1/Handling2/Feedback/Q_94_Claw_2_Cart/Value\"",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "1f5efff057d7c032"
            ]
        ]
    },
    {
        "id": "7c250ea5c143d1f4",
        "type": "trigger",
        "z": "45ef8be93f5d3bc4",
        "name": "Trigger",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 260,
        "y": 1640,
        "wires": [
            [
                "a12c8cba41e9b98f"
            ]
        ]
    },
    {
        "id": "a12c8cba41e9b98f",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Creates Filtered List",
        "func": "// Obter o payload original\nlet payload = msg.payload;\n\n// Criar um novo objeto para armazenar as variáveis filtradas\nlet filteredPayload = {};\n\n// Filtrar apenas as variáveis que contém \"_80_\" no nome\nfor (let key in payload) {\n    if (key.match(/_8[0-9]_/)) {\n        filteredPayload[key] = payload[key];\n    }\n}\n\n// Definir o payload filtrado como a nova mensagem de saída\nmsg.payload = filteredPayload;\n\n// Retornar a mensagem\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1640,
        "wires": [
            [
                "f97983ee3b85bedd"
            ]
        ]
    },
    {
        "id": "1f5efff057d7c032",
        "type": "OpcUa-Client",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "bdc48601.ebf958",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "OPC Client",
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "0a7c14052bcd597e"
            ],
            []
        ]
    },
    {
        "id": "f97983ee3b85bedd",
        "type": "delay",
        "z": "45ef8be93f5d3bc4",
        "name": "6s delay",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 1640,
        "wires": [
            [
                "7cb196fc16ee4b6b"
            ]
        ]
    },
    {
        "id": "500ab6f3126e10d6",
        "type": "file",
        "z": "45ef8be93f5d3bc4",
        "name": "CSV File",
        "filename": "C:\\ProjetoGemeo\\variable.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 200,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "0a7c14052bcd597e",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Return of query",
        "func": "let csvLine = `${msg.variable};${msg.topic}\\n`;  // Cria uma nova linha com os valores\nmsg.payload = csvLine;  // Coloca a linha CSV como a carga útil\nmsg.append = true;  // Adiciona ao final do arquivo, sem sobrescrever\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1700,
        "wires": [
            [
                "500ab6f3126e10d6"
            ]
        ]
    },
    {
        "id": "7cb196fc16ee4b6b",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Creates Classes",
        "func": "let variables = msg.payload;  // Assumindo que msg.payload é um array de variáveis\nvar station = \"Distribution_80\";\nvar variableClass = \"\";\n\nfor (let key in variables) {\n    if (variables.hasOwnProperty(key)) {\n        if (key.includes(\"I_\")) variableClass = \"Actuators\";\n        if (key.includes(\"O_\")) variableClass = \"Sensors\";\n        if (key.includes(\"F_\")) variableClass = \"Feedback\";\n        if (key.includes(\"C_\")) variableClass = \"Control\";\n        if (variableClass != \"\") node.send({ variable: key, variableClass: variableClass, station: station });  // Envia uma mensagem com a linha atual\n    }\n}\n\nreturn null;  // Finaliza o nó principal (não precisa enviar mais mensagens depois do loop)\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1700,
        "wires": [
            [
                "b49208834cafdd12"
            ]
        ]
    },
    {
        "id": "8ccac287ad26fb46",
        "type": "comment",
        "z": "45ef8be93f5d3bc4",
        "name": "Creates Translation Table for Distribution [80]",
        "info": "",
        "x": 210,
        "y": 1600,
        "wires": []
    },
    {
        "id": "59ed63ef01fae1a7",
        "type": "function",
        "z": "45ef8be93f5d3bc4",
        "name": "Função C_85_Counted",
        "func": "if (msg.payload === \"C_85_Counted\") return { payload: true, topic: \"C_85_Counted\"};\nelse return { payload: false, topic: \"C_85_Counted\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1460,
        "wires": [
            [
                "40a12d295c31edcd"
            ]
        ]
    },
    {
        "id": "400858d047a10596",
        "type": "s7 out",
        "z": "45ef8be93f5d3bc4",
        "endpoint": "2b61e0d36e46f648",
        "variable": "C_85_Counted",
        "name": "C_85_Counted",
        "x": 1000,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e5efdb1710f4cc23",
        "type": "ui_led",
        "z": "45ef8be93f5d3bc4",
        "order": 1,
        "group": "a43875c58a650d04",
        "width": 0,
        "height": 0,
        "label": "C_85_Initialization",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "C_85_Initialization",
        "x": 1010,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0aee667d040ac4b5",
        "type": "ui_numeric",
        "z": "45ef8be93f5d3bc4",
        "name": "",
        "label": "Requested Parts",
        "tooltip": "Number of Counted Parts",
        "group": "a43875c58a650d04",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "C_83_RQ_Parts",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "40a12d295c31edcd",
                "af2a807291d3f933"
            ]
        ]
    },
    {
        "id": "79c3f753bc585ed7",
        "type": "inject",
        "z": "45ef8be93f5d3bc4",
        "name": "IC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "0aee667d040ac4b5"
            ]
        ]
    },
    {
        "id": "af2a807291d3f933",
        "type": "debug",
        "z": "45ef8be93f5d3bc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1500,
        "wires": []
    }
]