NodeRed-MES/flows.json
[
    {
        "id": "8d441b1e1f9e38da",
        "type": "tab",
        "label": "MES POLIMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3816a5498bd282cb",
        "type": "tab",
        "label": "MES Dispatching",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7d6e607a0e416a67",
        "type": "MySQLdatabase",
        "name": "test",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "960cf71e5790e620",
        "type": "MySQLdatabase",
        "name": "",
        "host": "  db",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8fe1b8c2b9d8069a",
        "type": "MySQLdatabase",
        "name": "MES",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "MES_POLIMI",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "264f4d45e89c5368",
        "type": "ui_tab",
        "name": "Register Order",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5cacd462fa2224f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d5982fc91e21a2a",
        "type": "ui_group",
        "name": "Order Setup",
        "tab": "264f4d45e89c5368",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0374e6d057e88ee9",
        "type": "mqtt-broker",
        "name": "MES Server",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "00426be119a79d1b",
        "type": "ui_tab",
        "name": "User Interface",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c283d1f336c1be31",
        "type": "ui_group",
        "name": "Orders",
        "tab": "00426be119a79d1b",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8068ff87c6587c75",
        "type": "ui_group",
        "name": "Production History",
        "tab": "00426be119a79d1b",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3651f4aa7a0a0ce",
        "type": "ui_group",
        "name": "Stations State",
        "tab": "00426be119a79d1b",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cddced30134a29d",
        "type": "ui_tab",
        "name": "Engineering Interface",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a09eb10a018f4e3a",
        "type": "ui_group",
        "name": "Initialize the Line",
        "tab": "9cddced30134a29d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "941b97812585655e",
        "type": "ui_group",
        "name": "Creat New Product",
        "tab": "9cddced30134a29d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de14ef11e7dc4d56",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Order Input",
        "func": "let type = flow.get('product_type');\nlet quantite = flow.get('nb_product');\nlet rawPriority = flow.get('priority');\n\nlet priority = (rawPriority === true || rawPriority === \"true\" || rawPriority === 1) ? 1 : 0;\n\nif (!type || !quantite) {\n    node.warn(\"Incomplete input\");\n    return null;\n}\n\nmsg.topic = \"INSERT INTO Orders (nb_product, product_type, status, priority) VALUES (?, ?, 'WAITING', ?);\";\nmsg.payload = [quantite, type, priority];\n\nflow.set('priority', false);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 280,
        "wires": [
            [
                "dcc222f6d322e31f"
            ]
        ]
    },
    {
        "id": "dcc222f6d322e31f",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Order Insert",
        "x": 450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c3d7e3ebfa46c58",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders and Productions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "321ef8b9ec4432a6"
            ]
        ]
    },
    {
        "id": "24b0fb91cf54c062",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Productions",
        "func": "msg.topic = \"DELETE FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "8b3ece46f344d351"
            ]
        ]
    },
    {
        "id": "8b3ece46f344d351",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Delete Productions",
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "cec95615ef423c17"
            ]
        ]
    },
    {
        "id": "cec95615ef423c17",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders and Productions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e3a57c9eb541a5b7",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Count Production",
        "x": 2220,
        "y": 1500,
        "wires": [
            [
                "6342795f167f4bd2"
            ]
        ]
    },
    {
        "id": "1556ae4b033cfb81",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert Production",
        "x": 690,
        "y": 1660,
        "wires": [
            [
                "b43f5c1e5b80e7df"
            ]
        ]
    },
    {
        "id": "64738984acc84a83",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ  Number IN_PROGRESS Production",
        "func": "msg.topic = `\n    SELECT COUNT(*) as total_active FROM Production WHERE status = 'IN_PROGRESS';\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1500,
        "wires": [
            [
                "e3a57c9eb541a5b7"
            ]
        ]
    },
    {
        "id": "947dd5e1ce858a94",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Add Production DB",
        "func": "let sn = msg.sn;\nlet order_id = msg.order_id;\nlet cart_id = msg.cart_id; \n\nmsg.topic = \"INSERT INTO Production (productSN, order_id, cart_id, current_station, status) VALUES (?, ?, ?, 'Station1', 'IN_PROGRESS');\";\n\nmsg.payload = [sn, order_id, cart_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1660,
        "wires": [
            [
                "1556ae4b033cfb81"
            ]
        ]
    },
    {
        "id": "b8cdd283d08a4233",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order",
        "x": 2160,
        "y": 1580,
        "wires": [
            [
                "c8a9bb372268af14"
            ]
        ]
    },
    {
        "id": "c8a9bb372268af14",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Assign Cart",
        "func": "let fleet = global.get('factory_fleet');\nlet stations = global.get('factory_stations'); \nlet priorityType = global.get('production_priority');\nlet data = msg.productData;\n\nlet order_id = msg.order_id;\nlet remainingProducts = msg.remainingProducts;\n\nif (remainingProducts > 0) {\n    if (stations[1] !== null) {\n        node.warn(`BLOCKED : Station 1 occupied by cart : ${stations[1]}`);\n        return null; \n    }\n\n    let freeCart = fleet.find(c => c.sn === null);\n    if (!freeCart) {\n        node.warn(\"No free carts available\");\n        return null;\n    }\n\n    let sn = order_id + \"_\" + Date.now();\n\n    freeCart.sn = sn;\n    freeCart.state = 'UPDATE';\n    freeCart.currentStation = 1;\n    freeCart.productData = data;\n    freeCart.isBypassed = false;\n    freeCart.order_id = order_id; \n\n    global.set('factory_fleet', fleet);\n\n    msg.sn = sn;\n    msg.order_id = order_id;\n\n    msg.cart_id = freeCart.cart_id; \n\n    node.warn(`Cart ${freeCart.cart_id} processing to Station 1`);\n    msg.machineCommand = { action: 'DECISION', sn: sn };\n\n    return msg;\n} else {\n    node.warn(\"No Order Processing\");\n    return null;\n}\n    ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1740,
        "wires": [
            [
                "947dd5e1ce858a94"
            ]
        ]
    },
    {
        "id": "321ef8b9ec4432a6",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Delete Orders",
        "func": "msg.topic = \"DELETE FROM Production;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1200,
        "wires": [
            [
                "b0e67ffc26d4cb76"
            ]
        ]
    },
    {
        "id": "b0e67ffc26d4cb76",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Delete Orders",
        "x": 700,
        "y": 1200,
        "wires": [
            [
                "24b0fb91cf54c062"
            ]
        ]
    },
    {
        "id": "b43f5c1e5b80e7df",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Take Decision",
        "func": "let fleet = global.get('factory_fleet');\nlet stations = global.get('factory_stations');\n\nlet sn = msg.payload.sn || msg.sn;\nlet cart = fleet.find(c => c.sn === sn);\n\nif (!cart) return null;\nif (cart.state !== 'UPDATE') return null;\n\nlet numStation = cart.currentStation;\n\nif (numStation > 6) {\n    msg.topic = \"UPDATE Production SET status = 'FINISHED', current_station = 'OUT' WHERE productSN = ?;\";\n    msg.payload = [sn];\n    msg.order_id = cart.order_id;\n    msg.productSN = sn;\n\n    stations[6] = null;\n\n    let cartId = cart.cart_id; \n    cart.sn = null;\n    cart.order_id = null;\n    cart.productData = null;\n    cart.currentStation = 0;\n    cart.state = 'IDLE';\n    cart.isBypassed = false;\n\n    global.set('factory_fleet', fleet);\n    global.set('factory_stations', stations);\n\n    return [msg, { payload: `[Product ${sn}] Production finished ! Cart ${cartId} is now FREE.` }];\n}\n\nstations[numStation] = cart.cart_id;\nif (numStation > 1) {\n    stations[numStation - 1] = null;\n}\n\nlet dbUpdateMsg = {\n    topic: \"UPDATE Production SET current_station = ? WHERE productSN = ?;\",\n    payload: [\"Station\" + numStation, sn],\n    order_id: cart.order_id,\n    productSN: sn\n};\n\nlet commandMsg = { payload: {} };\nlet stopCol = \"Station\" + numStation + \"Stop\";\nlet opCol = \"Station\" + numStation + \"Op\";\n\ncart.state = 'CART_IN_WAIT';\n\n\ncommandMsg.payload = `[Cart ${cart.cart_id} | Product ${sn} -> Station ${numStation}]. Waiting for CART_IN`;\n\n\nglobal.set('factory_fleet', fleet);\nglobal.set('factory_stations', stations);\n\nreturn [dbUpdateMsg, commandMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1740,
        "wires": [
            [
                "310a8d7d2754bad1"
            ],
            [
                "7be39002b5515f1e"
            ]
        ]
    },
    {
        "id": "310a8d7d2754bad1",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Production",
        "x": 1090,
        "y": 1720,
        "wires": [
            [
                "decc9303957efc79"
            ]
        ]
    },
    {
        "id": "ebc4145927af70fe",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "AcknowledgePhysicalAnswer",
        "func": "let machineAnswer = msg.payload; \nlet station_number = machineAnswer.station\n\nlet fleet = global.get('factory_fleet');\nlet stations = global.get('factory_stations'); \n\nif (!fleet || !stations) return null;  \n\nlet cart_id = stations[station_number];\n\n// if (cartId !== undefined) {\n// } else {\n// }\n\nlet cart = fleet.find(c => c.cart_id === cart_id);\n\nif (!cart || cart.state === 'IDLE') return null;\n\nlet sn = cart.sn;\n\nlet nextStation = cart.currentStation + 1;\nlet stopCol = \"Station\" + cart.currentStation + \"Stop\";\nlet opCol = \"Station\" + cart.currentStation + \"Op\";\n\nif (machineAnswer.response === \"CART_IN\" && cart.state === 'CART_IN_WAIT') {\n    \n    if (cart.productData[stopCol] === 1 || cart.productData[stopCol] === true) {\n        cart.state = 'DONE_WAIT';\n        global.set('factory_fleet', fleet);\n        return [\n            { payload: `[Station  ${cart.currentStation} | Cart ${cart.cart_id}] CART_IN received. Send instruction : ${cart.productData[opCol]}` },\n            { payload: { action: 'CHECK_NEXT_PRODUCT' }, order_id: cart.order_id }\n        ];    \n    } else {\n        if (stations[nextStation] === null || nextStation > 6) {\n            cart.state = 'UPDATE';\n            let ancientStation = cart.currentStation;\n            cart.currentStation++;\n\n            global.set('factory_fleet', fleet);\n\n\n\n            return [\n                { payload: `[Station  ${ancientStation} | Cart ${cart.cart_id}] CART_IN received. No instruction : BYPASSING... Release cart` },\n                { payload: { action: 'DECISION', sn: sn } }\n            ];\n        } else {\n            cart.state = 'BLOCKED';\n            global.set('factory_fleet', fleet);\n            return [ { payload: `[Station  ${cart.currentStation} | Cart ${cart.cart_id}] Operation BYPASSED but PATH BLOCKED at Station ${nextStation}. Waiting...` }, \n                        { \n                            payload: { action: 'CHECK_NEXT_PRODUCT' }, \n                            order_id: cart.order_id\n                        }\n        ];\n        }\n    }\n}\n\nif (machineAnswer.response === \"DONE\" && cart.state === 'DONE_WAIT') {\n    \n    if (stations[nextStation] === null || nextStation > 6) {\n        cart.state = 'UPDATE';\n        let ancientStation = cart.currentStation;\n        cart.currentStation++;\n        \n        global.set('factory_fleet', fleet);\n        \n        return [\n            { \n                payload: `[Station  ${ancientStation} | Cart ${cart.cart_id}] DONE received. Release cart for station ${cart.currentStation} !` ,\n                sn: sn\n            }, \n            { payload: { action: 'DECISION', sn: sn } } \n        ];\n\n    } else {\n        cart.state = 'BLOCKED';\n        global.set('factory_fleet', fleet);\n        return [ { payload: `[Cart ${cart.cart_id}] DONE received but PATH BLOCKED at Station ${nextStation}. Waiting...` }, \n                { \n                    payload: { action: 'CHECK_NEXT_PRODUCT' }, \n                    order_id: cart.order_id\n                }\n        ];\n    }\n}\n\nif (cart.state === 'BLOCKED') {\n    if (stations[nextStation] === null || nextStation > 6) {\n\n        cart.state = 'UPDATE';\n\n        let ancientStation = cart.currentStation;\n        cart.currentStation++;\n\n        global.set('factory_fleet', fleet);\n\n        return [\n            {\n                payload: `[Station  ${ancientStation} | Cart ${cart.cart_id}] PATH CLEARED for Station ${cart.currentStation}. MOVE CART !`,\n                sn: sn\n            },\n            { payload: { action: 'DECISION', sn: sn } }\n        ];\n\n    } else {\n        return [{ payload: `[Cart ${cart.cart_id}] Still BLOCKED. Waiting for Station ${nextStation} to clear...` }, \n    { \n        payload: { action: 'CHECK_NEXT_PRODUCT' }, \n        order_id: cart.order_id\n    }\n        ];\n    }\n\n\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2020,
        "wires": [
            [
                "085afebbe848cfdd"
            ],
            [
                "cfcda398729ca08e",
                "b43f5c1e5b80e7df"
            ]
        ]
    },
    {
        "id": "643b35af03a1d06f",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Station Done",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": \"15_1775832547181\",     \"response\": \"DONE\" }",
        "payloadType": "json",
        "x": 270,
        "y": 2200,
        "wires": [
            [
                "932d1207d203e972"
            ]
        ]
    },
    {
        "id": "998a0880cbc23823",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Cart Arrives",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": \"15_1775832547181\" ,     \"response\": \"CART_IN\" }",
        "payloadType": "json",
        "x": 270,
        "y": 2120,
        "wires": [
            [
                "932d1207d203e972"
            ]
        ]
    },
    {
        "id": "085afebbe848cfdd",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "PhysicalStation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1900,
        "wires": []
    },
    {
        "id": "7be39002b5515f1e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputNextStation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1840,
        "wires": []
    },
    {
        "id": "cfcda398729ca08e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputUpdate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2080,
        "wires": []
    },
    {
        "id": "48d0a54e54817425",
        "type": "ui_dropdown",
        "z": "8d441b1e1f9e38da",
        "name": "Select Type Of Product",
        "label": "Type Of Product",
        "tooltip": "",
        "place": "Select option",
        "group": "5d5982fc91e21a2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1390,
        "y": 100,
        "wires": [
            [
                "b64d50c7e2d97fb6"
            ]
        ]
    },
    {
        "id": "611bf8d5bdf9debe",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Request Type Of Product",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "2134d8a2a817cc33"
            ]
        ]
    },
    {
        "id": "2134d8a2a817cc33",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Request Type Of Product",
        "func": "msg.topic = \"SELECT product_type FROM Products;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "c99229d43f862c66"
            ]
        ]
    },
    {
        "id": "c99229d43f862c66",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Request Type Of Product",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "1fe9e5f7809df3d1"
            ]
        ]
    },
    {
        "id": "d29457d843a1b481",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Insert Into DropDown",
        "func": "if (!Array.isArray(msg.payload)) {\n    return null;\n}\n\nmsg.options = msg.payload.map(row => row.product_type);\n\nmsg.payload = \"\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 100,
        "wires": [
            [
                "48d0a54e54817425"
            ]
        ]
    },
    {
        "id": "9ff79a563ba72fdc",
        "type": "ui_numeric",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Product Input",
        "label": "Number of Product",
        "tooltip": "",
        "group": "5d5982fc91e21a2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "13b16cbfaae17ea4"
            ]
        ]
    },
    {
        "id": "dd14154524c0955d",
        "type": "ui_button",
        "z": "8d441b1e1f9e38da",
        "name": "Submit Order",
        "group": "5d5982fc91e21a2a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sumbit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "de14ef11e7dc4d56"
            ]
        ]
    },
    {
        "id": "13b16cbfaae17ea4",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Product Input",
        "rules": [
            {
                "t": "set",
                "p": "nb_product",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b64d50c7e2d97fb6",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Select Type Of Product",
        "rules": [
            {
                "t": "set",
                "p": "product_type",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4615304a7c339a8b",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "GetProduction",
        "x": 1360,
        "y": 1340,
        "wires": [
            [
                "8d085d44ed72ad0c",
                "f80366565a9fda4f"
            ]
        ]
    },
    {
        "id": "7f793375b40450fb",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Get Order Info",
        "func": "if (msg.orderIndex === undefined) {\n    if (!msg.payload || msg.payload.length === 0) {\n        node.status({ fill: \"grey\", shape: \"ring\", text: \"Aucune commande\" });\n        return null;\n    }\n    msg.ordersArray = msg.payload; \n    msg.orderIndex = 0;           \n}\n\nif (msg.orderIndex >= msg.ordersArray.length) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Usine saturée\" });\n    delete msg.ordersArray;\n    delete msg.orderIndex;\n    return null; \n}\n\nlet currentOrder = msg.ordersArray[msg.orderIndex];\n\nmsg.payload = [currentOrder.order_id];\nmsg.topic = `\n   SELECT\n        o.order_id, o.nb_product, pr.*,\n        COUNT(p.productSN) AS total_processed,\n        SUM(CASE WHEN p.status = 'FINISHED' THEN 1 ELSE 0 END) AS count_finished,\n        SUM(CASE WHEN p.status = 'IN_PROGRESS' THEN 1 ELSE 0 END) AS count_in_progress\n    FROM Orders o\n    JOIN Products pr ON pr.product_type = o.product_type\n    LEFT JOIN Production p ON p.order_id = o.order_id AND p.status IN ('FINISHED', 'IN_PROGRESS')\n    WHERE o.order_id = ?\n    GROUP BY o.order_id;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1340,
        "wires": [
            [
                "4615304a7c339a8b"
            ]
        ]
    },
    {
        "id": "8d085d44ed72ad0c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Is Order Finished?",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Error : No command\" });\n    return null;\n}\n\nlet totalProducts = msg.payload[0].nb_product;\nlet processedProducts = msg.payload[0].total_processed;\nlet finishedProducts = msg.payload[0].count_finished;\n\nlet remainingProducts = totalProducts - processedProducts;\nmsg.remainingProducts = remainingProducts;\n\nif (remainingProducts > 0) {\n    msg.productData = msg.payload[0];\n    msg.order_id = msg.payload[0].order_id;\n    msg.production_status = \"PENDING_PRODUCTS\";\n\n    node.status({ fill: \"blue\", shape: \"dot\", text: `Remaining ${remainingProducts}/${totalProducts} products (Order ${msg.order_id})` });\n    \n    delete msg.ordersArray;\n    delete msg.orderIndex;\n    \n    return [msg, null, null];\n\n} else if (totalProducts === finishedProducts) {\n    msg.production_status = \"FINISHED\";\n    msg.order_id = msg.payload[0].order_id;\n    \n    node.status({ fill: \"green\", shape: \"dot\", text: `Order ${msg.order_id} Finished !` });\n    \n    delete msg.ordersArray;\n    delete msg.orderIndex;\n    \n    return [null, msg, null];\n\n} else {\n    msg.production_status = \"NEXT ORDER\";\n    \n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"Transition to next order\" });\n\n    msg.orderIndex += 1;\n\n    return [null, null, msg];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1420,
        "wires": [
            [
                "e64e58cc6b222b8f",
                "64738984acc84a83"
            ],
            [
                "34d9317ec08052a2",
                "577822512f86621c"
            ],
            [
                "7f793375b40450fb"
            ]
        ]
    },
    {
        "id": "e64e58cc6b222b8f",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputRemainingProducts-Remaining",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f80366565a9fda4f",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "debugGetProduction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 1340,
        "wires": []
    },
    {
        "id": "34d9317ec08052a2",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputRemainingProducts-Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d0174d1415712577",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "257abc6cc0bf5605"
            ]
        ]
    },
    {
        "id": "a216d8f65d9994d0",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Test DB Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT 1 AS test_connexion;",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "d0174d1415712577"
            ]
        ]
    },
    {
        "id": "257abc6cc0bf5605",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Connection OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "577822512f86621c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Complete Order",
        "func": "let order_id = msg.order_id;\n\nmsg.order_id = order_id;\nmsg.topic = \"UPDATE Orders SET status = 'FINISHED' WHERE order_id = ?;\";\n\nmsg.payload = [order_id];\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1420,
        "wires": [
            [
                "5b8099f0491d684d"
            ]
        ]
    },
    {
        "id": "5b8099f0491d684d",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Finish Order",
        "x": 2130,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "932d1207d203e972",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Station 1 Priority Filter",
        "func": "let machineAnswer = msg.payload; \nlet station_number = machineAnswer.station\n\n//let sn = machineAnswer.sn;\n\nlet fleet = global.get('factory_fleet');\nlet priorityType = global.get('production_priority');\nlet stations = global.get('factory_stations');\n\n\nif (!fleet || !priorityType) return [msg, null, null]; \n\nlet cart_id = stations[station_number];\n\n// if (cartId !== undefined) {\n// } else {\n// }\n\nlet cart = fleet.find(c => c.cart_id === cart_id);\nif (!cart || cart.state === 'IDLE') return [msg, null, null];\n\n\nif (cart.currentStation === 99 && machineAnswer.response === \"CART_IN\") { //Adapt Filter to change product while on production\n    \n    let currentType = cart.productData.product_type; \n    let order_id = cart.order_id;\n\n    if (currentType !== priorityType) {\n        let dbUpdateMsg = {\n            topic: \"UPDATE Orders SET product_type = ? WHERE order_id = ?;\",\n            payload: [priorityType, order_id],\n            order_id: order_id,\n            sn: cart.sn,\n            newType: priorityType\n        };\n\n        let newAction = \"NEW PRIORITY\";\n        let commandMsg = {\n            payload: `[Cart ${cart.cart_id}] OVERRIDE PRIORITY ! Abort previous action. NEW TYPE: ${priorityType} | NEW ACTION: ${newAction}`\n        };\n\n        cart.productData.product_type = priorityType;\n        global.set('factory_fleet', fleet);\n\n        return [null, dbUpdateMsg, commandMsg];\n    }\n}\n\nreturn [msg, null, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2160,
        "wires": [
            [
                "ebc4145927af70fe"
            ],
            [
                "dbb2a792c9dedb70"
            ],
            [
                "27cf20efa57da21e"
            ]
        ]
    },
    {
        "id": "27cf20efa57da21e",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Send New action to Station",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 2280,
        "wires": []
    },
    {
        "id": "dbb2a792c9dedb70",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order Type",
        "x": 790,
        "y": 2160,
        "wires": [
            [
                "8cbaf8e5a30c6ec0"
            ]
        ]
    },
    {
        "id": "5db297f4edeb65fb",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Actualize product data",
        "func": "let sn = msg.sn;\nlet productData = msg.payload[0];\n\nif (!sn || !productData) return null;\n\nlet fleet = global.get('factory_fleet');\nif (!fleet) return null;\n\nlet cart = fleet.find(c => c.sn === sn);\nif (!cart) return null;\n\nproductData.order_id = cart.order_id;\ncart.productData = productData;\n\nglobal.set('factory_fleet', fleet);\n\nglobal.set('factory_fleet', fleet);\n\nreturn { payload: `[Cart ${cart.cart_id}] Cart Update for product : ${productData.product_type} !` };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 2160,
        "wires": [
            [
                "8c0249c268cd4caf"
            ]
        ]
    },
    {
        "id": "8cbaf8e5a30c6ec0",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ Product Data",
        "func": "\nlet newType = msg.newType;\nlet sn = msg.sn;\nlet order_id = msg.order_id;\n\nlet dbUpdateMsg = {\n            topic: \"SELECT o.order_id, o.product_type, p.* FROM Orders o JOIN Products p ON o.product_type = p.product_type JOIN Production pr ON o.order_id = ?;\",\n            payload: [order_id],\n            sn: sn,\n            newType: newType\n        };\n\nreturn dbUpdateMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 2160,
        "wires": [
            [
                "4253fdfca6e1343c"
            ]
        ]
    },
    {
        "id": "4253fdfca6e1343c",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Order Type",
        "x": 1250,
        "y": 2160,
        "wires": [
            [
                "5db297f4edeb65fb"
            ]
        ]
    },
    {
        "id": "8c0249c268cd4caf",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "OutputActualizeProduct",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 2160,
        "wires": []
    },
    {
        "id": "43b08b133d4d6d3f",
        "type": "mqtt in",
        "z": "8d441b1e1f9e38da",
        "name": "Message from the stations",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0374e6d057e88ee9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 2360,
        "wires": [
            [
                "f96498d0c77e9ace",
                "17eb2d1fe87e2315"
            ]
        ]
    },
    {
        "id": "f96498d0c77e9ace",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "name": "Output MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 2360,
        "wires": []
    },
    {
        "id": "f6ae6b94abf18389",
        "type": "aedes broker",
        "z": "8d441b1e1f9e38da",
        "name": "",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 1130,
        "y": 2380,
        "wires": [
            [
                "e1633402dccd24a6"
            ],
            [
                "526ac301c70fbb68"
            ]
        ]
    },
    {
        "id": "e1633402dccd24a6",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "Connection Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 2360,
        "wires": []
    },
    {
        "id": "526ac301c70fbb68",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "Message Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 2400,
        "wires": []
    },
    {
        "id": "17eb2d1fe87e2315",
        "type": "json",
        "z": "8d441b1e1f9e38da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 2280,
        "wires": [
            [
                "932d1207d203e972"
            ]
        ]
    },
    {
        "id": "2db295df1cc4fd0d",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "Switch Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2000,
        "wires": []
    },
    {
        "id": "decc9303957efc79",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "OutputUpdateProduction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1780,
        "wires": []
    },
    {
        "id": "6342795f167f4bd2",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check If free space on line",
        "func": "let total_active = msg.payload[0].total_active;\n\nlet fleet = global.get('factory_fleet') || [];\n\nlet available_carts = fleet.filter(cart => cart.state === 'IDLE');\n\nif (total_active >= 6) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Line Full (6/6)\" });\n    node.warn(\"Production blocked : 6 products on the line\");\n    return null;\n}\n\nif (available_carts.length === 0) {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"No carts available\" });\n    node.warn(\"Production blocked : No IDLE carts available\");\n    return null;\n}\nmsg.topic = \"UPDATE Orders SET status = 'IN_PROGRESS' WHERE order_id = ? AND status = 'QUEUED';\";\nmsg.payload = [msg.order_id];\n\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1580,
        "wires": [
            [
                "b8cdd283d08a4233"
            ],
            []
        ]
    },
    {
        "id": "b08072fa5b6a6025",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Check for Orders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "099e43275746a44a"
            ]
        ]
    },
    {
        "id": "63ed270b76f1a8a4",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ  Number IN_PROGRESS Production",
        "func": "msg.topic = `\n    SELECT order_id, product_type, nb_product\n    FROM Orders\n    WHERE status IN ('IN_PROGRESS', 'QUEUED');\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1340,
        "wires": [
            [
                "44982cd264357834"
            ]
        ]
    },
    {
        "id": "44982cd264357834",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Orders",
        "x": 890,
        "y": 1340,
        "wires": [
            [
                "cd87d15993ba468d",
                "7f793375b40450fb"
            ]
        ]
    },
    {
        "id": "cd87d15993ba468d",
        "type": "debug",
        "z": "8d441b1e1f9e38da",
        "d": true,
        "name": "RQ Orders IN_PROGRESS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3fb50263282f6dd8",
        "type": "ui_switch",
        "z": "8d441b1e1f9e38da",
        "name": "Priority ?",
        "label": "Prioritized",
        "tooltip": "",
        "group": "5d5982fc91e21a2a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "816aea9c14353a0b"
            ]
        ]
    },
    {
        "id": "816aea9c14353a0b",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Priority Input",
        "rules": [
            {
                "t": "set",
                "p": "priority",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "099e43275746a44a",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ  Priority Production",
        "func": "msg.topic = `\n    SELECT o.order_id\n    FROM Orders o\n    LEFT JOIN Production p ON o.order_id = p.order_id\n    WHERE o.priority = TRUE AND o.status IN ('QUEUED', 'IN_PROGRESS')\n    GROUP BY o.order_id, o.nb_product\n    HAVING COUNT(p.productSN) < o.nb_product\n    LIMIT 1;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "fb0c76d3d366eb1e"
            ]
        ]
    },
    {
        "id": "fb0c76d3d366eb1e",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Priority Orders",
        "x": 570,
        "y": 1440,
        "wires": [
            [
                "2d23a486c3a3805c"
            ]
        ]
    },
    {
        "id": "2d23a486c3a3805c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Priority Manager",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    msg.topic = \"UPDATE Orders SET status = 'PAUSED' WHERE priority = FALSE AND status IN ('QUEUED', 'IN_PROGRESS');\";\n    \n    node.status({fill:\"red\", shape:\"dot\", text:\"Active Priority\"});\n} else {\n    msg.topic = \"UPDATE Orders SET status = 'QUEUED' WHERE priority = FALSE AND status = 'PAUSED';\";\n    \n    node.status({fill:\"green\", shape:\"dot\", text:\"No Priority\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1440,
        "wires": [
            [
                "a70c88e8c1ac1862"
            ]
        ]
    },
    {
        "id": "a70c88e8c1ac1862",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Priority Orders",
        "x": 980,
        "y": 1440,
        "wires": [
            [
                "63ed270b76f1a8a4"
            ]
        ]
    },
    {
        "id": "41eac088c353809d",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Inject RQ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "f5b58c6beba80fbf"
            ]
        ]
    },
    {
        "id": "f5b58c6beba80fbf",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ pending orders",
        "func": "msg.topic = \"SELECT order_id, nb_product, product_type, status, priority FROM Orders WHERE status IN ('PAUSED', 'QUEUED') ORDER BY priority DESC, order_id ASC;\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "cee7c96ce2be1649"
            ]
        ]
    },
    {
        "id": "cee7c96ce2be1649",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Pending Orders",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "0674afd13c76451e"
            ]
        ]
    },
    {
        "id": "a4b1d0c2229e70ce",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "name": "Pending Orders",
        "order": 6,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "order_id",
                "title": "Order ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nb_product",
                "title": "Number of Products",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "product_type",
                "title": "Type of Product",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "priority",
                "title": "Priority",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 940,
        "y": 380,
        "wires": [
            [
                "4b3b4c7efb7a0f0c",
                "de0c1fe81145e3ca"
            ]
        ]
    },
    {
        "id": "4b3b4c7efb7a0f0c",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Select Order",
        "func": "flow.set(\"selectedOrderId\", msg.payload.order_id);\n\nlet msgPriority = { payload: msg.payload.priority === 1 }; \n\nreturn msgPriority;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "b71ab66809c70258"
            ]
        ]
    },
    {
        "id": "b71ab66809c70258",
        "type": "ui_switch",
        "z": "8d441b1e1f9e38da",
        "name": "Change Priority",
        "label": "Prioritized ?",
        "tooltip": "",
        "group": "c283d1f336c1be31",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1340,
        "y": 380,
        "wires": [
            [
                "3b6035cb275de9e7"
            ]
        ]
    },
    {
        "id": "3b6035cb275de9e7",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Update Priority",
        "func": "let order_id = flow.get(\"selectedOrderId\");\n\nlet newPriority = msg.payload ? 1 : 0;\nmsg.topic = \"UPDATE Orders SET priority = ? WHERE order_id = ?\";\nmsg.payload = [newPriority, order_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 380,
        "wires": [
            [
                "b257da6af1f6a405"
            ]
        ]
    },
    {
        "id": "b257da6af1f6a405",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Select Order",
        "x": 1780,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "de0c1fe81145e3ca",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Selected Order :",
        "label": "Selected Order :",
        "format": "N° {{msg.payload.order_id}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 440,
        "wires": []
    },
    {
        "id": "8ff30d67ec6093a0",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Update Stations",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "3c6555e3a50b31dd"
            ]
        ]
    },
    {
        "id": "3c6555e3a50b31dd",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Select Used Stations",
        "func": "msg.topic = `\nSELECT \n    p.current_station, \n    p.productSN, \n    p.order_id, \n    p.cart_id, \n    o.priority,\n    pr.*\nFROM Production p\nJOIN Orders o ON p.order_id = o.order_id\nJOIN Products pr ON o.product_type = pr.product_type\nWHERE p.status = 'IN_PROGRESS' AND p.current_station != 'OUT';\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "ab7a23bd3fb22618"
            ]
        ]
    },
    {
        "id": "ab7a23bd3fb22618",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Pending Orders",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "c4fee0d5948dbe3e"
            ]
        ]
    },
    {
        "id": "c4fee0d5948dbe3e",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Organize Infos",
        "func": "let stations = {};\nfor (let i = 1; i <= 6; i++) {\n    stations[\"Station\" + i] = { active: false };\n}\n\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(row => {\n        let stName = row.current_station;\n        if (stations[stName]) {\n            stations[stName] = {\n                active: true,\n                sn: row.productSN,\n                order: row.order_id,\n                cart: row.cart_id,\n                op: row[stName + \"Op\"],\n                priority: row.priority\n            };\n        }\n    });\n}\n\nmsg.payload = stations;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 660,
        "wires": [
            [
                "38af9d01e979e388"
            ]
        ]
    },
    {
        "id": "38af9d01e979e388",
        "type": "ui_template",
        "z": "8d441b1e1f9e38da",
        "group": "d3651f4aa7a0a0ce",
        "name": "Line State",
        "order": 2,
        "width": "20",
        "height": "7",
        "format": "<style>\n    .factory-floor {\n        display: flex;\n        justify-content: space-around;\n        align-items: stretch;\n        background-color: #1a1a1a;\n        padding: 15px;\n        border-radius: 10px;\n    }\n\n    .station-box {\n        flex: 1;\n        margin: 0 5px;\n        background-color: #333;\n        border: 2px solid #555;\n        border-radius: 6px;\n        padding: 10px;\n        min-height: 160px;\n        /* Légèrement agrandi pour laisser place aux boutons */\n        color: #eee;\n        font-family: sans-serif;\n        position: relative;\n        display: flex;\n        flex-direction: column;\n        /* Permet de pousser les boutons vers le bas */\n    }\n\n    .station-box.active {\n        border-color: #3498db;\n        background-color: #2c3e50;\n    }\n\n    .station-box.priority-active {\n        border-color: #f1c40f !important;\n        box-shadow: inset 0 0 10px rgba(241, 196, 15, 0.2);\n    }\n\n    .prio-badge {\n        position: absolute;\n        top: -8px;\n        right: -5px;\n        background-color: #f1c40f;\n        color: #000;\n        font-size: 0.7em;\n        font-weight: bold;\n        padding: 2px 6px;\n        border-radius: 4px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);\n    }\n\n    .st-name {\n        border-bottom: 1px solid #555;\n        margin-bottom: 8px;\n        padding-bottom: 4px;\n        font-weight: bold;\n        color: #3498db;\n        text-align: center;\n    }\n\n    .info-line {\n        font-size: 0.85em;\n        margin: 4px 0;\n    }\n\n    .label {\n        color: #888;\n        font-size: 0.9em;\n    }\n\n    .val {\n        font-weight: bold;\n        color: #fff;\n    }\n\n    .op-tag {\n        margin-top: 8px;\n        background: #444;\n        padding: 3px 6px;\n        border-radius: 4px;\n        font-size: 0.8em;\n        text-align: center;\n        border-left: 3px solid #e67e22;\n    }\n\n    .empty-msg {\n        color: #555;\n        text-align: center;\n        margin-top: 20px;\n        font-style: italic;\n        font-size: 0.8em;\n        flex-grow: 1;\n        /* Remplit l'espace vide */\n    }\n\n    /* --- NOUVEAU : Style pour les boutons --- */\n    .controls {\n        margin-top: auto;\n        /* Pousse les boutons tout en bas de la carte */\n        display: flex;\n        gap: 5px;\n        padding-top: 10px;\n    }\n\n    .btn-mqtt {\n        flex: 1;\n        border: none;\n        border-radius: 3px;\n        padding: 5px 0;\n        font-size: 0.75em;\n        font-weight: bold;\n        cursor: pointer;\n        color: white;\n        transition: 0.2s;\n    }\n\n    .btn-in {\n        background-color: #2980b9;\n    }\n\n    .btn-in:hover {\n        background-color: #3498db;\n    }\n\n    .btn-in:active {\n        background-color: #1f6391;\n    }\n\n    .btn-done {\n        background-color: #27ae60;\n    }\n\n    .btn-done:hover {\n        background-color: #2ecc71;\n    }\n\n    .btn-done:active {\n        background-color: #1e8449;\n    }\n</style>\n\n<div class=\"factory-floor\">\n    <div ng-repeat=\"i in [1,2,3,4,5,6]\" class=\"station-box\"\n        ng-class=\"{'active': msg.payload['Station'+i].active, 'priority-active': msg.payload['Station'+i].priority}\">\n\n        <div class=\"prio-badge\" ng-if=\"msg.payload['Station'+i].priority\">\n            PRIO\n        </div>\n\n        <div class=\"st-name\">STATION {{i}}</div>\n\n        <div ng-if=\"msg.payload['Station'+i].active\">\n            <div class=\"info-line\">\n                <span class=\"label\">ORDER:</span> <span class=\"val\">#{{msg.payload['Station'+i].order}}</span>\n            </div>\n            <div class=\"info-line\">\n                <span class=\"label\">CART:</span> <span class=\"val\">{{msg.payload['Station'+i].cart}}</span>\n            </div>\n            <div class=\"op-tag\">\n                {{msg.payload['Station'+i].op}}\n            </div>\n        </div>\n\n        <div ng-if=\"!msg.payload['Station'+i].active\" class=\"empty-msg\">\n            Empty Station\n        </div>\n\n        <div class=\"controls\">\n            <button class=\"btn-mqtt btn-in\" ng-click=\"send({payload: {station: i, response: 'CART_IN'}})\">IN</button>\n            <button class=\"btn-mqtt btn-done\" ng-click=\"send({payload: {station: i, response: 'DONE'}})\">DONE</button>\n        </div>\n\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 660,
        "wires": [
            [
                "2e3f75ec07943f15"
            ]
        ]
    },
    {
        "id": "0674afd13c76451e",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentDataString = JSON.stringify(msg.payload);\n\nlet previousDataString = flow.get(\"previousTableData\");\n\nif (currentDataString === previousDataString) {\n    return null;\n}\n\nflow.set(\"previousTableData\", currentDataString);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "a4b1d0c2229e70ce"
            ]
        ]
    },
    {
        "id": "2e3f75ec07943f15",
        "type": "mqtt out",
        "z": "8d441b1e1f9e38da",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0374e6d057e88ee9",
        "x": 1150,
        "y": 660,
        "wires": []
    },
    {
        "id": "0d5577a85115129e",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "RQ in progress orders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "556adf5b05f05e65"
            ]
        ]
    },
    {
        "id": "556adf5b05f05e65",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ pending orders",
        "func": "msg.topic = \"SELECT order_id, nb_product, product_type, status, priority FROM Orders WHERE status = 'IN_PROGRESS' ORDER BY priority DESC, order_id ASC;\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 720,
        "wires": [
            [
                "52e74df1d7039d0b"
            ]
        ]
    },
    {
        "id": "52e74df1d7039d0b",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ in progress Orders",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "5b3af11c0c82ba16"
            ]
        ]
    },
    {
        "id": "5b3af11c0c82ba16",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentIn_PROGRESSString = JSON.stringify(msg.payload);\n\nlet previousIN_PROGRESSString = flow.get(\"previousProgressData\");\n\nif (currentIn_PROGRESSString === previousIN_PROGRESSString) {\n    return null;\n}\n\nflow.set(\"previousProgressData\", currentIn_PROGRESSString);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 720,
        "wires": [
            [
                "0d5cbb525eb641b9"
            ]
        ]
    },
    {
        "id": "0d5cbb525eb641b9",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "name": "In Progress Orders",
        "order": 10,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "order_id",
                "title": "Order ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nb_product",
                "title": "Number of Products",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "product_type",
                "title": "Type of Product",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "priority",
                "title": "Priority",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1030,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "18df62717c7ed240",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Pending Orders",
        "label": "Pending Orders",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1500,
        "y": 640,
        "wires": []
    },
    {
        "id": "d430896ab53eb35a",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Orders In Progress",
        "label": "Orders In Progress",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 700,
        "wires": []
    },
    {
        "id": "5a6a0b4ea09586c5",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "RQ Finished Production",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "daa6bdc7919b1d10"
            ]
        ]
    },
    {
        "id": "daa6bdc7919b1d10",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Finished Products",
        "func": "msg.topic = \"SELECT order_id, productSN FROM Production WHERE status = 'FINISHED' ORDER BY order_id;\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "d44f6c96e2ddf8f3"
            ]
        ]
    },
    {
        "id": "d44f6c96e2ddf8f3",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Finished Products",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "fb39f3687632aa51"
            ]
        ]
    },
    {
        "id": "fb39f3687632aa51",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentProduction = JSON.stringify(msg.payload);\n\nlet previousProduction = flow.get(\"previousFinishedData\");\n\nif (currentProduction === previousProduction) {\n    return null;\n}\n\nflow.set(\"previousFinishedData\", currentProduction);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 780,
        "wires": [
            [
                "0556cde7e9040cee"
            ]
        ]
    },
    {
        "id": "0556cde7e9040cee",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "8068ff87c6587c75",
        "name": "Finished Products",
        "order": 4,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "order_id",
                "title": "Order ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "productSN",
                "title": "Serial Number",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "e00e1135f9298cbc",
                "7de9fa37861e1f88"
            ]
        ]
    },
    {
        "id": "e00e1135f9298cbc",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ Particular Production",
        "func": "let sn = msg.payload.productSN;\n\nif (!sn) return null;\n\nmsg.productSN = sn;\n\nmsg.topic = `\n    SELECT \n        pr.*\n    FROM Production p\n    JOIN Orders o ON p.order_id = o.order_id\n    JOIN Products pr ON o.product_type = pr.product_type\n    WHERE p.productSN = '${sn}';\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 780,
        "wires": [
            [
                "03387c105e763deb"
            ]
        ]
    },
    {
        "id": "03387c105e763deb",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Finished Products",
        "x": 1540,
        "y": 780,
        "wires": [
            [
                "5cafacf5c6096315"
            ]
        ]
    },
    {
        "id": "5cafacf5c6096315",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Prepare Display",
        "func": "\nif (!msg.payload || msg.payload.length === 0) return null;\n\nlet recipe = msg.payload[0];\nlet productionDetails = [];\n\nfor (let i = 1; i <= 6; i++) {\n    let stop = recipe[\"Station\" + i + \"Stop\"]; \n    let operation = recipe[\"Station\" + i + \"Op\"]; \n    \n    productionDetails.push({\n        step: \"Station \" + i,\n        required_stop: stop ? \"True\" : \"False\",\n        action: operation ? operation : \"Bypass\"\n    });\n}\n\nmsg.payload = productionDetails;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 780,
        "wires": [
            [
                "63b7e62b670d2264"
            ]
        ]
    },
    {
        "id": "63b7e62b670d2264",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "8068ff87c6587c75",
        "name": "Detailed Production",
        "order": 6,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "step",
                "title": "Station",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "action",
                "title": "Opération",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "required_stop",
                "title": "Arrêt",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1970,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4c20f2d035199341",
        "type": "ui_ui_control",
        "z": "8d441b1e1f9e38da",
        "name": "Check Dashboard Connection",
        "events": "all",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "684a4539c96917ff"
            ]
        ]
    },
    {
        "id": "684a4539c96917ff",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Reset Variables",
        "func": "if (msg.payload === \"connect\") {\n    flow.set(\"previousFinishedData\", null);\n    flow.set(\"previousProgressData\", null);\n    flow.set(\"previousTableData\", null);\n    flow.set(\"previousWaitingData\", null);\n    flow.set(\"previousFinishedOrdersData\", null);\n    flow.set(\"previousTypeProducts\", null);\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7de9fa37861e1f88",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "8068ff87c6587c75",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Selected Production : ",
        "label": "Selected Production : ",
        "format": "N° {{msg.payload.productSN}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 860,
        "wires": []
    },
    {
        "id": "9494a109ddea6e2d",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "d3651f4aa7a0a0ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Finished Order",
        "label": "Finished Order",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1720,
        "y": 640,
        "wires": []
    },
    {
        "id": "6457c1d79075b85b",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "8068ff87c6587c75",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Finished Production",
        "label": "Finished Production",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 700,
        "wires": []
    },
    {
        "id": "26a9ecc22d9e7a49",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "Inject RQ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "f6af6de1e41c41c0"
            ]
        ]
    },
    {
        "id": "f6af6de1e41c41c0",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ WAITING orders",
        "func": "msg.topic = \"SELECT order_id, nb_product, product_type, status FROM Orders WHERE status = 'WAITING' ORDER BY order_id ASC;\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 960,
        "wires": [
            [
                "45b5fc8c88fc2d80"
            ]
        ]
    },
    {
        "id": "45b5fc8c88fc2d80",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Pending Orders",
        "x": 570,
        "y": 960,
        "wires": [
            [
                "83042ad92b745ce9"
            ]
        ]
    },
    {
        "id": "f497eb17b52aed09",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "name": "Waiting Orders",
        "order": 2,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "order_id",
                "title": "Order ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nb_product",
                "title": "Number of Products",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "product_type",
                "title": "Type of Product",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 960,
        "y": 960,
        "wires": [
            [
                "bbf1a087cb80f9c1"
            ]
        ]
    },
    {
        "id": "bbf1a087cb80f9c1",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Select Order",
        "func": "flow.set(\"selectedWaitingOrderId\", msg.payload.order_id);\n\nlet msgPriority = { payload: msg.payload.priority === 1 }; \n\nreturn msgPriority;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 960,
        "wires": [
            [
                "43913cadb52b2af0"
            ]
        ]
    },
    {
        "id": "43913cadb52b2af0",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Update Priority",
        "func": "let order_id = flow.get(\"selectedWaitingOrderId\");\n\nmsg.topic = \"UPDATE Orders SET status = 'QUEUED' WHERE order_id = ?\";\nmsg.payload = [order_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 960,
        "wires": [
            [
                "27a5242a5da03f95"
            ]
        ]
    },
    {
        "id": "27a5242a5da03f95",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Update Select Order",
        "x": 1560,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "83042ad92b745ce9",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentDataString = JSON.stringify(msg.payload);\n\nlet previousDataString = flow.get(\"previousWaitingData\");\n\nif (currentDataString === previousDataString) {\n    return null;\n}\n\nflow.set(\"previousWaitingData\", currentDataString);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 960,
        "wires": [
            [
                "f497eb17b52aed09"
            ]
        ]
    },
    {
        "id": "8a6f5d124d6ac28d",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "c283d1f336c1be31",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Waiting Order",
        "label": "Waiting Order (Click to Accept)",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 640,
        "wires": []
    },
    {
        "id": "34985de2926e71f1",
        "type": "ui_numeric",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Carts Input",
        "label": "Number of Carts",
        "tooltip": "",
        "group": "a09eb10a018f4e3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 1680,
        "y": 1000,
        "wires": [
            [
                "0957481a1a37f369"
            ]
        ]
    },
    {
        "id": "0957481a1a37f369",
        "type": "change",
        "z": "8d441b1e1f9e38da",
        "name": "Number Of Carts Input",
        "rules": [
            {
                "t": "set",
                "p": "nb_carts",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1940,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "b35ca589a8f93823",
        "type": "ui_button",
        "z": "8d441b1e1f9e38da",
        "name": "Submit Initialization",
        "group": "a09eb10a018f4e3a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sumbit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1610,
        "y": 1080,
        "wires": [
            [
                "ee78f59909efeda5"
            ]
        ]
    },
    {
        "id": "ee78f59909efeda5",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Submit Initialization",
        "func": "let nb_carts = flow.get('nb_carts');\n\nlet carts = [];\nfor (let i = 1; i <= nb_carts; i++) {\n    carts.push({\n        cart_id: i,\n        order_id: null,\n        sn: null,\n        productData: null,\n        currentStation: 0,\n        state: 'IDLE'\n    });\n}\n\nlet stations = {\n    1: null, 2: null, 3: null, 4: null, 5: null, 6: null\n};\n\nglobal.set('factory_fleet', carts);\nglobal.set('factory_stations', stations);\nglobal.set('production_priority', \"A\");\n\nreturn { \n    payload: \"Factory Initialized\",\n    nb_carts: nb_carts\n        };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 1080,
        "wires": [
            [
                "0da178d6e914d46b"
            ]
        ]
    },
    {
        "id": "0da178d6e914d46b",
        "type": "ui_text",
        "z": "8d441b1e1f9e38da",
        "group": "d3651f4aa7a0a0ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Display Number of Carts",
        "label": "Number of Carts available :",
        "format": " {{msg.nb_carts}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2070,
        "y": 1080,
        "wires": []
    },
    {
        "id": "346253c2ccdf1317",
        "type": "ui_form",
        "z": "8d441b1e1f9e38da",
        "name": "Create new product",
        "label": "Create new product",
        "group": "941b97812585655e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Type of Product",
                "value": "product_type",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Station 1 : Stop ?",
                "value": "station1_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 1 : Action",
                "value": "station1_op",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 2 : Stop ?",
                "value": "station2_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 2 : Action",
                "value": "station2_op",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 3 : Stop ?",
                "value": "station3_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 3 : Action",
                "value": "station3_op",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 4 : Stop ?",
                "value": "station4_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 4 : Action",
                "value": "station4_op",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 5 : Stop ?",
                "value": "station5_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 5 : Action",
                "value": "station5_op",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 6 : Stop ?",
                "value": "station6_stop",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Station 6 : Action",
                "value": "station6_op",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "product_type": "",
            "station1_stop": false,
            "station1_op": "",
            "station2_stop": false,
            "station2_op": "",
            "station3_stop": false,
            "station3_op": "",
            "station4_stop": false,
            "station4_op": "",
            "station5_stop": false,
            "station5_op": "",
            "station6_stop": false,
            "station6_op": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1570,
        "y": 1140,
        "wires": [
            [
                "220dc4e57cf0379d"
            ]
        ]
    },
    {
        "id": "220dc4e57cf0379d",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Insert new Product",
        "func": "let data = msg.payload;\n\nlet s1_op = data.station1_stop ? data.station1_op : null;\nlet s2_op = data.station2_stop ? data.station2_op : null;\nlet s3_op = data.station3_stop ? data.station3_op : null;\nlet s4_op = data.station4_stop ? data.station4_op : null;\nlet s5_op = data.station5_stop ? data.station5_op : null;\nlet s6_op = data.station6_stop ? data.station6_op : null;\n\nmsg.topic = `\n    INSERT INTO Products (\n        product_type, \n        Station1Stop, Station1Op, \n        Station2Stop, Station2Op, \n        Station3Stop, Station3Op,\n        Station4Stop, Station4Op,\n        Station5Stop, Station5Op,\n        Station6Stop, Station6Op\n    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n`;\n\nmsg.payload = [\n    data.product_type, \n    data.station1_stop, s1_op,\n    data.station2_stop, s2_op,\n    data.station3_stop, s3_op,\n    data.station4_stop, s4_op,\n    data.station5_stop, s5_op,\n    data.station6_stop, s6_op\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 1140,
        "wires": [
            [
                "70ceb9fc058c5dc6"
            ]
        ]
    },
    {
        "id": "70ceb9fc058c5dc6",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert New Product",
        "x": 2050,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b1bd22d8c83a9bbb",
        "type": "inject",
        "z": "8d441b1e1f9e38da",
        "name": "RQ Finished Orders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "ba1c20437cf554b8"
            ]
        ]
    },
    {
        "id": "698401133d6a2a71",
        "type": "mysql",
        "z": "8d441b1e1f9e38da",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Finished Orders",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "15216192394e62ec"
            ]
        ]
    },
    {
        "id": "15216192394e62ec",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentProduction = JSON.stringify(msg.payload);\n\nlet previousProduction = flow.get(\"previousFinishedOrdersData\");\n\nif (currentProduction === previousProduction) {\n    return null;\n}\n\nflow.set(\"previousFinishedOrdersData\", currentProduction);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 900,
        "wires": [
            [
                "05d83948e8660116"
            ]
        ]
    },
    {
        "id": "ba1c20437cf554b8",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "RQ finished orders",
        "func": "msg.topic = \"SELECT order_id, nb_product, product_type, status, priority FROM Orders WHERE status = 'FINISHED' ORDER BY order_id ASC;\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 900,
        "wires": [
            [
                "698401133d6a2a71"
            ]
        ]
    },
    {
        "id": "05d83948e8660116",
        "type": "ui_table",
        "z": "8d441b1e1f9e38da",
        "group": "d3651f4aa7a0a0ce",
        "name": "Finished Orders",
        "order": 10,
        "width": "10",
        "height": "10",
        "columns": [
            {
                "field": "order_id",
                "title": "Order ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nb_product",
                "title": "Number of Products",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "product_type",
                "title": "Type of Product",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "priority",
                "title": "Priority",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1040,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1fe9e5f7809df3d1",
        "type": "function",
        "z": "8d441b1e1f9e38da",
        "name": "Check if changed",
        "func": "let currentIn_PROGRESSString = JSON.stringify(msg.payload);\n\nlet previousIN_PROGRESSString = flow.get(\"previousTypeProducts\");\n\nif (currentIn_PROGRESSString === previousIN_PROGRESSString) {\n    return null;\n}\n\nflow.set(\"previousTypeProducts\", currentIn_PROGRESSString);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 100,
        "wires": [
            [
                "d29457d843a1b481"
            ]
        ]
    },
    {
        "id": "64300a9a705f2b0d",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Test DB Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT 1 AS test_connexion;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "1dfe85b2170f9f0c"
            ]
        ]
    },
    {
        "id": "cbef2752aff279ba",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Connection OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "1dfe85b2170f9f0c",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "cbef2752aff279ba"
            ]
        ]
    },
    {
        "id": "2bf07a92f434c46d",
        "type": "ui_form",
        "z": "3816a5498bd282cb",
        "d": true,
        "name": "Form",
        "label": "Form",
        "group": "5d5982fc91e21a2a",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Number of Products",
                "value": "nb_product",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Type of Product",
                "value": "product_type",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "nb_product": "",
            "product_type": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 730,
        "y": 40,
        "wires": [
            [
                "286a33ad59c541f6"
            ]
        ]
    },
    {
        "id": "286a33ad59c541f6",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Order Input",
        "func": "let formData = msg.payload;\n\nmsg.topic = \"INSERT INTO Orders (order_id, nb_product, product_type, status) VALUES (1,?, ?, 'WAITING');\";\n\nmsg.payload = [formData.nb_product, formData.product_type];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 40,
        "wires": [
            [
                "735e7f14f0b365ac"
            ]
        ]
    },
    {
        "id": "735e7f14f0b365ac",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Order Input",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "2f533f35eb3570f6"
            ]
        ]
    },
    {
        "id": "de5534568d34570d",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fd30e5b3ab519e04"
            ]
        ]
    },
    {
        "id": "fd30e5b3ab519e04",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "func": "msg.topic = \"SELECT order_id,product_type, nb_product  FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "131cb7ebe9b49c92"
            ]
        ]
    },
    {
        "id": "238961963b35b4e1",
        "type": "switch",
        "z": "3816a5498bd282cb",
        "name": "Order Pending?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "7f2c037d333e53bc"
            ]
        ]
    },
    {
        "id": "7f2c037d333e53bc",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Order Pending",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "131cb7ebe9b49c92",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Order Pending",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "238961963b35b4e1"
            ]
        ]
    },
    {
        "id": "9f922816ba69f08b",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "3f53af9628b3399f"
            ]
        ]
    },
    {
        "id": "90fdb18dd2c720a3",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Orders;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 200,
        "wires": [
            [
                "37222e351fad54cd"
            ]
        ]
    },
    {
        "id": "37222e351fad54cd",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "88b06910207165ac"
            ]
        ]
    },
    {
        "id": "88b06910207165ac",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Delete Order",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "e15364d8b3c88af6",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Begin Produce",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "96d8136c2fa388d8"
            ]
        ]
    },
    {
        "id": "a078a11bf8cce4e2",
        "type": "switch",
        "z": "3816a5498bd282cb",
        "name": "Order Pending?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "b28753ef0dfec75a",
                "eff7b1d55caa7d1e"
            ]
        ]
    },
    {
        "id": "57d0edad24f8466e",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "RQ Orders",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "a078a11bf8cce4e2"
            ]
        ]
    },
    {
        "id": "161cacd32b0f8c9d",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "InsertProduction",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "378b7f19deb29b1b"
            ]
        ]
    },
    {
        "id": "96d8136c2fa388d8",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "Pending Order",
        "func": "msg.topic = `\n    SELECT o.order_id, o.product_type, p.* FROM Orders o \n    JOIN Products p ON o.product_type = p.product_type \n    WHERE o.status = 'WAITING' \n    LIMIT 1;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "57d0edad24f8466e"
            ]
        ]
    },
    {
        "id": "d4d9a394e7518970",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "AddProduction",
        "func": "let data = msg.productData;\n\nlet sn = data.order_id; \n\nmsg.numSerie = sn;\n\nmsg.topic = \"INSERT INTO Production (productSN, order_id, cart_id, current_station, status) VALUES (?, ?, 1, 'Station1', 'IN_PROGRESS');\";\n\nmsg.payload = [sn, data.order_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "161cacd32b0f8c9d"
            ]
        ]
    },
    {
        "id": "b28753ef0dfec75a",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "ChangeStatusOrder",
        "func": "let data = msg.payload[0]; \n\nmsg.productData = data;\nmsg.topic = \"UPDATE Orders SET status = 'IN_PROGRESS' WHERE order_id = ?;\";\n\nmsg.payload = [data.order_id]; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "bdd9748dab0380a2"
            ]
        ]
    },
    {
        "id": "bdd9748dab0380a2",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "UpdateOrder",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "d4d9a394e7518970"
            ]
        ]
    },
    {
        "id": "378b7f19deb29b1b",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "InitializeCart",
        "func": "let data = msg.productData;\n\nlet sn = msg.numSerie; \n\nlet stateCart = {\n    sn: sn,\n    order_id: data.order_id,\n    productData: data,\n    currentStation: 1,\n    state: 'EVALUATION',\n    isBypassed: false\n};\n\nflow.set('cart_' + sn, stateCart);\n\nmsg.payload = { action: 'DECISION', sn: sn };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "51daf7c5fcfce0d9"
            ]
        ]
    },
    {
        "id": "3f53af9628b3399f",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "DeleteOrder",
        "func": "msg.topic = \"DELETE FROM Production;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8ed6427d56020b5b"
            ]
        ]
    },
    {
        "id": "8ed6427d56020b5b",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "Insert",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "90fdb18dd2c720a3"
            ]
        ]
    },
    {
        "id": "51daf7c5fcfce0d9",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "TakeDecision",
        "func": "let sn = msg.payload.sn;\nlet cart = flow.get('cart_' + sn);\n\nif (!cart) return null; \nif (cart.state !== 'EVALUATION') return null;\n\nlet numStation = cart.currentStation;\n\nif (numStation > 6) {\n    msg.topic = `UPDATE Production SET status = 'FINISHED' WHERE productSN = ${sn};`;\n    flow.set('cart_' + sn, undefined);\n    return [msg, { payload: `[Product ${sn}] Production finished !` }];\n}\n\nlet dbUpdateMsg = {\n    topic: `UPDATE Production SET current_station = 'Station${numStation}' WHERE productSN = ${sn};`\n};\n\nlet commandMsg = { payload: {} };\nlet stopCol = \"Station\" + numStation + \"Stop\";\nlet opCol = \"Station\" + numStation + \"Op\";\n\ncart.state = 'ACK_WAIT';\n\nif (cart.productData[stopCol] === 1 || cart.productData[stopCol] === true) {\n    cart.isBypassed = false;\n    commandMsg.payload = `[Product ${sn} -> Station ${numStation}] INSTRUCTION : ${cart.productData[opCol]}`;\n} else {\n    cart.isBypassed = true;\n    commandMsg.payload = `[Product ${sn} -> Station ${numStation}] CHECK-IN ONLY (Bypass)`;\n}\n\nflow.set('cart_' + sn, cart);\n\nreturn [dbUpdateMsg, commandMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "534e15bf3784a8cd"
            ],
            [
                "4d692678ce5ad47c"
            ]
        ]
    },
    {
        "id": "534e15bf3784a8cd",
        "type": "mysql",
        "z": "3816a5498bd282cb",
        "mydb": "8fe1b8c2b9d8069a",
        "name": "InsertFinishedProduct",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "0333bc02a1590c00"
            ]
        ]
    },
    {
        "id": "e97d6bf971e81cfe",
        "type": "function",
        "z": "3816a5498bd282cb",
        "name": "AcknowledgePhysicalAnswer",
        "func": "let machineAnswer = msg.payload; \nlet sn = machineAnswer.sn;\nlet cart = flow.get('cart_' + sn);\n\nif (!cart) return null;\n\nif (machineAnswer.response === \"ACK\" && cart.state === 'ACK_WAIT') {\n    \n    if (cart.isBypassed === true) {\n        cart.state = 'EVALUATION';\n        cart.currentStation++;\n        flow.set('cart_' + sn, cart);\n        \n        return [\n            { payload: `[Product ${sn} -> Station ${cart.currentStation - 1}] ACK received. BYPASSING... MOVE CART !` }, \n            { payload: { action: 'DECISION', sn: sn } } \n        ];\n    } else {\n        cart.state = 'DONE_WAIT';\n        flow.set('cart_' + sn, cart);\n        \n        return { payload: `[Product ${sn} -> Station ${cart.currentStation}] ACK received. Operation in progress...` };\n    }\n}\n\nif (machineAnswer.response === \"DONE\" && cart.state === 'DONE_WAIT') {\n    cart.state = 'EVALUATION';\n    cart.currentStation++;\n    flow.set('cart_' + sn, cart);\n    \n    return [\n        { payload: `[Product ${sn} -> Station ${cart.currentStation - 1}] DONE received. MOVE CART !` }, \n        { payload: { action: 'DECISION', sn: sn } }     ];\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "c5699fcf360059c6"
            ],
            [
                "51daf7c5fcfce0d9",
                "09886031219b6049"
            ]
        ]
    },
    {
        "id": "f94544de1f984fc0",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Station Done",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": 1,     \"response\": \"DONE\" }",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "e97d6bf971e81cfe"
            ]
        ]
    },
    {
        "id": "17574d453fb50ddf",
        "type": "inject",
        "z": "3816a5498bd282cb",
        "name": "Cart Arrives",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"sn\": 1,     \"response\": \"ACK\" }",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "e97d6bf971e81cfe"
            ]
        ]
    },
    {
        "id": "c5699fcf360059c6",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Physical Station",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "0333bc02a1590c00",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Product Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d692678ce5ad47c",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Decision",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "09886031219b6049",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Output Action",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "2f533f35eb3570f6",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Ordem Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 40,
        "wires": []
    },
    {
        "id": "eff7b1d55caa7d1e",
        "type": "debug",
        "z": "3816a5498bd282cb",
        "name": "Produce",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 340,
        "wires": []
    },
    {
        "id": "81d8078b0139bbaf",
        "type": "mqtt in",
        "z": "3816a5498bd282cb",
        "name": "MES Input",
        "topic": "",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0374e6d057e88ee9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 100,
        "y": 780,
        "wires": [
            []
        ]
    }
]