Revisões Antigas/Programa/2023-07-21 - Projeto Processing Completo.json
[
    {
        "id": "f26f21f1b85a178a",
        "type": "tab",
        "label": "Servidor OPC-UA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2eedfeb9099d8dc",
        "type": "tab",
        "label": "Processing [100]",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdc48601.ebf958",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:53880/UA/SimpleNodeRedServer",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "c6a95109.d4318",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "200.145.26.30",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "50",
        "timeout": "1500",
        "name": "CLP_Mestre",
        "vartable": [
            {
                "addr": "I102.0",
                "name": "I_101_Drill_On"
            },
            {
                "addr": "I102.1",
                "name": "I_100_RT_On"
            },
            {
                "addr": "I102.2",
                "name": "I_100_Drill_Down"
            },
            {
                "addr": "I102.3",
                "name": "I_100_Drill_Up"
            },
            {
                "addr": "I102.4",
                "name": "I_100_Drill_Pin"
            },
            {
                "addr": "I102.5",
                "name": "I_100_Test_Pin"
            },
            {
                "addr": "I103.0",
                "name": "I_101_Led_Start"
            },
            {
                "addr": "I103.1",
                "name": "I_101_Led_Reset"
            },
            {
                "addr": "I103.2",
                "name": "I_101_Led_Extra1"
            },
            {
                "addr": "i103.3",
                "name": "I_101_Led_Extra2"
            },
            {
                "addr": "I103.4",
                "name": "I_101_Panel_O4"
            },
            {
                "addr": "I103.5",
                "name": "I_101_Panel_O5"
            },
            {
                "addr": "I103.6",
                "name": "I_101_Panel_O6"
            },
            {
                "addr": "I103.7",
                "name": "I_101_Panel_O7"
            },
            {
                "addr": "Q102.0",
                "name": "Q_100_PInit_Pos"
            },
            {
                "addr": "Q102.1",
                "name": "Q_100_PDrill_Pos"
            },
            {
                "addr": "Q102.2",
                "name": "Q_100_PTest_Pos"
            },
            {
                "addr": "Q102.3",
                "name": "Q_100_SDrill_High"
            },
            {
                "addr": "Q102.4",
                "name": "Q_100_SDrill_Low"
            },
            {
                "addr": "Q102.5",
                "name": "Q_100_RT_Sensor"
            },
            {
                "addr": "Q102.6",
                "name": "Q_100_PTest_Ok"
            },
            {
                "addr": "Q103.0",
                "name": "Q_101_On"
            },
            {
                "addr": "Q103.1",
                "name": "Q_101_Off"
            },
            {
                "addr": "Q103.2",
                "name": "Q_101_Key_Pos"
            },
            {
                "addr": "Q103.3",
                "name": "Q_101_Reset"
            },
            {
                "addr": "Q103.4",
                "name": "Q_101_Panel_I4"
            },
            {
                "addr": "Q103.5",
                "name": "Q_101_Panel_I5"
            },
            {
                "addr": "Q103.6",
                "name": "Q_101_Panel_I6"
            },
            {
                "addr": "Q103.7",
                "name": "Q_101_Panel_I7"
            }
        ]
    },
    {
        "id": "284fc2dc.82ea4e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#b0b0b0",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#b0b0b0",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#b0b0b0",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#d6d6d6",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#b0b0b0",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "365e8cfe98365963",
        "type": "ui_tab",
        "name": "Processing",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4db85cc2c3f3ee1f",
        "type": "ui_group",
        "name": "Processing - Indicadores Físicos",
        "tab": "365e8cfe98365963",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3089a565c07fa8c8",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41464d608859ff6f",
        "type": "ui_group",
        "name": "Processing - Controle de Saídas Físicas",
        "tab": "365e8cfe98365963",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b549bb9b107a1ba",
        "type": "ui_group",
        "name": "Processing - Controle de Saídas Auxiliares",
        "tab": "365e8cfe98365963",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d98a027d2ae4a0fc",
        "type": "ui_group",
        "name": "Processing - Indicadores Auxiliares",
        "tab": "365e8cfe98365963",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "402c272fd7ab55d3",
        "type": "OpcUa-Server",
        "z": "f26f21f1b85a178a",
        "port": "53880",
        "name": "",
        "endpoint": "UA/SimpleNodeRedServer",
        "users": "",
        "nodesetDir": "",
        "folderName4PKI": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": true,
        "constructDefaultAddressSpace": false,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": false,
        "endpointSignEncrypt": false,
        "endpointBasic128Rsa15": false,
        "endpointBasic256": false,
        "endpointBasic256Sha256": false,
        "maxNodesPerBrowse": "",
        "maxNodesPerHistoryReadData": "",
        "maxNodesPerHistoryReadEvents": "",
        "maxNodesPerHistoryUpdateData": "",
        "maxNodesPerRead": "",
        "maxNodesPerWrite": "",
        "maxNodesPerMethodCall": "",
        "maxNodesPerRegisterNodes": "",
        "maxNodesPerNodeManagement": "",
        "maxMonitoredItemsPerCall": "",
        "maxNodesPerHistoryUpdateEvents": "",
        "maxNodesPerTranslateBrowsePathsToNodeIds": "",
        "maxConnectionsPerEndpoint": "",
        "maxMessageSize": "",
        "maxBufferSize": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "0a22b0d396bb849f",
                "3f114835a96ad061"
            ]
        ]
    },
    {
        "id": "6eb7d4f747fd7b75",
        "type": "comment",
        "z": "f26f21f1b85a178a",
        "name": "Servidor OPC-UA",
        "info": "",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "0a22b0d396bb849f",
        "type": "debug",
        "z": "f26f21f1b85a178a",
        "name": "Debug Servidor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "76d17b21deae8529",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_Drill_On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_Drill_On;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "55523d5379c323fe"
            ]
        ]
    },
    {
        "id": "3f114835a96ad061",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "OPC-UA Servidor-Out",
        "mode": "link",
        "links": [
            "b89d6db4d08bf258",
            "6a72b57ad3862289",
            "3c0bc8ee8c48daf2",
            "4279a424edcac8b2",
            "fe4d0e0d2e992a0d",
            "d98c6fa167779f7e",
            "1ffe627a27739d6c",
            "089f46c5b61fec5e",
            "ad0ddd59041f37c1",
            "8fbaa0d2784e4c91",
            "82d4b98e1a740b47",
            "cca78a720755f10c",
            "bce0a87ae5f552b1",
            "55c0aec5e652d00a",
            "937dc46237fcb5d7",
            "1532e26b9dcd1e7a",
            "40ab99e054074df8",
            "161a7375294252a8",
            "e96da55551d910d5",
            "c6ef4b3472d6c3af",
            "8683412e5e436d70",
            "bba3d6cb41d188e1"
        ],
        "x": 545,
        "y": 80,
        "wires": []
    },
    {
        "id": "55523d5379c323fe",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 240,
        "wires": []
    },
    {
        "id": "8d4a06706fa19c4f",
        "type": "link in",
        "z": "f26f21f1b85a178a",
        "name": "Var_PROC",
        "links": [
            "0db6b117828fd1c8",
            "1710ed705f04087c",
            "1801625b3bde1c88",
            "35e85b75394f67aa",
            "55523d5379c323fe",
            "5a75490584280c54",
            "5b7647b6646d3f39",
            "5f5f0597107269fd",
            "671c71f99cb57f64",
            "67258585a8d46063",
            "673c10045b508394",
            "67b621d9741f04bb",
            "6eed5846752cdd23",
            "6f5295514a99d5c0",
            "720500f8d4437f08",
            "72b87520d5a219e8",
            "7b5643ef660dad98",
            "89fc8f7861e37819",
            "9668e5a5adc8c509",
            "a641a47da920441c",
            "b65f19aebbd7968f",
            "bfb07291ed5eb967",
            "c978b18c818da329",
            "cb65822ecb6e6258",
            "d2edc5dbb2cd1dbd",
            "dd7874061badd3ad",
            "ead454a92295875d",
            "eb3256d0868039cc",
            "f6bef96ed187d9f0"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "402c272fd7ab55d3"
            ]
        ]
    },
    {
        "id": "3256904623483df6",
        "type": "comment",
        "z": "f26f21f1b85a178a",
        "name": "Variáveis Input PROCESSING [100]",
        "info": "",
        "x": 260,
        "y": 200,
        "wires": []
    },
    {
        "id": "23758feede5e05da",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_PInit_Pos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_PInit_Pos;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "0db6b117828fd1c8"
            ]
        ]
    },
    {
        "id": "0db6b117828fd1c8",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    },
    {
        "id": "1894fe8d6cd8be4d",
        "type": "comment",
        "z": "f26f21f1b85a178a",
        "name": "Variáveis Output PROCESSING [100]",
        "info": "",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "b8ee6b19394db1ef",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_RT_On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_RT_On;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "671c71f99cb57f64"
            ]
        ]
    },
    {
        "id": "671c71f99cb57f64",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 280,
        "wires": []
    },
    {
        "id": "61da4f2ca0401081",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_Drill_Down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_Drill_Down;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "72b87520d5a219e8"
            ]
        ]
    },
    {
        "id": "72b87520d5a219e8",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 320,
        "wires": []
    },
    {
        "id": "68990206f750d344",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_Drill_Up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_Drill_Up;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "9668e5a5adc8c509"
            ]
        ]
    },
    {
        "id": "9668e5a5adc8c509",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 360,
        "wires": []
    },
    {
        "id": "3952b598c6d5e3de",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_Drill_Pin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_Drill_Pin;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "1801625b3bde1c88"
            ]
        ]
    },
    {
        "id": "1801625b3bde1c88",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 400,
        "wires": []
    },
    {
        "id": "800c9e602cf3d9d1",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_100_Test_Pin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_100_Test_Pin;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "ead454a92295875d"
            ]
        ]
    },
    {
        "id": "ead454a92295875d",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 440,
        "wires": []
    },
    {
        "id": "9d63f5fa1765ea65",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_LED_Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_LED_Start;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "cb65822ecb6e6258"
            ]
        ]
    },
    {
        "id": "cb65822ecb6e6258",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 480,
        "wires": []
    },
    {
        "id": "c980b9e60cc0cb21",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Led_Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Led_Reset;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "67258585a8d46063"
            ]
        ]
    },
    {
        "id": "67258585a8d46063",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 520,
        "wires": []
    },
    {
        "id": "14988eb7eabe284d",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Led_Extra1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Led_Extra1;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "5b7647b6646d3f39"
            ]
        ]
    },
    {
        "id": "5b7647b6646d3f39",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 560,
        "wires": []
    },
    {
        "id": "405a313ed9a24d6d",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Led_Extra2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Led_Extra2;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "7b5643ef660dad98"
            ]
        ]
    },
    {
        "id": "7b5643ef660dad98",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 600,
        "wires": []
    },
    {
        "id": "4f3b3f6ae506afc7",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Panel_O4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Panel_O4;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "720500f8d4437f08"
            ]
        ]
    },
    {
        "id": "720500f8d4437f08",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 640,
        "wires": []
    },
    {
        "id": "b803a6b619d1bbbe",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Panel_O5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Panel_O5;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "5f5f0597107269fd"
            ]
        ]
    },
    {
        "id": "5f5f0597107269fd",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 680,
        "wires": []
    },
    {
        "id": "3a9035e71ef22a6e",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Panel_O6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Panel_O6;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "b65f19aebbd7968f"
            ]
        ]
    },
    {
        "id": "b65f19aebbd7968f",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 720,
        "wires": []
    },
    {
        "id": "cf4503da5e6a5e1a",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "I_101_Panel_O7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=I_101_Panel_O7;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "c978b18c818da329"
            ]
        ]
    },
    {
        "id": "c978b18c818da329",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_In",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 395,
        "y": 760,
        "wires": []
    },
    {
        "id": "4a320e39591af13b",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_PDrill_Pos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_PDrill_Pos;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "1710ed705f04087c"
            ]
        ]
    },
    {
        "id": "1710ed705f04087c",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 280,
        "wires": []
    },
    {
        "id": "e3467d13039dd7a8",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_PTest_Pos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_PTest_Pos;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "a641a47da920441c"
            ]
        ]
    },
    {
        "id": "a641a47da920441c",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4f5a917b2f26d24",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_SDrill_High",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_SDrill_High;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "5a75490584280c54"
            ]
        ]
    },
    {
        "id": "5a75490584280c54",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 360,
        "wires": []
    },
    {
        "id": "6f143a17407b1e4e",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_SDrill_Low",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_SDrill_Low;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "d2edc5dbb2cd1dbd"
            ]
        ]
    },
    {
        "id": "d2edc5dbb2cd1dbd",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 400,
        "wires": []
    },
    {
        "id": "8e03c1d3ae95130c",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_RT_Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_RT_Sensor;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "67b621d9741f04bb"
            ]
        ]
    },
    {
        "id": "67b621d9741f04bb",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc8f3b78264eb48a",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_100_PTest_Ok",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_100_PTest_Ok;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "89fc8f7861e37819"
            ]
        ]
    },
    {
        "id": "89fc8f7861e37819",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 480,
        "wires": []
    },
    {
        "id": "2554b4082febb139",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_On;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "bfb07291ed5eb967"
            ]
        ]
    },
    {
        "id": "bfb07291ed5eb967",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 520,
        "wires": []
    },
    {
        "id": "3d0d245609fcb945",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Off;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f6bef96ed187d9f0"
            ]
        ]
    },
    {
        "id": "f6bef96ed187d9f0",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 560,
        "wires": []
    },
    {
        "id": "efaed3a9b004862d",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Key_Pos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Key_Pos;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 600,
        "wires": [
            [
                "673c10045b508394"
            ]
        ]
    },
    {
        "id": "673c10045b508394",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 600,
        "wires": []
    },
    {
        "id": "163ac70eab70a921",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Reset;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "6f5295514a99d5c0"
            ]
        ]
    },
    {
        "id": "6f5295514a99d5c0",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 640,
        "wires": []
    },
    {
        "id": "e7a09caca9af375d",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Panel_I4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Panel_I4;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 680,
        "wires": [
            [
                "eb3256d0868039cc"
            ]
        ]
    },
    {
        "id": "eb3256d0868039cc",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 680,
        "wires": []
    },
    {
        "id": "60cda4483dac8bd4",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Panel_I5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Panel_I5;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "35e85b75394f67aa"
            ]
        ]
    },
    {
        "id": "35e85b75394f67aa",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 720,
        "wires": []
    },
    {
        "id": "f0338547223542d0",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Panel_I6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Panel_I6;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 760,
        "wires": [
            [
                "6eed5846752cdd23"
            ]
        ]
    },
    {
        "id": "6eed5846752cdd23",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 760,
        "wires": []
    },
    {
        "id": "80f1ae2e89c0ac8a",
        "type": "inject",
        "z": "f26f21f1b85a178a",
        "name": "Q_101_Panel_I7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "ns=1;s=Q_101_Panel_I7;datatype=Boolean",
        "payload": "{ \"opcuaCommand\": \"addVariable\" }",
        "payloadType": "json",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "dd7874061badd3ad"
            ]
        ]
    },
    {
        "id": "dd7874061badd3ad",
        "type": "link out",
        "z": "f26f21f1b85a178a",
        "name": "Var_Proc_Out",
        "mode": "link",
        "links": [
            "8d4a06706fa19c4f"
        ],
        "x": 815,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ab0dcd8e34e1f08",
        "type": "OpcUa-Client",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "bdc48601.ebf958",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 820,
        "wires": [
            [
                "689459657a60f372"
            ]
        ]
    },
    {
        "id": "fbd9e54445c996cd",
        "type": "comment",
        "z": "a2eedfeb9099d8dc",
        "name": "Variáveis de Leitura no IHM",
        "info": "",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "3cb7ec90095c86c0",
        "type": "comment",
        "z": "a2eedfeb9099d8dc",
        "name": "Variáveis de Escrita via IHM",
        "info": "",
        "x": 1120,
        "y": 20,
        "wires": []
    },
    {
        "id": "1638f77d701a7fef",
        "type": "comment",
        "z": "a2eedfeb9099d8dc",
        "name": "Zerar e Escrever as Variáveis no Client OPC",
        "info": "",
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "71413bcfaf39fad5",
        "type": "comment",
        "z": "a2eedfeb9099d8dc",
        "name": "Acionamento via IHM",
        "info": "",
        "x": 2320,
        "y": 20,
        "wires": []
    },
    {
        "id": "ccb8c0908bdecde1",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_PInit_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 900,
        "y": 60,
        "wires": [
            [
                "72e412a9a77b4c13"
            ]
        ]
    },
    {
        "id": "9c62629f92773059",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_PInit_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "72e412a9a77b4c13"
            ]
        ]
    },
    {
        "id": "c057f13f14c5d9ed",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PInit_Pos_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 660,
        "y": 60,
        "wires": [
            [
                "ccb8c0908bdecde1"
            ]
        ]
    },
    {
        "id": "4c8b329df76a5d75",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PInit_Pos_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "9c62629f92773059"
            ]
        ]
    },
    {
        "id": "72e412a9a77b4c13",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PInit_Pos",
        "mode": "link",
        "links": [
            "d7fa6067df280259"
        ],
        "x": 1085,
        "y": 80,
        "wires": []
    },
    {
        "id": "230f22f4774ccdb3",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_PInit_Pos",
        "func": "if (msg.payload.variableName === \"1:Q_100_PInit_Pos\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_PInit_Pos\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 80,
        "wires": [
            [
                "46ece1d039b43041"
            ],
            [
                "0dfe2a2a6db04dfb"
            ]
        ]
    },
    {
        "id": "46ece1d039b43041",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 60,
        "wires": [
            [
                "c404a9ed8e636c7c"
            ]
        ]
    },
    {
        "id": "0dfe2a2a6db04dfb",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 100,
        "wires": [
            [
                "c404a9ed8e636c7c"
            ]
        ]
    },
    {
        "id": "6a72b57ad3862289",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 80,
        "wires": [
            [
                "230f22f4774ccdb3"
            ]
        ]
    },
    {
        "id": "689459657a60f372",
        "type": "debug",
        "z": "a2eedfeb9099d8dc",
        "name": "Debug Processing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 820,
        "wires": []
    },
    {
        "id": "c404a9ed8e636c7c",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_PInit_Pos",
        "name": "Q_100_PInit_Pos",
        "x": 2530,
        "y": 80,
        "wires": []
    },
    {
        "id": "30ad56666259f4f2",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Drill_On",
        "diff": true,
        "name": "I_100_Drill_On",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "7a2dd22a89370831",
                "c3e5849f23d375bb"
            ]
        ]
    },
    {
        "id": "7a2dd22a89370831",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 1,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_Drill_On",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_Drill_On",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "c3e5849f23d375bb",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_On",
        "mode": "link",
        "links": [
            "b4d861c435302a72"
        ],
        "x": 235,
        "y": 80,
        "wires": []
    },
    {
        "id": "cbc58329f01b4b51",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_Drill_On;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 880,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "b4d861c435302a72",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_On",
        "links": [
            "c3e5849f23d375bb"
        ],
        "x": 275,
        "y": 860,
        "wires": [
            [
                "cbc58329f01b4b51"
            ]
        ]
    },
    {
        "id": "8856320832cd8af4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "cbc58329f01b4b51"
            ]
        ]
    },
    {
        "id": "018c5d91be471902",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_100_RT_On",
        "diff": true,
        "name": "I_100_RT_On",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2165896c8f5c2f33",
                "c1dcaf678c641a79"
            ]
        ]
    },
    {
        "id": "2165896c8f5c2f33",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 2,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_RT_On",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_RT_On",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1dcaf678c641a79",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_RT_On",
        "mode": "link",
        "links": [
            "62644eb37b4a29fe"
        ],
        "x": 235,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c55a63001c41762",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_100_Drill_Down",
        "diff": true,
        "name": "I_100_Drill_Down",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d05bd9bb723ea386",
                "1959e3e45d80bebb"
            ]
        ]
    },
    {
        "id": "1959e3e45d80bebb",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Down",
        "mode": "link",
        "links": [
            "cd1915f3cc29f9f2"
        ],
        "x": 235,
        "y": 160,
        "wires": []
    },
    {
        "id": "d05bd9bb723ea386",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 3,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_Drill_Down",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_Drill_Down",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "06848c3f6b73b003",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_100_Drill_Up",
        "diff": true,
        "name": "I_100_Drill_Up",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "4e7070e6f0b30448",
                "520b6e487cf5d2d0"
            ]
        ]
    },
    {
        "id": "520b6e487cf5d2d0",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Up",
        "mode": "link",
        "links": [
            "7e88bb52cfef8aa1"
        ],
        "x": 235,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e7070e6f0b30448",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 4,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_Drill_Up",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_Drill_Up",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "221b569886b855c4",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_100_Drill_Pin",
        "diff": true,
        "name": "I_100_Drill_Pin",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "01fe5190d1b9f97c",
                "a263b4f81fe0d990"
            ]
        ]
    },
    {
        "id": "a263b4f81fe0d990",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Pin",
        "mode": "link",
        "links": [
            "3fb1f7af5c208c8f"
        ],
        "x": 235,
        "y": 240,
        "wires": []
    },
    {
        "id": "01fe5190d1b9f97c",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 5,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_Drill_Pin",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_Drill_Pin",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "00f74832d9208ae2",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_100_Test_Pin",
        "diff": true,
        "name": "I_100_Test_Pin",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3939b2f6d606148f",
                "99390980c36ea4d4"
            ]
        ]
    },
    {
        "id": "99390980c36ea4d4",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Test_Pin",
        "mode": "link",
        "links": [
            "82c59264dd591620"
        ],
        "x": 235,
        "y": 280,
        "wires": []
    },
    {
        "id": "3939b2f6d606148f",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 6,
        "group": "4db85cc2c3f3ee1f",
        "width": 0,
        "height": 0,
        "label": "I_100_Test_Pin",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_100_Test_Pin",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "9db24a155945af2f",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Led_Start",
        "diff": true,
        "name": "I_101_Led_Start",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "66d7211944ecde2e",
                "0557966067f87479"
            ]
        ]
    },
    {
        "id": "0557966067f87479",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Start",
        "mode": "link",
        "links": [
            "59b022b13063d248"
        ],
        "x": 235,
        "y": 320,
        "wires": []
    },
    {
        "id": "66d7211944ecde2e",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 7,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Led_Start",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Led_Start",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "39299a3dc6f52a48",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Led_Reset",
        "diff": true,
        "name": "I_101_Led_Reset",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "172925f1819d7686",
                "a0f4bd99fd077932"
            ]
        ]
    },
    {
        "id": "a0f4bd99fd077932",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Reset",
        "mode": "link",
        "links": [
            "e5d1ef4a5bdb70a5"
        ],
        "x": 235,
        "y": 360,
        "wires": []
    },
    {
        "id": "172925f1819d7686",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 8,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Led_Reset",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Led_Reset",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "af5963e3c42a789f",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Led_Extra1",
        "diff": true,
        "name": "I_101_Led_Extra1",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "9ac5426d1311cbf6",
                "1662e6a9064f4043"
            ]
        ]
    },
    {
        "id": "1662e6a9064f4043",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra1",
        "mode": "link",
        "links": [
            "f883a0284c4b1f05"
        ],
        "x": 235,
        "y": 400,
        "wires": []
    },
    {
        "id": "9ac5426d1311cbf6",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 9,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Led_Extra1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Led_Extra1",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "f280eeb8ae42c180",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Panel_O4",
        "diff": true,
        "name": "I_101_Led_Extra2",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "cbb37915c1c43cc6",
                "56e9a44eb27acbc8"
            ]
        ]
    },
    {
        "id": "56e9a44eb27acbc8",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra2",
        "mode": "link",
        "links": [
            "3f5dba0e1e13a9b8"
        ],
        "x": 235,
        "y": 440,
        "wires": []
    },
    {
        "id": "cbb37915c1c43cc6",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 10,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Led_Extra2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Led_Extra2",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "6bdda95ec60c65eb",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Panel_O4",
        "diff": true,
        "name": "I_101_Panel_O4",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "272170a72a00d118",
                "5b8cca843bb7e313"
            ]
        ]
    },
    {
        "id": "5b8cca843bb7e313",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O4",
        "mode": "link",
        "links": [
            "f516cbc7ffb9f47e"
        ],
        "x": 235,
        "y": 480,
        "wires": []
    },
    {
        "id": "272170a72a00d118",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 11,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Panel_O4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Panel_O4",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "efd24d8e1adc0970",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Panel_O5",
        "diff": true,
        "name": "I_101_Panel_O5",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "87fc26e74a868257",
                "0aa49a8437cc13eb"
            ]
        ]
    },
    {
        "id": "0aa49a8437cc13eb",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O5",
        "mode": "link",
        "links": [
            "2ef3d078f4daa2e9"
        ],
        "x": 235,
        "y": 520,
        "wires": []
    },
    {
        "id": "87fc26e74a868257",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 12,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Panel_O5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Panel_O5",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "ac8728bcddbe6703",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Panel_O6",
        "diff": true,
        "name": "I_101_Panel_O6",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "dd8d6f114005d219",
                "7822883581798b64"
            ]
        ]
    },
    {
        "id": "7822883581798b64",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O6",
        "mode": "link",
        "links": [
            "6b0e9b52e9ede380"
        ],
        "x": 235,
        "y": 560,
        "wires": []
    },
    {
        "id": "dd8d6f114005d219",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 13,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Panel_O6",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Panel_O6",
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "490928aec4bb3ad2",
        "type": "s7 in",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "mode": "single",
        "variable": "I_101_Panel_O7",
        "diff": true,
        "name": "I_101_Panel_O7",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "2c7bf983a4a6b936",
                "43ae3cb2a780124b"
            ]
        ]
    },
    {
        "id": "43ae3cb2a780124b",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O7",
        "mode": "link",
        "links": [
            "72b565c4c957bf70"
        ],
        "x": 235,
        "y": 600,
        "wires": []
    },
    {
        "id": "2c7bf983a4a6b936",
        "type": "ui_led",
        "z": "a2eedfeb9099d8dc",
        "order": 14,
        "group": "d98a027d2ae4a0fc",
        "width": 0,
        "height": 0,
        "label": "I_101_Panel_O7",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "I_101_Panel_O7",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "7c702b465940e206",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_RT_On;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 920,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "62644eb37b4a29fe",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_RT_On",
        "links": [
            "c1dcaf678c641a79"
        ],
        "x": 275,
        "y": 900,
        "wires": [
            [
                "7c702b465940e206"
            ]
        ]
    },
    {
        "id": "aa2ea618658a614d",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_RT_On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "7c702b465940e206"
            ]
        ]
    },
    {
        "id": "91fe930f447c89a7",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_Drill_Down;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 960,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "cd1915f3cc29f9f2",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Down",
        "links": [
            "1959e3e45d80bebb"
        ],
        "x": 275,
        "y": 940,
        "wires": [
            [
                "91fe930f447c89a7"
            ]
        ]
    },
    {
        "id": "384d15aa8537c1cc",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Down",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "91fe930f447c89a7"
            ]
        ]
    },
    {
        "id": "c17a6acccb0f7bdb",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_Drill_Up;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "7e88bb52cfef8aa1",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Up",
        "links": [
            "520b6e487cf5d2d0"
        ],
        "x": 275,
        "y": 980,
        "wires": [
            [
                "c17a6acccb0f7bdb"
            ]
        ]
    },
    {
        "id": "b9a75ef6f98b54b4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Up",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "c17a6acccb0f7bdb"
            ]
        ]
    },
    {
        "id": "9ee5707997b823b8",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_Drill_Pin;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "3fb1f7af5c208c8f",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Pin",
        "links": [
            "a263b4f81fe0d990"
        ],
        "x": 275,
        "y": 1020,
        "wires": [
            [
                "9ee5707997b823b8"
            ]
        ]
    },
    {
        "id": "b1255c37649abffc",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Drill_Pin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "9ee5707997b823b8"
            ]
        ]
    },
    {
        "id": "9855a384de2f150a",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_100_Test_Pin;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "82c59264dd591620",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Test_Pin",
        "links": [
            "99390980c36ea4d4"
        ],
        "x": 275,
        "y": 1060,
        "wires": [
            [
                "9855a384de2f150a"
            ]
        ]
    },
    {
        "id": "7f37787cf7654131",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_100_Test_Pin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "9855a384de2f150a"
            ]
        ]
    },
    {
        "id": "e1f604ad17f88d03",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Led_Start;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1120,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "59b022b13063d248",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Start",
        "links": [
            "0557966067f87479"
        ],
        "x": 275,
        "y": 1100,
        "wires": [
            [
                "e1f604ad17f88d03"
            ]
        ]
    },
    {
        "id": "98402ee4515d67d5",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "e1f604ad17f88d03"
            ]
        ]
    },
    {
        "id": "a78341c0bd8eb2c4",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Led_Reset;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "e5d1ef4a5bdb70a5",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Reset",
        "links": [
            "a0f4bd99fd077932"
        ],
        "x": 275,
        "y": 1140,
        "wires": [
            [
                "a78341c0bd8eb2c4"
            ]
        ]
    },
    {
        "id": "42b2bbddadb5f163",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "a78341c0bd8eb2c4"
            ]
        ]
    },
    {
        "id": "d1ed3e1150f1f3c3",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Led_Extra1;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "f883a0284c4b1f05",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra1",
        "links": [
            "1662e6a9064f4043"
        ],
        "x": 275,
        "y": 1180,
        "wires": [
            [
                "d1ed3e1150f1f3c3"
            ]
        ]
    },
    {
        "id": "9be58620dc106434",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "d1ed3e1150f1f3c3"
            ]
        ]
    },
    {
        "id": "9fa5f97e53f2692b",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Led_Extra2;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "3f5dba0e1e13a9b8",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra2",
        "links": [
            "56e9a44eb27acbc8"
        ],
        "x": 275,
        "y": 1220,
        "wires": [
            [
                "9fa5f97e53f2692b"
            ]
        ]
    },
    {
        "id": "d8b887416b4cbaee",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Led_Extra2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "9fa5f97e53f2692b"
            ]
        ]
    },
    {
        "id": "eea109e9e3faf120",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Panel_O4;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1280,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "f516cbc7ffb9f47e",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O4",
        "links": [
            "5b8cca843bb7e313"
        ],
        "x": 275,
        "y": 1260,
        "wires": [
            [
                "eea109e9e3faf120"
            ]
        ]
    },
    {
        "id": "092f72608192705f",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "eea109e9e3faf120"
            ]
        ]
    },
    {
        "id": "ed07bb0c153410b3",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Panel_O5;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "2ef3d078f4daa2e9",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O5",
        "links": [
            "0aa49a8437cc13eb"
        ],
        "x": 275,
        "y": 1300,
        "wires": [
            [
                "ed07bb0c153410b3"
            ]
        ]
    },
    {
        "id": "a52683f3a74dd8fb",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "ed07bb0c153410b3"
            ]
        ]
    },
    {
        "id": "4e90ea7e1d9ec119",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Proc_Zera",
        "links": [
            "05c4a3a96510b7cc",
            "448f3c2530cb8f39"
        ],
        "x": 365,
        "y": 820,
        "wires": [
            [
                "6ab0dcd8e34e1f08"
            ]
        ]
    },
    {
        "id": "448f3c2530cb8f39",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Proc_Zera_In",
        "mode": "link",
        "links": [
            "4e90ea7e1d9ec119"
        ],
        "x": 575,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3b36d74aa2cc2043",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Panel_O6;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1360,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "b31143cd54681f69",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "3b36d74aa2cc2043"
            ]
        ]
    },
    {
        "id": "5963b5834ff93b85",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=I_101_Panel_O7;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 400,
        "y": 1400,
        "wires": [
            [
                "448f3c2530cb8f39"
            ]
        ]
    },
    {
        "id": "72b565c4c957bf70",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O7",
        "links": [
            "43ae3cb2a780124b"
        ],
        "x": 275,
        "y": 1380,
        "wires": [
            [
                "5963b5834ff93b85"
            ]
        ]
    },
    {
        "id": "c378bbf85e7ae702",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O7",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "5963b5834ff93b85"
            ]
        ]
    },
    {
        "id": "6b0e9b52e9ede380",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "I_101_Panel_O6",
        "links": [
            "7822883581798b64"
        ],
        "x": 275,
        "y": 1340,
        "wires": [
            [
                "3b36d74aa2cc2043"
            ]
        ]
    },
    {
        "id": "3555e2a7cd3192ff",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PInit_Pos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 880,
        "wires": [
            [
                "a0cc9fbf1017e5f7"
            ]
        ]
    },
    {
        "id": "d7fa6067df280259",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PInit_Pos",
        "links": [
            "72e412a9a77b4c13"
        ],
        "x": 835,
        "y": 860,
        "wires": [
            [
                "a0cc9fbf1017e5f7"
            ]
        ]
    },
    {
        "id": "a0cc9fbf1017e5f7",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_PInit_Pos;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 880,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "05c4a3a96510b7cc",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Proc_Zera_Out",
        "mode": "link",
        "links": [
            "4e90ea7e1d9ec119"
        ],
        "x": 1125,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d71c92279e798602",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PDrill_Pos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 920,
        "wires": [
            [
                "f4747d08eb31ed45"
            ]
        ]
    },
    {
        "id": "1d8a3dc0f538ac36",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PDrill_Pos",
        "links": [
            "45e787f67bd041b2"
        ],
        "x": 835,
        "y": 900,
        "wires": [
            [
                "f4747d08eb31ed45"
            ]
        ]
    },
    {
        "id": "f4747d08eb31ed45",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_PDrill_Pos;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 920,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "1636a6ad19093d2d",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "dfa5e3d19a7911ea"
            ]
        ]
    },
    {
        "id": "96f68625ce17b62b",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos",
        "links": [
            "2048efcbece8d536"
        ],
        "x": 835,
        "y": 940,
        "wires": [
            [
                "dfa5e3d19a7911ea"
            ]
        ]
    },
    {
        "id": "dfa5e3d19a7911ea",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_PTest_Pos;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 960,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "e5933a5986e7baa6",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_High",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "08c5dff4723a4326"
            ]
        ]
    },
    {
        "id": "6cf6b05598153146",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_High",
        "links": [
            "2cc8301cf733441c"
        ],
        "x": 835,
        "y": 980,
        "wires": [
            [
                "08c5dff4723a4326"
            ]
        ]
    },
    {
        "id": "08c5dff4723a4326",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_SDrill_High;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1000,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "11c74ccb8347c85f",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_Low",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "6fd584d5c65ff07e"
            ]
        ]
    },
    {
        "id": "4696a14cc5b7400d",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_Low",
        "links": [
            "e8c71cd27a4f2448"
        ],
        "x": 835,
        "y": 1020,
        "wires": [
            [
                "6fd584d5c65ff07e"
            ]
        ]
    },
    {
        "id": "6fd584d5c65ff07e",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_SDrill_Low;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1040,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "d4f1b6a46c7b5be5",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_RT_Sensor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1080,
        "wires": [
            [
                "188a1ad852226283"
            ]
        ]
    },
    {
        "id": "0422010caf15e131",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_RT_Sensor",
        "links": [
            "d4a30aefa7457102"
        ],
        "x": 835,
        "y": 1060,
        "wires": [
            [
                "188a1ad852226283"
            ]
        ]
    },
    {
        "id": "188a1ad852226283",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_RT_Sensor;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1080,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "126bd6885cbc28ff",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Ok",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1120,
        "wires": [
            [
                "39d7c392c732c3db"
            ]
        ]
    },
    {
        "id": "740e2ad75dcbb2fb",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Ok",
        "links": [
            "0509f312f54e4192"
        ],
        "x": 835,
        "y": 1100,
        "wires": [
            [
                "39d7c392c732c3db"
            ]
        ]
    },
    {
        "id": "39d7c392c732c3db",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_100_PTest_Ok;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1120,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "f52eddcb5260e310",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "b13beeec49d6eff1"
            ]
        ]
    },
    {
        "id": "a4cdf266a54d1255",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_On",
        "links": [
            "ca868d0561b9aef8"
        ],
        "x": 835,
        "y": 1140,
        "wires": [
            [
                "b13beeec49d6eff1"
            ]
        ]
    },
    {
        "id": "b13beeec49d6eff1",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_On;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1160,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "199e85790df9e4b7",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 730,
        "y": 1200,
        "wires": [
            [
                "77a798b5f88be3db"
            ]
        ]
    },
    {
        "id": "e9ce55cd42e369ed",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Off",
        "links": [
            "fa497e6761aa3b91"
        ],
        "x": 835,
        "y": 1180,
        "wires": [
            [
                "77a798b5f88be3db"
            ]
        ]
    },
    {
        "id": "77a798b5f88be3db",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Off;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1200,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "e296310014923452",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Key_Pos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1240,
        "wires": [
            [
                "204be5c39a897b85"
            ]
        ]
    },
    {
        "id": "8a372c3824d1bc16",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Key_Pos",
        "links": [
            "6fbe0e22717add47"
        ],
        "x": 835,
        "y": 1220,
        "wires": [
            [
                "204be5c39a897b85"
            ]
        ]
    },
    {
        "id": "204be5c39a897b85",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Key_Pos;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1240,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "70babe8e0bb0826a",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 720,
        "y": 1280,
        "wires": [
            [
                "3d05badef97be9f4"
            ]
        ]
    },
    {
        "id": "b7a93338fdc56c43",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Reset",
        "links": [
            "f218495228fc201e"
        ],
        "x": 835,
        "y": 1260,
        "wires": [
            [
                "3d05badef97be9f4"
            ]
        ]
    },
    {
        "id": "3d05badef97be9f4",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Reset;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1280,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "3dfc172c810621bb",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "6b06f483ab99b176"
            ]
        ]
    },
    {
        "id": "b57488f53ee45649",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I4",
        "links": [
            "836bb7600cf2d475"
        ],
        "x": 835,
        "y": 1300,
        "wires": [
            [
                "6b06f483ab99b176"
            ]
        ]
    },
    {
        "id": "6b06f483ab99b176",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Panel_I4;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1320,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "1cef642a8d5edaa1",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1360,
        "wires": [
            [
                "b23e1a93dc889811"
            ]
        ]
    },
    {
        "id": "3fc8f9072b8c9031",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I5",
        "links": [
            "2153965d25b75bd6"
        ],
        "x": 835,
        "y": 1340,
        "wires": [
            [
                "b23e1a93dc889811"
            ]
        ]
    },
    {
        "id": "b23e1a93dc889811",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Panel_I5;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1360,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "f2fdaf179b8c81b4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1400,
        "wires": [
            [
                "3eb12f8f7217bc8c"
            ]
        ]
    },
    {
        "id": "d746f1b9065001af",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I6",
        "links": [
            "434c3a650862a551"
        ],
        "x": 835,
        "y": 1380,
        "wires": [
            [
                "3eb12f8f7217bc8c"
            ]
        ]
    },
    {
        "id": "3eb12f8f7217bc8c",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Panel_I6;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1400,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "39286c8734a8690d",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I7",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 710,
        "y": 1440,
        "wires": [
            [
                "50d9c0452e7404a3"
            ]
        ]
    },
    {
        "id": "fafc64aef39a3b35",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I7",
        "links": [
            "33767faa8519e089"
        ],
        "x": 835,
        "y": 1420,
        "wires": [
            [
                "50d9c0452e7404a3"
            ]
        ]
    },
    {
        "id": "50d9c0452e7404a3",
        "type": "OpcUa-Item",
        "z": "a2eedfeb9099d8dc",
        "item": "ns=1;s=Q_101_Panel_I7;datatype=Boolean",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 960,
        "y": 1440,
        "wires": [
            [
                "05c4a3a96510b7cc"
            ]
        ]
    },
    {
        "id": "b89cf80221be8890",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_PDrill_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 140,
        "wires": [
            [
                "45e787f67bd041b2"
            ]
        ]
    },
    {
        "id": "1b86c35a143de7f9",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_PDrill_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "45e787f67bd041b2"
            ]
        ]
    },
    {
        "id": "89ee66bc8b6a08a0",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PDrill_Pos_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "b89cf80221be8890"
            ]
        ]
    },
    {
        "id": "6a176170fd94ac99",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PDrill_Pos_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "1b86c35a143de7f9"
            ]
        ]
    },
    {
        "id": "45e787f67bd041b2",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PDrill_Pos",
        "mode": "link",
        "links": [
            "1d8a3dc0f538ac36"
        ],
        "x": 1085,
        "y": 160,
        "wires": []
    },
    {
        "id": "bcc17b8fcd32e1f5",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "7fd7f439e6f09563"
            ]
        ]
    },
    {
        "id": "5ab570833b452e1f",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "9b9d0b3cef90fc89"
            ]
        ]
    },
    {
        "id": "7fd7f439e6f09563",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_PTest_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 220,
        "wires": [
            [
                "2048efcbece8d536"
            ]
        ]
    },
    {
        "id": "9b9d0b3cef90fc89",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_PTest_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "2048efcbece8d536"
            ]
        ]
    },
    {
        "id": "2048efcbece8d536",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos",
        "mode": "link",
        "links": [
            "96f68625ce17b62b"
        ],
        "x": 1085,
        "y": 240,
        "wires": []
    },
    {
        "id": "975497871a1093fa",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I7_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "01c493aa933e7695"
            ]
        ]
    },
    {
        "id": "c878216234cd94c4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I7_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 660,
        "wires": [
            [
                "80e832d4b55c69b3"
            ]
        ]
    },
    {
        "id": "01c493aa933e7695",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Panel_I7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 620,
        "wires": [
            [
                "33767faa8519e089"
            ]
        ]
    },
    {
        "id": "80e832d4b55c69b3",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Panel_I7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1550,
        "y": 660,
        "wires": [
            [
                "33767faa8519e089"
            ]
        ]
    },
    {
        "id": "33767faa8519e089",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Pos",
        "mode": "link",
        "links": [
            "fafc64aef39a3b35"
        ],
        "x": 1725,
        "y": 640,
        "wires": []
    },
    {
        "id": "7fe46e410eaef434",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_High_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "ac28958e527c3629"
            ]
        ]
    },
    {
        "id": "cece39f7bcb0fcd4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_High_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "e880abd9049cea62"
            ]
        ]
    },
    {
        "id": "ac28958e527c3629",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_SDrill_High",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 300,
        "wires": [
            [
                "2cc8301cf733441c"
            ]
        ]
    },
    {
        "id": "e880abd9049cea62",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_SDrill_High",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 340,
        "wires": [
            [
                "2cc8301cf733441c"
            ]
        ]
    },
    {
        "id": "2cc8301cf733441c",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_High",
        "mode": "link",
        "links": [
            "6cf6b05598153146"
        ],
        "x": 1085,
        "y": 320,
        "wires": []
    },
    {
        "id": "2baef83fad988a48",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_Low_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "3b2ec3d59200b649"
            ]
        ]
    },
    {
        "id": "7d8bb9b23d87c33e",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_Low_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "a0a53cafbb999a9f"
            ]
        ]
    },
    {
        "id": "3b2ec3d59200b649",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_SDrill_Low",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 380,
        "wires": [
            [
                "e8c71cd27a4f2448"
            ]
        ]
    },
    {
        "id": "a0a53cafbb999a9f",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_SDrill_Low",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 420,
        "wires": [
            [
                "e8c71cd27a4f2448"
            ]
        ]
    },
    {
        "id": "e8c71cd27a4f2448",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_SDrill_Low",
        "mode": "link",
        "links": [
            "4696a14cc5b7400d"
        ],
        "x": 1085,
        "y": 400,
        "wires": []
    },
    {
        "id": "a377eb4234c9de36",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_RT_Sensor_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "98e014b33b512c08"
            ]
        ]
    },
    {
        "id": "d98219e88fede1b4",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_RT_Sensor_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "6c055bbfa6214cbe"
            ]
        ]
    },
    {
        "id": "98e014b33b512c08",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_RT_Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "d4a30aefa7457102"
            ]
        ]
    },
    {
        "id": "6c055bbfa6214cbe",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_RT_Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 500,
        "wires": [
            [
                "d4a30aefa7457102"
            ]
        ]
    },
    {
        "id": "d4a30aefa7457102",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_RT_Sensor",
        "mode": "link",
        "links": [
            "0422010caf15e131"
        ],
        "x": 1085,
        "y": 480,
        "wires": []
    },
    {
        "id": "531c12c3839bcd9c",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Ok_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "899e71e935332b4a"
            ]
        ]
    },
    {
        "id": "a62eee5ef3593f4d",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Ok_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 580,
        "wires": [
            [
                "6b86ab579b67496c"
            ]
        ]
    },
    {
        "id": "899e71e935332b4a",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_100_PTest_Ok",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 900,
        "y": 540,
        "wires": [
            [
                "0509f312f54e4192"
            ]
        ]
    },
    {
        "id": "6b86ab579b67496c",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "41464d608859ff6f",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_100_PTest_Ok",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "0509f312f54e4192"
            ]
        ]
    },
    {
        "id": "0509f312f54e4192",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_100_PTest_Ok",
        "mode": "link",
        "links": [
            "740e2ad75dcbb2fb"
        ],
        "x": 1085,
        "y": 560,
        "wires": []
    },
    {
        "id": "8a9d88d3729bb15f",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1520,
        "y": 60,
        "wires": [
            [
                "ca868d0561b9aef8"
            ]
        ]
    },
    {
        "id": "63a90bbaa4f36c9b",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1530,
        "y": 100,
        "wires": [
            [
                "ca868d0561b9aef8"
            ]
        ]
    },
    {
        "id": "29931d852c70a2cd",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_On_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1320,
        "y": 60,
        "wires": [
            [
                "8a9d88d3729bb15f"
            ]
        ]
    },
    {
        "id": "394ed671121a9011",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_On_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1310,
        "y": 100,
        "wires": [
            [
                "63a90bbaa4f36c9b"
            ]
        ]
    },
    {
        "id": "ca868d0561b9aef8",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_On",
        "mode": "link",
        "links": [
            "a4cdf266a54d1255"
        ],
        "x": 1725,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd232e5ca6176da8",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1520,
        "y": 140,
        "wires": [
            [
                "fa497e6761aa3b91"
            ]
        ]
    },
    {
        "id": "c883b613a2ea760f",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1530,
        "y": 180,
        "wires": [
            [
                "fa497e6761aa3b91"
            ]
        ]
    },
    {
        "id": "ae7408587d6824ef",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Off_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1320,
        "y": 140,
        "wires": [
            [
                "fd232e5ca6176da8"
            ]
        ]
    },
    {
        "id": "695b406227e847fe",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Off_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1310,
        "y": 180,
        "wires": [
            [
                "c883b613a2ea760f"
            ]
        ]
    },
    {
        "id": "fa497e6761aa3b91",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Off",
        "mode": "link",
        "links": [
            "e9ce55cd42e369ed"
        ],
        "x": 1725,
        "y": 160,
        "wires": []
    },
    {
        "id": "fd46620a95ee0963",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Key_Pos_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "8a1ecae77231e92f"
            ]
        ]
    },
    {
        "id": "8ca2901667fb0597",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Key_Pos_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 260,
        "wires": [
            [
                "634320dfa80dae02"
            ]
        ]
    },
    {
        "id": "8a1ecae77231e92f",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Key_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 220,
        "wires": [
            [
                "6fbe0e22717add47"
            ]
        ]
    },
    {
        "id": "634320dfa80dae02",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Key_Pos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1550,
        "y": 260,
        "wires": [
            [
                "6fbe0e22717add47"
            ]
        ]
    },
    {
        "id": "6fbe0e22717add47",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Key_Pos",
        "mode": "link",
        "links": [
            "8a372c3824d1bc16"
        ],
        "x": 1725,
        "y": 240,
        "wires": []
    },
    {
        "id": "19f5cb61f78ccfa9",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Reset_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "d958c8ea900d37ff"
            ]
        ]
    },
    {
        "id": "9095029e32baaee7",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Reset_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1300,
        "y": 340,
        "wires": [
            [
                "cfb2dba8d4c48bf9"
            ]
        ]
    },
    {
        "id": "d958c8ea900d37ff",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "f218495228fc201e"
            ]
        ]
    },
    {
        "id": "cfb2dba8d4c48bf9",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 340,
        "wires": [
            [
                "f218495228fc201e"
            ]
        ]
    },
    {
        "id": "f218495228fc201e",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Reset",
        "mode": "link",
        "links": [
            "b7a93338fdc56c43"
        ],
        "x": 1725,
        "y": 320,
        "wires": []
    },
    {
        "id": "ebb94b98a8198a52",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I4_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 380,
        "wires": [
            [
                "f75e5d26cf3011fa"
            ]
        ]
    },
    {
        "id": "1aa886007914ec30",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I4_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "e432c17bc2334a18"
            ]
        ]
    },
    {
        "id": "f75e5d26cf3011fa",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Panel_I4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 380,
        "wires": [
            [
                "836bb7600cf2d475"
            ]
        ]
    },
    {
        "id": "e432c17bc2334a18",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Panel_I4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1550,
        "y": 420,
        "wires": [
            [
                "836bb7600cf2d475"
            ]
        ]
    },
    {
        "id": "836bb7600cf2d475",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I4",
        "mode": "link",
        "links": [
            "b57488f53ee45649"
        ],
        "x": 1725,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf78d46c75274074",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I5_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "0d3a34e84c9fa22b"
            ]
        ]
    },
    {
        "id": "2d4b08bc004eae90",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I5_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "90cda521aed3e3b7"
            ]
        ]
    },
    {
        "id": "0d3a34e84c9fa22b",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Panel_I5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 460,
        "wires": [
            [
                "2153965d25b75bd6"
            ]
        ]
    },
    {
        "id": "90cda521aed3e3b7",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Panel_I5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1550,
        "y": 500,
        "wires": [
            [
                "2153965d25b75bd6"
            ]
        ]
    },
    {
        "id": "2153965d25b75bd6",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I5",
        "mode": "link",
        "links": [
            "3fc8f9072b8c9031"
        ],
        "x": 1725,
        "y": 480,
        "wires": []
    },
    {
        "id": "8ede72796d1e5b5f",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I6_Liga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 540,
        "wires": [
            [
                "1802f7840cb2d838"
            ]
        ]
    },
    {
        "id": "25d746beb6dfb60d",
        "type": "inject",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I6_Desliga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 580,
        "wires": [
            [
                "b6424fbc8982586f"
            ]
        ]
    },
    {
        "id": "1802f7840cb2d838",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Liga Q_101_Panel_I6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1540,
        "y": 540,
        "wires": [
            [
                "434c3a650862a551"
            ]
        ]
    },
    {
        "id": "b6424fbc8982586f",
        "type": "ui_button",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "group": "4b549bb9b107a1ba",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desliga Q_101_Panel_I6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1550,
        "y": 580,
        "wires": [
            [
                "434c3a650862a551"
            ]
        ]
    },
    {
        "id": "434c3a650862a551",
        "type": "link out",
        "z": "a2eedfeb9099d8dc",
        "name": "Q_101_Panel_I6",
        "mode": "link",
        "links": [
            "d746f1b9065001af"
        ],
        "x": 1725,
        "y": 560,
        "wires": []
    },
    {
        "id": "d520daa8013124dc",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_PDrill_Pos",
        "func": "if (msg.payload.variableName === \"1:Q_100_PDrill_Pos\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_PDrill_Pos\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 160,
        "wires": [
            [
                "b03883b3c42cccfc"
            ],
            [
                "c5b6cbbf05254854"
            ]
        ]
    },
    {
        "id": "b03883b3c42cccfc",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 140,
        "wires": [
            [
                "6ba36cdc725cbc39"
            ]
        ]
    },
    {
        "id": "c5b6cbbf05254854",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 180,
        "wires": [
            [
                "6ba36cdc725cbc39"
            ]
        ]
    },
    {
        "id": "ad0ddd59041f37c1",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1915,
        "y": 160,
        "wires": [
            [
                "d520daa8013124dc"
            ]
        ]
    },
    {
        "id": "6ba36cdc725cbc39",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_PDrill_Pos",
        "name": "Q_100_PDrill_Pos",
        "x": 2530,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae1f82e0b49c57eb",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_PTest_Pos",
        "func": "if (msg.payload.variableName === \"1:Q_100_PTest_Pos\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_PTest_Pos\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 240,
        "wires": [
            [
                "0e9ba134e4e25e5b"
            ],
            [
                "6810c7b999c30f2d"
            ]
        ]
    },
    {
        "id": "0e9ba134e4e25e5b",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 220,
        "wires": [
            [
                "60905fe4056d735f"
            ]
        ]
    },
    {
        "id": "6810c7b999c30f2d",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 260,
        "wires": [
            [
                "60905fe4056d735f"
            ]
        ]
    },
    {
        "id": "8fbaa0d2784e4c91",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1915,
        "y": 240,
        "wires": [
            [
                "ae1f82e0b49c57eb"
            ]
        ]
    },
    {
        "id": "60905fe4056d735f",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_PTest_Pos",
        "name": "Q_100_PTest_Pos",
        "x": 2530,
        "y": 240,
        "wires": []
    },
    {
        "id": "839c446d7728d480",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_SDrill_High",
        "func": "if (msg.payload.variableName === \"1:Q_100_SDrill_High\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_SDrill_High\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 320,
        "wires": [
            [
                "d7b0dbc9c9681070"
            ],
            [
                "92ed87bb6a0370a1"
            ]
        ]
    },
    {
        "id": "d7b0dbc9c9681070",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 300,
        "wires": [
            [
                "609de3ab4d6b5b23"
            ]
        ]
    },
    {
        "id": "92ed87bb6a0370a1",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 340,
        "wires": [
            [
                "609de3ab4d6b5b23"
            ]
        ]
    },
    {
        "id": "82d4b98e1a740b47",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1915,
        "y": 320,
        "wires": [
            [
                "839c446d7728d480"
            ]
        ]
    },
    {
        "id": "609de3ab4d6b5b23",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_SDrill_High",
        "name": "Q_100_SDrill_High",
        "x": 2530,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d7f62fdbd110f26",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_SDrill_Low",
        "func": "if (msg.payload.variableName === \"1:Q_100_SDrill_Low\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_SDrill_Low\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 400,
        "wires": [
            [
                "dcee57516e3bd7b4"
            ],
            [
                "07273303c2e64a33"
            ]
        ]
    },
    {
        "id": "dcee57516e3bd7b4",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 380,
        "wires": [
            [
                "c6e39bb9bd39b71d"
            ]
        ]
    },
    {
        "id": "07273303c2e64a33",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 420,
        "wires": [
            [
                "c6e39bb9bd39b71d"
            ]
        ]
    },
    {
        "id": "cca78a720755f10c",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1915,
        "y": 400,
        "wires": [
            [
                "8d7f62fdbd110f26"
            ]
        ]
    },
    {
        "id": "c6e39bb9bd39b71d",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_SDrill_Low",
        "name": "Q_100_SDrill_Low",
        "x": 2530,
        "y": 400,
        "wires": []
    },
    {
        "id": "bbd473e77cfa0c35",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_RT_Sensor",
        "func": "if (msg.payload.variableName === \"1:Q_100_RT_Sensor\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_RT_Sensor\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 480,
        "wires": [
            [
                "965c016e20384a06"
            ],
            [
                "2043ab7808b493dd"
            ]
        ]
    },
    {
        "id": "965c016e20384a06",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 460,
        "wires": [
            [
                "2406088b909a10fc"
            ]
        ]
    },
    {
        "id": "2043ab7808b493dd",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 500,
        "wires": [
            [
                "2406088b909a10fc"
            ]
        ]
    },
    {
        "id": "bce0a87ae5f552b1",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1915,
        "y": 480,
        "wires": [
            [
                "bbd473e77cfa0c35"
            ]
        ]
    },
    {
        "id": "2406088b909a10fc",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_RT_Sensor",
        "name": "Q_100_RT_Sensor",
        "x": 2530,
        "y": 480,
        "wires": []
    },
    {
        "id": "8f9d44eaddcc26ef",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_100_PTest_Ok",
        "func": "if (msg.payload.variableName === \"1:Q_100_PTest_Ok\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_100_PTest_Ok\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 560,
        "wires": [
            [
                "412d1dacb7fe1140"
            ],
            [
                "6e8b88fb9d563d56"
            ]
        ]
    },
    {
        "id": "412d1dacb7fe1140",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 540,
        "wires": [
            [
                "48b9a32b20585d67"
            ]
        ]
    },
    {
        "id": "6e8b88fb9d563d56",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 580,
        "wires": [
            [
                "48b9a32b20585d67"
            ]
        ]
    },
    {
        "id": "55c0aec5e652d00a",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 560,
        "wires": [
            [
                "8f9d44eaddcc26ef"
            ]
        ]
    },
    {
        "id": "48b9a32b20585d67",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_100_PTest_Ok",
        "name": "Q_100_PTest_Ok",
        "x": 2530,
        "y": 560,
        "wires": []
    },
    {
        "id": "8d150e50de61cd68",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_On",
        "func": "if (msg.payload.variableName === \"1:Q_101_On\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_On\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 640,
        "wires": [
            [
                "6bb99a3ed3408f02"
            ],
            [
                "1d157fa1360dd54e"
            ]
        ]
    },
    {
        "id": "6bb99a3ed3408f02",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 620,
        "wires": [
            [
                "848699b22e205f36"
            ]
        ]
    },
    {
        "id": "1d157fa1360dd54e",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 660,
        "wires": [
            [
                "848699b22e205f36"
            ]
        ]
    },
    {
        "id": "937dc46237fcb5d7",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1975,
        "y": 640,
        "wires": [
            [
                "8d150e50de61cd68"
            ]
        ]
    },
    {
        "id": "848699b22e205f36",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_On",
        "name": "Q_101_On",
        "x": 2510,
        "y": 640,
        "wires": []
    },
    {
        "id": "31dfb0733c903f6e",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Off",
        "func": "if (msg.payload.variableName === \"1:Q_101_Off\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Off\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 720,
        "wires": [
            [
                "f2605951a9c7c633"
            ],
            [
                "4a8b51c1279522eb"
            ]
        ]
    },
    {
        "id": "f2605951a9c7c633",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 700,
        "wires": [
            [
                "feeb036b7e6521e8"
            ]
        ]
    },
    {
        "id": "4a8b51c1279522eb",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 740,
        "wires": [
            [
                "feeb036b7e6521e8"
            ]
        ]
    },
    {
        "id": "1532e26b9dcd1e7a",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1975,
        "y": 720,
        "wires": [
            [
                "31dfb0733c903f6e"
            ]
        ]
    },
    {
        "id": "feeb036b7e6521e8",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Off",
        "name": "Q_101_Off",
        "x": 2510,
        "y": 720,
        "wires": []
    },
    {
        "id": "906af30f0dc5528a",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Key_Pos",
        "func": "if (msg.payload.variableName === \"1:Q_101_Key_Pos\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Key_Pos\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 800,
        "wires": [
            [
                "d2253e99e07923f2"
            ],
            [
                "7e4d94377772c2e6"
            ]
        ]
    },
    {
        "id": "d2253e99e07923f2",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 780,
        "wires": [
            [
                "e0df80946cda59d8"
            ]
        ]
    },
    {
        "id": "7e4d94377772c2e6",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 820,
        "wires": [
            [
                "e0df80946cda59d8"
            ]
        ]
    },
    {
        "id": "40ab99e054074df8",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 800,
        "wires": [
            [
                "906af30f0dc5528a"
            ]
        ]
    },
    {
        "id": "e0df80946cda59d8",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Key_Pos",
        "name": "Q_101_Key_Pos",
        "x": 2530,
        "y": 800,
        "wires": []
    },
    {
        "id": "db34adba5785c591",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Reset",
        "func": "if (msg.payload.variableName === \"1:Q_101_Reset\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Reset\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 880,
        "wires": [
            [
                "a839f8230ca7f3ec"
            ],
            [
                "1f5d0ec2ad88db51"
            ]
        ]
    },
    {
        "id": "a839f8230ca7f3ec",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 860,
        "wires": [
            [
                "5ec524781d4aada9"
            ]
        ]
    },
    {
        "id": "1f5d0ec2ad88db51",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 900,
        "wires": [
            [
                "5ec524781d4aada9"
            ]
        ]
    },
    {
        "id": "161a7375294252a8",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1955,
        "y": 880,
        "wires": [
            [
                "db34adba5785c591"
            ]
        ]
    },
    {
        "id": "5ec524781d4aada9",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Reset",
        "name": "Q_101_Reset",
        "x": 2520,
        "y": 880,
        "wires": []
    },
    {
        "id": "34d1bd35de0d7bf8",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Panel_I4",
        "func": "if (msg.payload.variableName === \"1:Q_101_Panel_I4\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Panel_I4\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 960,
        "wires": [
            [
                "68ce210d2dace081"
            ],
            [
                "2a30459c5e9f739d"
            ]
        ]
    },
    {
        "id": "68ce210d2dace081",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 940,
        "wires": [
            [
                "c3cca8467dcf6e3f"
            ]
        ]
    },
    {
        "id": "2a30459c5e9f739d",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 980,
        "wires": [
            [
                "c3cca8467dcf6e3f"
            ]
        ]
    },
    {
        "id": "e96da55551d910d5",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 960,
        "wires": [
            [
                "34d1bd35de0d7bf8"
            ]
        ]
    },
    {
        "id": "c3cca8467dcf6e3f",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Panel_I4",
        "name": "Q_101_Panel_I4",
        "x": 2530,
        "y": 960,
        "wires": []
    },
    {
        "id": "3e72e75720e4d7dd",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Panel_I5",
        "func": "if (msg.payload.variableName === \"1:Q_101_Panel_I5\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Panel_I5\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 1040,
        "wires": [
            [
                "55ee0af3d3e8ace2"
            ],
            [
                "e28afb67f64e2802"
            ]
        ]
    },
    {
        "id": "55ee0af3d3e8ace2",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1020,
        "wires": [
            [
                "2c99794848ded4a3"
            ]
        ]
    },
    {
        "id": "e28afb67f64e2802",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1060,
        "wires": [
            [
                "2c99794848ded4a3"
            ]
        ]
    },
    {
        "id": "c6ef4b3472d6c3af",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 1040,
        "wires": [
            [
                "3e72e75720e4d7dd"
            ]
        ]
    },
    {
        "id": "2c99794848ded4a3",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Panel_I5",
        "name": "Q_101_Panel_I5",
        "x": 2530,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a284abf1acd58151",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Panel_I6",
        "func": "if (msg.payload.variableName === \"1:Q_101_Panel_I6\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Panel_I6\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 1120,
        "wires": [
            [
                "b5b58bc11cd5a1be"
            ],
            [
                "89af104d0f365afb"
            ]
        ]
    },
    {
        "id": "b5b58bc11cd5a1be",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1100,
        "wires": [
            [
                "e9996baf7b0d0201"
            ]
        ]
    },
    {
        "id": "89af104d0f365afb",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1140,
        "wires": [
            [
                "e9996baf7b0d0201"
            ]
        ]
    },
    {
        "id": "8683412e5e436d70",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 1120,
        "wires": [
            [
                "a284abf1acd58151"
            ]
        ]
    },
    {
        "id": "e9996baf7b0d0201",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Panel_I6",
        "name": "Q_101_Panel_I6",
        "x": 2530,
        "y": 1120,
        "wires": []
    },
    {
        "id": "efa81a816eee053b",
        "type": "function",
        "z": "a2eedfeb9099d8dc",
        "name": "Função Q_101_Panel_I7",
        "func": "if (msg.payload.variableName === \"1:Q_101_Panel_I7\" && msg.payload.variableValue === true) {\n    return [msg, null];\n}\nif (msg.payload.variableName === \"1:Q_101_Panel_I7\" && msg.payload.variableValue === false) {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 1200,
        "wires": [
            [
                "9b05a7256961dcd0"
            ],
            [
                "a151578cd586fe8f"
            ]
        ]
    },
    {
        "id": "9b05a7256961dcd0",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1180,
        "wires": [
            [
                "01219e3a8b347eef"
            ]
        ]
    },
    {
        "id": "a151578cd586fe8f",
        "type": "change",
        "z": "a2eedfeb9099d8dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1220,
        "wires": [
            [
                "01219e3a8b347eef"
            ]
        ]
    },
    {
        "id": "bba3d6cb41d188e1",
        "type": "link in",
        "z": "a2eedfeb9099d8dc",
        "name": "OPC-UA Servidor_In",
        "links": [
            "3f114835a96ad061"
        ],
        "x": 1935,
        "y": 1200,
        "wires": [
            [
                "efa81a816eee053b"
            ]
        ]
    },
    {
        "id": "01219e3a8b347eef",
        "type": "s7 out",
        "z": "a2eedfeb9099d8dc",
        "endpoint": "c6a95109.d4318",
        "variable": "Q_101_Panel_I7",
        "name": "Q_101_Panel_I7",
        "x": 2530,
        "y": 1200,
        "wires": []
    }
]